<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <label>Memorial:</label>
            {% if member.isPlatformMaster or member.isPlatformAdmin %}
                <select id="memorial" class="form-control selected" title="Estado">
                    <option value="-1"> Memorial &raquo; Todos </option>
                    {% for key, name in allMemorials %}
                        <option value="{{ key }}"> {{ name|capitalize|trans }} </option>
                    {% endfor %}
                </select>
            {% else %}
                {{ memorial.name }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <label>Nível de desconto:</label>
            {% if member.isPlatformMaster or member.isPlatformAdmin  or member.isPlatformCommercial %}
                <select id="level" class="form-control selected" title="Estado">
                    <option value="-1"> Niveis &raquo; Todos </option>
                    {% for key, level in allLevels %}
                        <option value="{{ key }}"> {{ level|capitalize|trans }} </option>
                    {% endfor %}
                </select>
            {% else %}
                {{ level|trans }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <label>Quantidade de sistemas:</label>
            <input class="form-control" type="text" id="quantity" name="quantity" placeholder="Digite a quantidade">
        </div>
    </div>
    <div class="row">
        <div class="hr-line-dashed"></div>
    </div>
</div>

<script>

    $('#quantity').TouchSpin({
        min: 1,
        max: 10
    });

</script>
