{% extends view('layout') %}

{% block body %}

    {% set isMaster = app.user.isPlatformMaster %}

    {% macro formInfo(form) %}

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label> {{ form.vars.name|capitalize|trans }} </label>
                </div>
                <div class="col-md-5">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Nome">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ form_widget(form.name, {attr:{class:'form-control', placeholder: 'Nome'}}) }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email, {attr:{class:'form-control', placeholder: 'Email'}}) }}
                    </div>
                </div>
            </div>
        </div>

    {% endmacro %}

    {% import _self as this %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            {{ form_start(form) }}

            {% set form_params = form.parameters %}

            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content" style="min-height: 650px;">
                            <div class="row">

                                <div class="col-md-12" id="spinner_settings" style="height: 30px;">
                                    {% include view('helper.spinner') %}
                                </div>

                                <div class="col-md-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">

                                            {% if isMaster %}
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab-1" aria-expanded="false">
                                                    <i class="fa fa-dashboard"></i> Parâmetros da Plataforma
                                                </a>
                                            </li>
                                            {% endif %}

                                            <li class="{{ not isMaster ? 'active' }}">
                                                <a data-toggle="tab" href="#tab-2" aria-expanded="true">
                                                    <i class="fa fa-briefcase"></i> Parâmetros de Negócio
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">

                                            {% if isMaster %}

                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <div class="row">

                                                    <div class="col-lg-6">
                                                        <div class="panel panel-success">
                                                            <div class="panel-heading">
                                                                <i class="fa fa-briefcase"></i> Informações Administrativas
                                                            </div>
                                                            <div class="panel-body">

                                                                {% set form_master = form_params.master %}
                                                                {% set form_admin = form_params.admin %}
                                                                {% set form_platform = form_params.platform %}

                                                                {{ this.formInfo(form_platform) }}

                                                                {{ this.formInfo(form_master) }}

                                                                {{ this.formInfo(form_admin) }}

                                                            </div>

                                                        </div>
                                                    </div>

                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}

                                            <div id="tab-2" class="tab-pane {{ not isMaster ? 'active' }}">
                                                <div class="panel-body">
                                                   <div class="row">

                                                       <div class="col-lg-6">
                                                           <div class="panel panel-primary">
                                                               <div class="panel-heading">
                                                                   <i class="fa fa-briefcase"></i> Status de Recursos
                                                               </div>
                                                               <div class="panel-body">

                                                                   {{ form_widget(form_params.enable_promo) }} &nbsp;
                                                                   {{ form_label(form_params.enable_promo, 'Ativar orçamentos promocionais') }}

                                                               </div>

                                                           </div>
                                                       </div>

                                                   </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 hide">
                    {{ form_rest(form) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        var spinnerSettings = $('#spinner_settings');
        var spinnerLoader = spinnerSettings.html();

        var formSettings = $('form[name="settings"]');

        function changeSpinner(display) {
            if (display) {
                spinnerSettings.html(spinnerLoader);
            } else {
                spinnerSettings.html('&nbsp;');
            }
        }
        changeSpinner();

        formSettings.on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            changeSpinner(true);
            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: form.serialize(),
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        changeSpinner(false);
                    } else {
                        swal('Ooops', 'Houve uma falha ao processar as configurações', 'error');
                    }
                }
            });
        });

        formSettings.find('input').on('change', function () {
            formSettings.trigger('submit');
        });

    </script>

{% endblock %}
