{% extends view('layout') %}

{% block body %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <style>
        .choices-roof {
            width: 5%;
        }
        #settings_parameters_enabled_roof_types label {
            width: 95%;
        }
        .choices-promo-levels {
            width: 5%;
        }
        #settings_parameters_promo_enabled_levels label {
            width: 95%;
        }
        .editor-config {
            border: 1px solid rgba(10, 10, 10, 0.2) ;
            border-radius: 2px;
        }
        .editor-container {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

    {% set isMaster = app.user.isPlatformMaster %}

    {% macro formInfo(form) %}

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label> {{ form.vars.name|capitalize|trans }} </label>
                </div>
                <div class="col-md-5">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Nome">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ form_widget(form.name, {attr:{class:'form-control', placeholder: 'Nome'}}) }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email, {attr:{class:'form-control', placeholder: 'Email'}}) }}
                    </div>
                </div>
            </div>
        </div>

    {% endmacro %}

    {% macro formLevel(form) %}

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label> {{ form.vars.name|capitalize|trans }} </label>
                </div>
                <div class="col-md-6">
                    <div class="input-group m-b">
                            <span class="input-group-addon" title="Valor">
                                <i class="fa fa-usd"></i>
                            </span>
                        {{ form_widget(form.amount, {attr:{class:'form-control', placeholder: 'Valor'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group m-b">
                        {{ form_widget(form.days, {attr:{class:'form-control', placeholder: 'Dias'}}) }}
                    </div>
                </div>
            </div>
        </div>

    {% endmacro %}

    {% import _self as this %}

    <div  class="wrapper wrapper-content">
        <div class="row">

            {{ form_start(form) }}

            {% set form_params = form.parameters %}

            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content" style="min-height: 650px;">
                            <div class="row">

                                <div class="col-md-12" id="spinner_settings" style="height: 30px;">
                                    {% include view('helper.spinner') %}
                                </div>

                                <div class="col-md-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">

                                            {% if isMaster %}
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab-1" aria-expanded="false">
                                                    <i class="fa fa-dashboard"></i> Parâmetros da Plataforma
                                                </a>
                                            </li>
                                            {% endif %}

                                            <li class="{{ not isMaster ? 'active' }}">
                                                <a data-toggle="tab" href="#tab-2" aria-expanded="true">
                                                    <i class="fa fa-briefcase"></i> Parâmetros de Negócio
                                                </a>
                                            </li>

                                            {% if isMaster %}
                                                <li>
                                                    <a data-toggle="tab" href="#tab-3">
                                                        <i class="fa fa-bar-chart"></i> Parâmetros de Níveis
                                                    </a>
                                                </li>
                                            {% endif %}

                                            <li>
                                                <a data-toggle="tab" href="#tab-4" aria-expanded="true">
                                                    <i class="fa fa-ticket"></i> Parâmetros de Cupom
                                                </a>
                                            </li>

                                            {% if isMaster %}
                                                <li>
                                                    <a data-toggle="tab" href="#tab-5" aria-expanded="true">
                                                        <i class="fa fa-list"></i> Sices Express
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                        <div class="tab-content">

                                            {% if isMaster %}

                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Informações Administrativas
                                                                </div>
                                                                <div class="panel-body">

                                                                    {% set form_master = form_params.master %}
                                                                    {% set form_admin = form_params.admin %}
                                                                    {% set form_platform = form_params.platform %}
                                                                    {% set form_financial = form_params.financial %}
                                                                    {% set form_juristic = form_params.juristic %}

                                                                    {{ this.formInfo(form_platform) }}

                                                                    {{ this.formInfo(form_master) }}

                                                                    {{ this.formInfo(form_admin) }}

                                                                    {{ this.formInfo(form_financial) }}

                                                                    {{ this.formInfo(form_juristic) }}

                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Gerador de Sistemas
                                                                </div>
                                                                <div class="panel-body">

                                                                    {{ form_label(form_params.enabled_roof_types, 'Tipos de estruturas disponíveis') }}
                                                                    {{ form_widget(form_params.enabled_roof_types) }} &nbsp;

                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.fdi_min, 'FDI mínimo') }}
                                                                            {{ form_widget(form_params.fdi_min, {attr:{class:'form-control', 'data-mask':'0,00', placeholder:"FDI mínimo"}}) }}
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.fdi_max, 'FDI máximo') }}
                                                                            {{ form_widget(form_params.fdi_max, {attr:{class:'form-control', 'data-mask':'0,00', placeholder:"FDI máximo"}}) }}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Validade de Orçamentos
                                                                </div>
                                                                <div class="panel-body">

                                                                    {% set form_order_expiration = form_params.order_expiration_days.vars.prototype %}

                                                                    <div id="inputs_order_expiration"></div>

                                                                    <div>
                                                                        <span data-prototype="{{ form_widget(form_order_expiration.status, {attr:{class:'hide', 'data-status':''}})|e('html_attr') }}"></span>
                                                                        <span data-prototype="<div class='col-md-2 text-center'>{{ form_label(form_order_expiration.days, 'Número de dias')|e('html_attr') }}
                                                                                {{ form_widget(form_order_expiration.days, {attr:{class:'form-control form-input-number'}})|e('html_attr') }}</div>"></span>
                                                                        <span data-prototype="<div class='col-md-7 text-center'>{{ form_label(form_order_expiration.note, 'Frase exibida ao usuário')|e('html_attr') }}
                                                                                {{ form_widget(form_order_expiration.note, {attr:{class:'form-control'}})|e('html_attr') }}</div>"></span>
                                                                    </div>

                                                                    <div class="col-md-12 text-right border-bottom" style="padding-bottom: 10px">
                                                                        <button id="add_expiration" class="btn btn-primary" type="button">Nova validade</button>
                                                                    </div>

                                                                    <div class="col-md-12" style="padding-top: 10px">
                                                                        <div class="col-md-2 text-right"><label>Status</label></div>
                                                                        <div class="col-md-2 text-center"><label>Números de dias</label></div>
                                                                        <div class="col-md-8 text-center"><label>Frase exibida ao usuário</label></div>
                                                                        {% for key, validate in form_params.order_expiration_days %}
                                                                        <div id="{{ key }}">
                                                                            <div style="float: left; width: 100%; margin-bottom: 10px"></div>
                                                                            <div class="col-md-2 text-right"><label>{{ statusNames[validate.status.vars.value]|trans }}</label></div>
                                                                            <div class="col-md-2">{{ form_widget(validate.days, {attr:{class:'form-control input-number'}}) }}</div>
                                                                            <div class="col-md-7">{{ form_widget(validate.note, {attr:{class:'form-control'}}) }}</div>
                                                                            <div class="col-md-1"><button class="btn btn-danger" data-remove="{{ key }}" type="button"><i class="fa fa-remove"></i></button></div>
                                                                        </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}

                                            <div id="tab-2" class="tab-pane {{ not isMaster ? 'active' }}">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Status de Recursos
                                                                </div>
                                                                <div class="panel-body">

                                                                    <div class="col-md-12">
                                                                        <div>
                                                                            {{ form_widget(form_params.enable_promo) }} &nbsp;
                                                                            {{ form_label(form_params.enable_promo, 'Ativar orçamentos promocionais') }}
                                                                        </div>
                                                                            {{ form_label(form_params.promo_enabled_levels, 'Níveis com disponibilidade de orçamentos promocionais', {label_attr:{id:'promo_enabled_levels_label'}})}}
                                                                            {{ form_widget(form_params.promo_enabled_levels) }}
                                                                        <div>

                                                                        </div>

                                                                        <div class="editor-container" id="promo-phrase-container">
                                                                            <label>Frase para Orçamentos Promocionais</label>
                                                                            <div class="editor-config" id="promo-phrase">
                                                                            </div>
                                                                        </div>

                                                                        <div class="color-alert" id="promo-color">
                                                                            <button class="jscolor {valueElement:'valueInput', styleElement:'styleInput'}">
                                                                                Cor de fundo da mensagem
                                                                            </button>
                                                                        </div>

                                                                        <div class="alert alert-success" hidden id="styleInput"></div>


                                                                        <div class="alert alert-success" id="show-back-phrase">
                                                                           <span class="font-promotional" id="show-promo-phrase">
                                                                           </span>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.shipping_included, 'Habilitar frete INCLUSO') }}
                                                                            {{ form_widget(form_params.shipping_included) }} &nbsp;
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.shipping_included_max_power, 'Potência limite para frete INCLUSO') }}
                                                                            {{ form_widget(form_params.shipping_included_max_power, {attr:{class:'form-control'}}) }}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Finame
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="col-md-12">
                                                                        <div>
                                                                            {{ form_widget(form_params.enable_finame) }}
                                                                            {{ form_label(form_params.enable_finame, 'Ativar Finame') }}
                                                                        </div>

                                                                        <div class="editor-container" id="finame-phrase-container">
                                                                            <label>Frase para Finame</label>
                                                                            <div class="editor-config" id="finame-phrase">
                                                                            </div>
                                                                        </div>

                                                                        <div class="color-alert" id="finame-color">
                                                                            <button class="jscolor {valueElement:'valueInput', styleElement:'styleInputFiname'}">
                                                                                Cor de fundo da mensagem
                                                                            </button>
                                                                        </div>

                                                                        <div hidden id="styleInputFiname"></div>


                                                                        <div class="alert alert-success" id="show-back-finame-phrase">
                                                                           <span class="font-promotional" id="show-finame-phrase">
                                                                           </span>
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.finame_shipping_included, 'Habilitar frete INCLUSO') }}
                                                                            {{ form_widget(form_params.finame_shipping_included) }}
                                                                        </div>

                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.finame_shipping_included_max_power, 'Potência limite para frete INCLUSO') }}
                                                                            {{ form_widget(form_params.finame_shipping_included_max_power, {attr:{class:'form-control'}}) }}
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   </div>

                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Configurações Comerciais
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="col-md-6">
                                                                        <div>
                                                                            {{ form_label(form_params.max_order_discount, 'Desconto máximo em margens') }} &nbsp;
                                                                            {{ form_widget(form_params.max_order_discount, {attr:{class:'form-control', placeholder:"Desconto máximo em margens"}}) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div>
                                                                            {{ form_label(form_params.max_commercial_discount, 'Desconto máximo comercial') }} &nbsp;
                                                                            {{ form_widget(form_params.max_commercial_discount, {attr:{class:'form-control', placeholder:"Desconto máximo comercial"}}) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if isMaster %}

                                                <div id="tab-3" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading">
                                                                        <i class="fa fa-briefcase"></i> Troca de Nível
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        {% set form_partner = form_params.account_level_handler.levels.partner %}
                                                                        {% set form_premium = form_params.account_level_handler.levels.premium %}
                                                                        {% set form_platinum = form_params.account_level_handler.levels.platinum %}
                                                                        {% set form_black = form_params.account_level_handler.levels.black %}
                                                                        {% set form_titanium = form_params.account_level_handler.levels.titanium %}

                                                                        {{ this.formLevel(form_partner) }}
                                                                        {{ this.formLevel(form_premium) }}
                                                                        {{ this.formLevel(form_platinum) }}
                                                                        {{ this.formLevel(form_black) }}
                                                                        {{ this.formLevel(form_titanium) }}

                                                                        <div class="row">
                                                                            <div class="form-group">
                                                                                <div class="col-md-6">
                                                                                    {{ form_label(form_params.account_level_handler.grace_period, 'Carência para bloqueio') }}
                                                                                    {{ form_widget(form_params.account_level_handler.grace_period, {attr:{class:'form-control', placeholder: 'Carência em dias'}}) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endif %}

                                            <div id="tab-4" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Opções de cupom
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            {{ form_widget(form_params.coupon_order_rescue) }}
                                                                            {{ form_label(form_params.coupon_order_rescue, 'Ativar resgate de pontos') }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.coupon_order_percent, 'Percentual máximo para cupom') }}
                                                                            {{ form_widget(form_params.coupon_order_percent, {attr:{class:'form-control', placeholder: 'Percentual'}}) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            {{ form_label(form_params.coupon_step_options, 'Multiplicador/Passo') }}
                                                                            {{ form_widget(form_params.coupon_step_options, {attr:{class:'form-control', placeholder: 'Intervalo'}}) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% if isMaster %}
                                                <div id="tab-5" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-heading">
                                                                        <i class="fa fa-briefcase"></i> Parcelamento
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <div class="col-md-3">
                                                                                {{ form_label(form_params.getnet_number_of_installments, 'Número de parcelas s/juros') }}
                                                                                {{ form_widget(form_params.getnet_number_of_installments) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 hide">
                    {{ form_rest(form) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="{{ asset('assets/proposal2/jscolor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script>

        OrderExpirations = {
            refresh: false,
            content: $('#inputs_order_expiration'),
            add_expiration: $('#add_expiration'),
            inputs_prototype: $('[data-prototype]'),
            select_status_html: (
                '<div class="col-md-2 text-center">' +
                '<label for="select_status">Status</label>' +
                '<select class="form-control" id="select_status">' +
                '<option value="">Status</option>' +
                {% for key, status in statusList %}
                '<option value="{{ key }}">{{ status|trans }}</option>' +
                {% endfor %}
                '</select>' +
                '</div>'
            ),
            remove_and_save_button_html: ('<br><div class="btn-group">' +
                '<button class="btn btn-success" id="save_btn" type="button">' +
                '<i class="fa fa-save"></i>' +
                '</button>' +
                '<button class="btn btn-primary" id="cancel_btn" type="button">' +
                '<i class="fa fa-remove"></i>' +
                '</button>' +
                '</div>'
            ),
            newKey: function () {
                return Math.ceil(Math.random()*1000);
            },
            addFormExpiration: function () {
                this.add_expiration.addClass('hide');

                var key = this.newKey();

                this.content.append(this.select_status_html);

                for (i = 0; i < this.inputs_prototype.length; i++) {
                    var str = eval('/__name__/g');
                    var input = $(this.inputs_prototype[i]).data('prototype').replace(str, key);

                    this.content.append(input);
                }

                this.content.append(this.remove_and_save_button_html);

                $('#save_btn').on('click', function () {
                    OrderExpirations.refresh = true;
                    formSettings.submit();
                });

                $('#cancel_btn').on('click', function () {
                    OrderExpirations.content.html('');
                    OrderExpirations.add_expiration.removeClass('hide');
                });

                $('.form-input-number').on('keyup', function () {
                    $(this).val($(this).val().replace(/\D/g,""))
                });

                $('#select_status').on('change', function () {
                    $('[data-status]').val($(this).val());
                });
            },
            listener: function () {
                this.add_expiration.on('click', function () {
                    OrderExpirations.addFormExpiration();
                });
                $('[data-remove]').on('click', function () {
                    OrderExpirations.remove($(this));
                });
                $('.input-number').on('keyup', function () {
                    $(this).val($(this).val().replace(/\D/g,""))
                });
            },
            init: function () {
                this.listener();
            },
            remove: function (element) {
                swal({
                    title: 'Atenção',
                    text: 'Confirma a remoção dessa validade de orçamento?',
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '{{ 'Confirmar'|trans }}',
                    cancelButtonText: '{{ 'Cancelar'|trans }}',
                    closeOnConfirm: false
                }, function () {

                    sweetAlert({
                        title: "Removendo...",
                        text: "Aguarde!",
                        type: "info",
                        showConfirmButton: false
                    });

                    $('#' + element.data('remove')).remove();

                    OrderExpirations.refresh = true;
                    formSettings.submit();
                });
            }
        };

        OrderExpirations.init();

        $(
            '#settings_parameters_shipping_included_max_power,' +
            '#settings_parameters_max_order_discount,' +
            '#settings_parameters_fdi_min,' +
            '#settings_parameters_fdi_max,' +
            '#settings_parameters_account_level_handler_levels_partner_amount,' +
            '#settings_parameters_account_level_handler_levels_premium_amount,' +
            '#settings_parameters_account_level_handler_levels_platinum_amount,' +
            '#settings_parameters_account_level_handler_levels_black_amount,' +
            '#settings_parameters_account_level_handler_levels_titanium_amount,' +
            '#settings_parameters_coupon_order_percent'
        ).mask('##,00',{reverse: true});

        $('#settings_parameters_getnet_number_of_installments').TouchSpin({
            initVal: 1,
            min: 1,
            max: 9999999
        });

        var inputsTouchSpin = [
            '#settings_parameters_account_level_handler_levels_partner_days',
            '#settings_parameters_account_level_handler_levels_premium_days',
            '#settings_parameters_account_level_handler_levels_platinum_days',
            '#settings_parameters_account_level_handler_levels_black_days',
            '#settings_parameters_account_level_handler_levels_titanium_days',
            '#settings_parameters_account_level_handler_grace_period,' +
            '#settings_parameters_coupon_step_options'
        ];
        for (i = 0; i < inputsTouchSpin.length; i++)
            $(inputsTouchSpin[i]).TouchSpin({
                min: 0,
                max: 9999999
            });

        var colorPromo = $('#settings_parameters_promo_background').val();
        var phrasePromo = $('#settings_parameters_promo_notice').val();

        $('#show-back-phrase').css('background-color', colorPromo);
        $('#show-promo-phrase').html(phrasePromo);
        $('#promo-phrase').html(phrasePromo);

        var colorFiname = $('#settings_parameters_finame_background').val();
        var phraseFiname = $('#settings_parameters_finame_notice').val();

        $('#show-back-finame-phrase').css('background-color', colorFiname);
        $('#show-finame-phrase').html(phraseFiname);
        $('#finame-phrase').html(phraseFiname);

        $('#promo-phrase').summernote({
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['paragraph']]
            ],
            height: 150,
            disableDragAndDrop: false,
            disableResizeEditor: true
        });

        $('.note-editor').css('min-height', 150)

        $('#promo-color .jscolor').on('blur', function () {
            var color = $('#styleInput').css('background-color')
            var promo_color = $('#settings_parameters_promo_background');
            promo_color.val(color);

            formSettings.trigger('submit');
        });

        promo_text_area =  $('#promo-phrase-container div[contenteditable]');
        function phrase_promo_editable() {
            $('#show-promo-phrase').html(promo_text_area.html());

            $('#settings_parameters_promo_notice').val(promo_text_area.html());

            formSettings.trigger('submit');
        }

        phrase_scrolling_page = function () {
            phrase_promo_editable();
            window.removeEventListener("scroll", phrase_scrolling_page);
        }

        promo_text_area.on("blur", function () {
            phrase_promo_editable();
        });

        promo_text_area.on("focus", function () {
            window.addEventListener("scroll", phrase_scrolling_page);
        });

        $('#finame-phrase').summernote({
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['paragraph']]
            ],
            height: 150,
            disableDragAndDrop: false,
            disableResizeEditor: true
        });

        $('.note-editor').css('min-height', 150)

        $('#finame-color .jscolor').on('blur', function () {
         var color = $('#styleInputFiname').css('background-color')
         var finame_color = $('#settings_parameters_finame_background');
         finame_color.val(color);

         formSettings.trigger('submit');
         });

        finame_text_area =  $('#finame-phrase-container div[contenteditable]');
        function phrase_finame_editable() {
            $('#show-finame-phrase').html(finame_text_area.html());

            $('#settings_parameters_finame_notice').val(finame_text_area.html());

            formSettings.trigger('submit');
        }

        phrase_scrolling_finame_page = function () {
            phrase_finame_editable();
            window.removeEventListener("scroll", phrase_scrolling_finame_page);
        }

        finame_text_area.on("blur", function () {
            phrase_finame_editable();
        });

        finame_text_area.on("focus", function () {
            window.addEventListener("scroll", phrase_scrolling_finame_page);
        });

        var spinnerSettings = $('#spinner_settings');
        var spinnerLoader = spinnerSettings.html();

        var formSettings = $('form[name="settings"]');

        function changeSpinner(display) {
            if (display) {
                spinnerSettings.html(spinnerLoader);
            } else {
                spinnerSettings.html('&nbsp;');
            }
        }
        changeSpinner();

        formSettings.on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            changeSpinner(true);
            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: form.serialize(),
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        changeSpinner(false);

                        color_promo = $('#settings_parameters_promo_background').val();
                        $('#show-back-phrase').css('background-color', color_promo);
                        color_finame = $('#settings_parameters_finame_background').val();
                        $('#show-back-finame-phrase').css('background-color', color_finame).val();

                        if (OrderExpirations.refresh)
                            window.location.reload();
                    } else {
                        swal('Ooops', 'Houve uma falha ao processar as configurações', 'error');
                    }
                }
            });
        });

        if($('#settings_parameters_enable_promo').attr('checked') != 'checked') {
            $('#settings_parameters_shipping_included').attr('disabled', 'disabled');
            $('#settings_parameters_promo_enabled_levels').hide();
            $('#promo_enabled_levels_label').hide();
        }

        if($('#settings_parameters_enable_finame').attr('checked') != 'checked') {
            $('#settings_parameters_finame_shipping_included').attr('disabled', 'disabled');
        }

        formSettings.find('input').on('change', function () {
            if (this.id == 'settings_parameters_enable_promo') {
                var shipping_included = $('#settings_parameters_shipping_included');

                if (this.checked) {
                    shipping_included.removeAttr('disabled');
                    $('#settings_parameters_promo_enabled_levels').show();
                    $('#promo_enabled_levels_label').show();
                } else {
                    shipping_included.attr('checked', false);
                    shipping_included.attr('disabled' , 'disabled');
                    $('#settings_parameters_promo_enabled_levels').hide();
                    $('#promo_enabled_levels_label').hide();
                }
            }

            if (this.id == 'settings_parameters_enable_finame') {
                var finame_included = $('#settings_parameters_finame_shipping_included');

                if (this.checked)
                    finame_included.removeAttr('disabled');
                else {
                    finame_included.attr('checked', false);
                    finame_included.attr('disabled', 'disabled');
                }
            }

            formSettings.trigger('submit');
        });

        var promoEndAt = $('#settings_parameters_promo_end_at');

        promoEndAt.daterangepicker({
            singleDatePicker: true,
            minDate: moment(),
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ]
            }
        });

    </script>
{% endblock %}
