{% extends view('layout') %}

{% block body %}

    {% macro formInfo(form) %}

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label> {{ form.vars.name|capitalize|trans }} </label>
                </div>
                <div class="col-md-5">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Nome">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ form_widget(form.name, {attr:{class:'form-control', placeholder: 'Nome'}}) }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email, {attr:{class:'form-control', placeholder: 'Email'}}) }}
                    </div>
                </div>
            </div>
        </div>

    {% endmacro %}

    {% import _self as this %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content flow-lg" style="min-height: 650px;">
                            <div class="row">

                                <div class="col-md-12" id="spinner_settings" style="height: 30px;">
                                    {% include view('helper.spinner') %}
                                </div>

                                <div class="col-lg-6">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <i class="fa fa-briefcase"></i> Informações Administrativas
                                        </div>
                                        <div class="panel-body">

                                            {{ form_start(form) }}

                                            {% set form_params = form.parameters %}
                                            {% set form_master = form_params.master %}
                                            {% set form_admin = form_params.admin %}
                                            {% set form_platform = form_params.platform %}

                                            {{ this.formInfo(form_platform) }}

                                            {{ this.formInfo(form_master) }}

                                            {{ this.formInfo(form_admin) }}

                                            {{ form_end(form) }}

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        var spinnerSettings = $('#spinner_settings');
        var spinnerLoader = spinnerSettings.html();

        var formSettings = $('form[name="settings"]');

        function changeSpinner(display) {
            if (display) {
                spinnerSettings.html(spinnerLoader);
            } else {
                spinnerSettings.html('&nbsp;');
            }
        }
        changeSpinner();

        formSettings.on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            changeSpinner(true);
            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: form.serialize(),
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        changeSpinner(false);
                    } else {
                        swal('Ooops', 'Houve uma falha ao processar as configurações', 'error');
                    }
                }
            });
        });

        formSettings.find('input').on('change', function () {
            formSettings.trigger('submit');
        });

    </script>

{% endblock %}
