{% extends view('layout') %}

{% block body %}

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <style>
        .choices-roof {
            width: 5%;
        }
        #settings_parameters_enabled_roof_types label {
            width: 95%;
        }
        .promo_phrase {
            border: 1px solid rgba(10, 10, 10, 0.2) ;
            border-radius: 2px;
        }
        .promo_phrase_div {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

    {% set isMaster = app.user.isPlatformMaster %}

    {% macro formInfo(form) %}

        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <label> {{ form.vars.name|capitalize|trans }} </label>
                </div>
                <div class="col-md-5">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Nome">
                            <i class="fa fa-user"></i>
                        </span>
                        {{ form_widget(form.name, {attr:{class:'form-control', placeholder: 'Nome'}}) }}
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-group m-b">
                        <span class="input-group-addon" title="Email">
                            <i class="fa fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email, {attr:{class:'form-control', placeholder: 'Email'}}) }}
                    </div>
                </div>
            </div>
        </div>

    {% endmacro %}

    {% import _self as this %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            {{ form_start(form) }}

            {% set form_params = form.parameters %}

            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content" style="min-height: 650px;">
                            <div class="row">

                                <div class="col-md-12" id="spinner_settings" style="height: 30px;">
                                    {% include view('helper.spinner') %}
                                </div>

                                <div class="col-md-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">

                                            {% if isMaster %}
                                            <li class="active">
                                                <a data-toggle="tab" href="#tab-1" aria-expanded="false">
                                                    <i class="fa fa-dashboard"></i> Parâmetros da Plataforma
                                                </a>
                                            </li>
                                            {% endif %}

                                            <li class="{{ not isMaster ? 'active' }}">
                                                <a data-toggle="tab" href="#tab-2" aria-expanded="true">
                                                    <i class="fa fa-briefcase"></i> Parâmetros de Negócio
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">

                                            {% if isMaster %}

                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <div class="row">

                                                        <div class="col-lg-6">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Informações Administrativas
                                                                </div>
                                                                <div class="panel-body">

                                                                    {% set form_master = form_params.master %}
                                                                    {% set form_admin = form_params.admin %}
                                                                    {% set form_platform = form_params.platform %}
                                                                    {% set form_financial = form_params.financial %}

                                                                    {{ this.formInfo(form_platform) }}

                                                                    {{ this.formInfo(form_master) }}

                                                                    {{ this.formInfo(form_admin) }}

                                                                    {{ this.formInfo(form_financial) }}

                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="panel panel-success">
                                                                <div class="panel-heading">
                                                                    <i class="fa fa-briefcase"></i> Gerador de Sistemas
                                                                </div>
                                                                <div class="panel-body">

                                                                    {{ form_label(form_params.enabled_roof_types, 'Tipos de telhado disponíveis') }}
                                                                    {{ form_widget(form_params.enabled_roof_types) }} &nbsp;

                                                                    <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        {{ form_label(form_params.fdi_min, 'FDI mínimo') }}
                                                                        {{ form_widget(form_params.fdi_min, {attr:{class:'form-control', 'data-mask':'0,00', placeholder:"FDI mínimo"}}) }}
                                                                    </div>

                                                                    <div class="col-md-6">
                                                                        {{ form_label(form_params.fdi_max, 'FDI máximo') }}
                                                                        {{ form_widget(form_params.fdi_max, {attr:{class:'form-control', 'data-mask':'0,00', placeholder:"FDI máximo"}}) }}
                                                                    </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            {% endif %}

                                            <div id="tab-2" class="tab-pane {{ not isMaster ? 'active' }}">
                                                <div class="panel-body">
                                                   <div class="row">

                                                       <div class="col-lg-6">
                                                           <div class="panel panel-primary">
                                                               <div class="panel-heading">
                                                                   <i class="fa fa-briefcase"></i> Status de Recursos
                                                               </div>
                                                               <div class="panel-body">

                                                                   <div class="col-md-12">
                                                                       <div>
                                                                           {{ form_widget(form_params.enable_promo) }} &nbsp;
                                                                           {{ form_label(form_params.enable_promo, 'Ativar orçamentos promocionais') }}
                                                                       </div>

                                                                       <div class="promo_phrase_div">
                                                                           <label>Frase para Orçamentos Promocionais</label>
                                                                           <div class="promo_phrase" id="promo_phrase">
                                                                           </div>
                                                                       </div>

                                                                       <div class="color-alert">
                                                                           <button class="jscolor {valueElement:'valueInput', styleElement:'styleInput'}">
                                                                               color
                                                                           </button>
                                                                       </div>

                                                                       <div class="alert alert-success" hidden id="styleInput"></div>


                                                                       <div class="alert alert-success" id="show-back-phrase">
                                                                           <span class="font-promotional" id="show_promo_phrase">
                                                                           </span>
                                                                       </div>

                                                                       <div>
                                                                           {{ form_widget(form_params.shipping_included) }} &nbsp;
                                                                           {{ form_label(form_params.shipping_included, 'Habilitar frete INCLUSO') }}
                                                                       </div>
                                                                   </div>
                                                                   <div class="col-md-4">
                                                                       {{ form_label(form_params.promo_end_at, 'Data limite') }}
                                                                       {{ form_widget(form_params.promo_end_at, {attr:{class:'form-control', placeholder:"Data limite"}})}}
                                                                   </div>

                                                               </div>

                                                           </div>
                                                       </div>

                                                       <div class="col-lg-6">
                                                           <div class="panel panel-primary">
                                                               <div class="panel-heading">
                                                                   <i class="fa fa-briefcase"></i> Configurações Comerciais
                                                               </div>
                                                               <div class="panel-body">

                                                                   <div class="col-md-6">
                                                                       <div>
                                                                           {{ form_label(form_params.max_order_discount, 'Desconto máximo permitido') }} &nbsp;
                                                                           {{ form_widget(form_params.max_order_discount, {attr:{class:'form-control', 'data-mask':'00,00', placeholder:"Desconto máximo"}}) }}
                                                                       </div>
                                                                   </div>

                                                               </div>

                                                           </div>
                                                       </div>

                                                   </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 hide">
                    {{ form_rest(form) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="{{ asset('assets/proposal2/jscolor.js') }}"></script>

    <script>

        var color = $('#settings_parameters_promo_background').val();
        $('#show-back-phrase').css('background-color', color);

        $('#promo_phrase').html($('#settings_parameters_promo_notice').val());

        $('#promo_phrase').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['paragraph']]
            ],
            height: 150,
            disableDragAndDrop: false,
            disableResizeEditor: true
        });

        $('.note-editor').css('min-height', 150)

        $('.jscolor').on('blur', function () {
            var color = $('#styleInput').css('background-color')
            var promo_color = $('#settings_parameters_promo_background');
            promo_color.val(color);

            formSettings.trigger('submit');
        });

        promo_text_area =  $('div[contenteditable]');
        function phrase_promo_editable() {
            $('#show_promo_phrase').html(promo_text_area.html());

            $('#settings_parameters_promo_notice').val(promo_text_area.html());

            formSettings.trigger('submit');
        }

        phrase_scrolling_page = function () {
            phrase_promo_editable();
            window.removeEventListener("scroll", phrase_scrolling_page);
        }

        promo_text_area.on("blur", function () {
            phrase_promo_editable();
        });

        promo_text_area.on("focus", function () {
            window.addEventListener("scroll", phrase_scrolling_page);
        });
        
        var spinnerSettings = $('#spinner_settings');
        var spinnerLoader = spinnerSettings.html();

        var formSettings = $('form[name="settings"]');

        function changeSpinner(display) {
            if (display) {
                spinnerSettings.html(spinnerLoader);
            } else {
                spinnerSettings.html('&nbsp;');
            }
        }
        changeSpinner();

        formSettings.on('submit', function (event) {
            event.preventDefault();
            var form = $(this);
            changeSpinner(true);
            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: form.serialize(),
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        changeSpinner(false);
                        color = $('#settings_parameters_promo_background').val();
                        $('#show-back-phrase').css('background-color', color);
                    } else {
                        swal('Ooops', 'Houve uma falha ao processar as configurações', 'error');
                    }
                }
            });
        });

        if($('#settings_parameters_enable_promo').attr('checked') != 'checked')
            $('#settings_parameters_shipping_included').attr('disabled' , 'disabled');

        formSettings.find('input').on('change', function () {
            if (this.id == 'settings_parameters_enable_promo') {
                var shipping_included = $('#settings_parameters_shipping_included');

                if (this.checked)
                    shipping_included.removeAttr('disabled');
                else {
                    shipping_included.attr('checked', false);
                    shipping_included.attr('disabled' , 'disabled');
                }
            }

            formSettings.trigger('submit');
        });

        var promoEndAt = $('#settings_parameters_promo_end_at');

        promoEndAt.daterangepicker({
            singleDatePicker: true,
            minDate: moment(),
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ]
            }
        });
    </script>
{% endblock %}
