<style>
    input[name="filter_value"] {
        width: 250px !important;
    }
    .table-accounts a[title] {
        color: #676a6c;
        text-decoration: none;
    }

    tr[data-url-account]:hover{
        background-color: #F3F3F3;
        cursor: pointer;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr class="m-table-header">
            <th colspan="4">
                <h2 class="text-center">Contas</h2>
                <div class="col-md-3" style="margin-bottom: 10px">
                    {% include view('admin/helper/states_filter.html.twig') %}
                </div>

                {{ knp_pagination_filter(pagination, {'a.lastname, a.firstname, a.document, a.email':''}) }}
            </th>
        </tr>
        <tr class="m-table-header table-accounts">
            <th width="54%">
                Nome Fantasia
            </th>
            <th width="30%"> CNPJ </th>
            <th width="16%" {% if pagination.isSorted('a.ranking') %} class="sorted" {%  endif %}>
                <i {% if pagination.isSorted('a.ranking') %} class="fa fa-sort-numeric-{{ pagination.direction}}"
                {% else %} class="fa fa-sort" {% endif %}></i>
                {{ knp_pagination_sortable(pagination, 'Pontos', 'a.ranking') }} </th>
        </tr>
    </thead>
    <tbody>
        {% for account in pagination.items %}
        <tr data-url-account="{{ route('transaction_ranking', {id:account.id}) }}">
            <td>{{ account.lastname }}</td>
            <td>{{ account.document }}</td>
            <td>{{ account.ranking }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="text-center" colspan="5">
                <div class="row text-center">
                    <div id="pagination_accounts_list" class="btn-group bt-xs">
                            {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>

    var form = $('#form_filtration');

    StateFilter(form);

    form.on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: form.attr('action'),
            method: 'get',
            data: form.serialize(),
            complete: function (xhr) {
                Ranking.accountsBlock.html(xhr.responseText);
            }
        });
    });

    var sortable = $('[title]');

    sortable.on('click', function (event) {
        event.preventDefault();

        $.ajax({
            url: sortable.attr('href'),
            method: 'get',
            data: sortable.serialize(),
            complete: function (xhr) {
                Ranking.accountsBlock.html(xhr.responseText);
            }
        });
    });

    $(' #pagination_accounts_list ul[class="pagination"] li a ').toArray().forEach(function (el) {
        $(el).attr('data-page-account', $(el).attr('href'));
        $(el).removeAttr('href');
    });

    $(' [data-page-account] ').on( 'click', function () {
        var url = $(this).data('page-account');
        Ranking.setUrl(url);
        $.ajax({
            url: url,
            method: 'get',
            complete: function (xhr) {
                Ranking.accountsBlock.html(xhr.responseText);
            }
        });
    });

    $(' [data-url-account] ').on( 'click', function () {
        var urlAccount = $(this).data('url-account');
        Ranking.loadTransaction(urlAccount);
    });

</script>
