<style>
    .spacing-top {
        margin-top: 10px;
    }
</style>

<div class="modal inmodal" id="modal_transaction" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                {% include view('helper.spinner') %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="bt_save_transaction">
                    <i class="fa fa-check-square-o"></i> {{ 'Save'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

{% set isPlatform = app.user.isPlatform %}
{% set showActions = (app.user.isPlatformAdmin or app.user.isPlatformMaster) %}

<table id="table_transaction" data-transactions="{{ route('list_transactions_ranking', {id:account.id}) }}" class="table table-bordered">
    <thead>
    <tr class="m-table-header">
        <th colspan="{{ isPlatform ? '4' : '3' }}">
            <h2 class="text-center">
                {% if isPlatform %}
                    {{ account.lastname }} <br>
                {% endif %}
                Saldo atual: <strong>{{ amount ? amount : 0 }} Pontos</strong>
            </h2>

            {#<form id="transactions_filter" action="{{ route('list_transactions_ranking', {id:component.id, family:component.family}) }}">#}
                {#<div class="col-md-1 filters">#}
                    {#<button type="button" id="clear" class="btn btn-primary pull-right"><i class="fa fa-eraser"></i></button>#}
                {#</div>#}
                {#<div class="col-md-5 filters">#}
                    {#<input id="date" name="date" class="form-control" placeholder="Filtrar por data">#}
                {#</div>#}
                {#<div class="col-md-6 filters">#}
                    {#<input type="hidden" value="t.description" name="filter_name">#}
                    {#<input id="filter_value" name="filter_value" class="form-control" placeholder="Pesquisar">#}
                {#</div>#}

                {#<div class="col-md-2 filters spacing-top pull-right">#}
                    {#<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Filtrar</button>#}
                {#</div>#}
                {#{% if app.user.PlatformAdmin or app.user.PlatformMaster %}#}
                {#<div class="col-md-3 filters spacing-top pull-right">#}
                {#</div>#}
            {#</form>#}
        </th>
    </tr>
    <tr class="m-table-header">
        <th>
            Descrição
        </th>
        <th>
            Quantidade
        </th>
        <th class="col-md-3">
            Data
        </th>
        {% if showActions %}
        <th>
            <button class="btn btn-success pull-right" data-url="{{ path('create_ranking', {id:account.id}) }}" data-toggle="modal" data-target="#modal_transaction">
                <i class="fa fa-plus-square"></i> Pontuação
            </button>
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody id="transaction_content">
    </tbody>
</table>

<script>

    $('#bt_save_transaction').click(function () {
        $('#btn_transaction').trigger('click');
    });

    TransactionRanking = {
       // form: $('#transactions_filter'),
        modalTransaction: $('#modal_transaction'),
        tableTransaction: $('#table_transaction'),
        transactionContent: $('#transaction_content'),
        loadTransactions: function () {
            $.ajax({
                url: TransactionRanking.tableTransaction.data('transactions'),
                complete: function (xhr) {
                    TransactionRanking.transactionContent.html(xhr.responseText);
                }
            });
        },
        formTransaction: function () {
            this.modalTransaction.on('show.bs.modal', function (event) {
                {% if isPlatform %}
                var target = $(event.relatedTarget);
                var url = target.data('url');

                $.ajax({
                    url: url,
                    success: function (response) {
                        TransactionRanking.modalTransaction.find('.modal-body').html(response);
                    }
                });
                {% endif %}
            })
        },
        {#datePicker: function (element) {#}
            {#element.daterangepicker({#}
                {#locale: {#}
                    {#format: 'DD/MM/YYYY',#}
                    {#daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],#}
                    {#monthNames: [#}
                        {#"Janeiro",#}
                        {#"Fevereiro",#}
                        {#"Março",#}
                        {#"Abril",#}
                        {#"Maio",#}
                        {#"Junho",#}
                        {#"Julho",#}
                        {#"Agosto",#}
                        {#"Setembro",#}
                        {#"Outubro",#}
                        {#"Novembro",#}
                        {#"Dezembro"#}
                    {#]#}
                {#}#}
            {#});#}
            {#element.val('');#}
        {#},#}
        {#clear: function () {#}
            {#$('#date').val('');#}
            {#$('#filter_value').val('');#}
        {#},#}
        {#filter: function () {#}
            {#this.form.on('submit', function (event) {#}
                {#event.preventDefault();#}
                {#$.ajax({#}
                    {#url: this.action,#}
                    {#data: TransactionRanking.form.serialize(),#}
                    {#complete: function (xhr) {#}
                        {#TransactionRanking.transactionContent.html(xhr.responseText);#}
                    {#}#}
                {#});#}
            {#});#}
        {#},#}
        init: function () {
            //this.filter();
            this.loadTransactions();
            //this.datePicker($('#date'));
            this.formTransaction();
            //$('#clear').on('click', function () {
            //    TransactionRanking.clear();
            //})
        }
    };

    TransactionRanking.init();
</script>
