{% set transactions = pagination.items %}
{% set isPlatform = app.user.isPlatform %}
{% set showActions = (app.user.isPlatformAdmin or app.user.isPlatformMaster) %}

{% for transaction in transactions %}
    <tr>
        <td>
            {{ transaction.description }}
        </td>
        <td>
            {{ transaction.amount }}
        </td>
        <td>
            {{ transaction.createdAt|date('d/m/Y H:i') }}
        </td>
        {% if showActions %}
        <td class="text-center">
            <span class="btn-group">
                <button class="btn btn-success" data-url="{{ path('transaction_edit', {id: transaction.id}) }}" data-toggle="modal" data-target="#modal_transaction">
                    <i class="fa fa-pencil"></i>
                </button>

                <button class="btn btn-danger" data-delete="{{ route('delete_ranking', {id:transaction.id}) }}">
                    <i class="fa fa-trash"></i>
                </button>
            </span>
        </td>
        {% endif %}
    </tr>
{% endfor %}

<tr>
    <td colspan="{{ isPlatform ? '4' : '3' }}">
        <div class="row text-center">
            <div id="pagination_transaction" class="btn-group bt-xs">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </td>
</tr>

<script>
    $(' #pagination_transaction ul[class="pagination"] li a ').toArray().forEach(function (el) {
        rout = $(el).attr('href');
        $(el).removeAttr('href');
        $(el).attr('data-page-transaction', rout);
    });

    $(' [data-page-transaction] ').on( 'click', function () {
        var url = $(this).data('page-transaction');
        $.ajax({
            url: url,
            method: 'get',
            complete: function (xhr) {
                TransactionRanking.transactionContent.html(xhr.responseText);
            }
        });
    });

    $(' [data-delete] ').on( 'click', function () {
        var url = $(this).data('delete');

        swal({
            title: "Confirma exclusão desta pontuação?",
            text: null,
            type: "info",
            showCancelButton: true,
            cancelButtonText: "{{ 'Cancel'|trans }}",
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "{{ 'Confirm'|trans }}",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: url,
                method: 'delete',
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        swal("{{ 'Success'|trans }}", "Exclusão efetuada com sucesso!", "success");
                        Ranking.reloadContent();
                        window.setTimeout(function(){
                            swal.close();
                        }, 1000);
                    } else {
                        swal("{{ 'Error'|trans }}!", 'Falha ao excluir', "error");
                    }
                },
                beforeSend: function () {
                    swal({
                        title: "Excluindo...",
                        text: "Aguarde",
                        type: "info",
                        showConfirmButton: false
                    });
                }
            });
        });
    });
</script>

