<link href="{{ asset('assets/iCheck/custom.css') }}" rel="stylesheet">
<link href="{{ asset('assets/iCheck/skins/all.css') }}" rel="stylesheet">

{% for insurance in insurances %}
    {% set hasAdditive = project.hasAdditive(insurance) %}
    {% if hasAdditive or insurance.enabled %}

    <div class="row">
        <div class="form-group col-md-8">
            <label style="font-size: small; text-align: justify; font-weight: lighter;">
                {{ insurance.description }}
            </label>
        </div>

        <div class="form-group col-md-2 text-center" >
            <label>
                {{ insurance.name }}<br>
                <input class="i-checks" type="checkbox"
                       data-url="{{ hasAdditive ? path('delete_project_additive', {projectAdditive: hasAdditive.id})
                                    : path('create_project_additive', {project:project.id, additive: insurance.id }) }}"
                        {{ hasAdditive ? 'checked="checked"' }}/> &nbsp;
            </label>
        </div>

        <div class="form-group col-md-2 text-center">
            <label> Valor do Seguro </label>
            <h2> {{ hasAdditive ? hasAdditive.total|currency : 0|currency }} </h2>
        </div>

    </div>
    <hr class="hr-line-dashed">
    {% endif %}
{% endfor %}
<script src="{{ asset('assets/iCheck/icheck.js') }}"></script>
<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green'
    });

    $('.i-checks').on('ifChanged', function(){
        var url = $(this).data('url');

        $(this).attr('disabled', 'disabled');

        $.ajax({
            url: url,
            complete: function () {
                InsurancesHandler.loadInsurances();
            }
        });
    });
</script>
