{{ form_start(form,{attr:{enctype:'multipart/form-data', id:'extra'}}) }}

<div class="col-md-12 padding-0">
    <div class="form-group col-md-6">
        <label> Descrição </label>
        {{ form_widget(form.description,{attr:{class:'form-control', rows:'1', 'placeholder':'Item'}}) }}
    </div>

    <div class="form-group col-md-2">
        <label> &nbsp; </label>
        <button id="extra_btn" type="submit" class="btn btn-block btn-primary ladda-button" data-style="zoom-in">
            <i class="fa fa-plus"></i> {{ 'Add'|trans }}
        </button>
    </div>

    <div class="form-group col-md-2">
        <label> &nbsp; </label>
        <a class="btn btn-block btn-default" onclick="Extra.form.reset();">
            <i class="fa fa-times"></i> {{ 'Cancel'|trans }}
        </a>
    </div>
</div>
<div class="col-md-12 padding-0">
    <div class="form-group col-md-3">
        {{ form_label(form.type, 'Tipo') }}
        {{ form_widget(form.type,{attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group col-md-3">
        {{ form_label(form.pricingBy, 'Preço') }}
        {{ form_widget(form.pricingBy,{attr:{class:'form-control'}}) }}
    </div>

    <div class="form-group col-md-2">
        <label id="labelCostPrice"></label>
        {{ form_widget(form.costPrice,{attr:{class:'form-control', 'placeholder': 'R$ 000,00'|trans}}) }}
    </div>
</div>
{{ form_end(form) }}

{% include view('helper.numbers') %}

<script src="{{ asset('assets/plugins/mask-money/jquery.maskMoney.js') }}"></script>
<script>
    $(function(){
        $("#appbundle_component_extra_costPrice").maskMoney({
            thousands:'', decimal:','
        });
    });

    $(document).ready(function () {
        edit($('#appbundle_component_extra_pricingBy').val());
    });

    $('#appbundle_component_extra_pricingBy').change(function () {
        edit($(this).val());
    });

    function edit(pricingBy){
        if(pricingBy == 0){
            $('#labelCostPrice').html('Valor (R$)')
        }else {
            $('#labelCostPrice').html('Valor (R$/kWp)')
        }
    }

</script>
