{% extends view('layout') %}

{% block body %}
{#    {% set extras = pagination.items %}#}

    <style>
        .padding-0{
            padding: 0;
        }
    </style>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        &nbsp; <i class="fa fa-plus-square"></i> Cadastro dos meus Itens
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-cog"></i> Meus Itens
                            </div>
                            <div class="panel-body">

                                {{ render(controller('AppBundle:Extra:create',{request: app.request})) }}
                                <div class="col-md-12" ><label></label></div>
                                <div class="col-md-12 flow-h" id="extra_index">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}

    <script>

        var Extra = {
            form: {
                element: $('#extra'),
                button: $('#extra_btn'),
                action: '{{ path('extras_create') }}',
                define: function (data) {
                    $('#appbundle_component_extra_description').val(data.description);
                    $('#appbundle_component_extra_type').val(data.type);
                    $('#appbundle_component_extra_pricingBy').val(data.pricingBy);
                    $('#appbundle_component_extra_costPrice').val(data.costPrice);
                },
                reset: function () {
                    Extra.form.define({description: '', type: '0', pricingBy: '0', costPrice: ''});
                    Extra.form.action = '{{ path('extras_create') }}';
                    Extra.form.button.html('<i class="fa fa-plus"></i> Adicionar').ladda();
                }
            },
            save: function () {
                Extra.form.button.ladda('start');
                $.ajax({
                    url: Extra.form.action,
                    method: 'post',
                    data: Extra.form.element.serialize(),
                    complete: function (xhr) {
                        if (200 == xhr.status || 201 == xhr.status) {
                            Extra.form.define({description: '', type: '0', pricingBy: '0', costPrice: ''});
                            Extra.form.action = '{{ path('extras_create') }}';
                            Extra.index();
                        } else {

                        }

                        Extra.form.button.ladda('stop').html('<i class="fa fa-plus"></i> {{ 'Add'|trans }}').ladda();
                    }
                });
            },
            index: function () {
                $.ajax({
                    url: '{{ path('extras_all') }}',
                    success: function (response) {
                        $('#extra_index').html(response);
                    }
                });
            },
            remove: function (url) {
                swal({
                    title: "Confirmar exclusão?",
                    text: null,
                    type: "info",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Excluir",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {_method: 'delete'},
                        complete: function (xhr) {
                            swal("Exclusão efetuada com sucesso!", "", "success");
                            Extra.index();
                            window.setTimeout(function () {
                                swal.close();
                            }, 500);
                            woopra.track('margens');
                        },
                        beforeSend: function () {
                            swal({
                                title: "Excluindo...",
                                text: "Aguarde!",
                                type: "info",
                                showConfirmButton: false
                            });
                        }
                    });
                });
            },
            init: function () {

                Extra.index();

                Extra.form.button.ladda();

                this.form.element.on('submit', function (event) {
                    event.preventDefault();
                    Extra.save();
                });

            }
        };

        Extra.init();

    </script>
{% endblock %}
