<style>

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
        background-color: #f0c674;
        border-color: #f0c674;
        color: #fff;
    }
    .btn-warning{
        background-color: #F8A41A !important;
    }
    .btn-danger{
        background-color: #F81118;
    }

</style>

{% set _route = app.request.attributes.get('_route') %}

    {% set display = query.display %}
    {% set is_grid = 'grid' == display %}
    {% set is_strict = 1 == query.strict %}

    {% set _route_params = app.request.attributes.get('_route_params')|merge(query|merge({'display':is_grid ? 'list' : 'grid' })) %}


<div class="modal inmodal fade" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="detail_structure">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    {{ 'Close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

{% macro structure_buttons(structure, extra) %}

    {% set member = extra %}

    <div class="btn-group btn-group-sm btn-group-justified">
        <a data-url="{{ path('structure_preview', { 'id': structure.id }) }}"
           data-toggle="modal"
           data-target="#modal_details"
           class="btn btn-default">
            <i class="fa fa-eye"></i> {{ 'View'|trans }}
        </a>

        {% if member.isAdmin %}
            <a href="{{ path('structure_update', { 'id': structure.id }) }}"
               class="btn btn-success">
                <i class="fa fa-pencil"></i> {{ 'Edit'|trans }}
            </a>
        {% endif %}

    </div>

{% endmacro %}

    {% import _self as handler %}

<div class="row">
    {{ knp_pagination_filter(pagination, {'s.description, s.type, s.subtype, s.code':''}) }}

    <div class="col-md-2">
        <a href="{{ path(_route, _route_params) }}" class="btn btn-default btn-block">
            <i class="fa fa-{{ is_grid ? 'list' : 'th' }}"></i> {{ is_grid ? 'Exibir Lista'|trans : 'Exibir Grade'|trans }}
        </a>
    </div>
</div>

<div class="row" id="real-content">
    <div class="{{ not is_grid ? 'col-md-12' }}">
        {% if is_grid %}

            {% for structure in structures %}

                <div class="col-md-3" id="component{{ structure.id }}">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div class="product-imitation" style="background-image: url({{ structure.image|componentFilePath }}); background-repeat: no-repeat;">
                            </div>
                            <div class="product-desc">

                                <a data-url="{{ path('structure_preview', { 'id': structure.id }) }}"
                                   data-toggle="modal"
                                   data-target="#modal_details"
                                   class="product-name">
                                    {{ structure.description|slice(0,18) }} <br>
                                    <small>
                                        {{ structure.subtype|slice(0,25) }}
                                    </small>
                                </a>

                                <div class="small m-t-xs">
                                    Entradas:
                                    {{ structure.type }}
                                </div>

                                <div class="small m-t-xs">
                                    Saídas:
                                    {{ structure.size }}
                                </div>


                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    {{ handler.structure_buttons(structure,member) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}

            <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>Código</td>
                        <td>Descrição</td>
                        <td>Tamanho</td>
                        <td class="col-md-2">Ações</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for structure in structures %}
                        <tr>
                            <td>{{ structure.code }}</td>
                            <td>{{ structure.description }}</td>
                            <td>{{ structure.size }}</td>
                            <td  class="col-md-3">
                                <div class="btn-group btn-group-sm btn-group-justified">
                                    <a data-url="{{ path('structure_preview', { id: structure.id }) }}"
                                       data-toggle="modal"
                                       data-target="#modal_details"
                                       class="btn btn-default">
                                        <i class="fa fa-eye"></i> {{ 'View'|trans }}
                                    </a>

                                    {% if member.isAdmin %}
                                        <a href="{{ path('structure_update', { id: structure.id }) }}"
                                           class="btn btn-warning">
                                            <i class="fa fa-pencil"></i> {{ 'Edit'|trans }}
                                        </a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% endif %}
    </div>
</div>


<div class="row text-center">
    <div class="btn-group">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>

{% include view('structure.script_index') %}