{% extends view('layout') %}

{% block body %}
    {% set structures = pagination.items %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="ibox-content">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>{{ 'ID'|trans }}</td>
                                    <td>{{ 'Maker'|trans }}</td>
                                    <td>Status</td>
                                    <td>Ações</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for structure in structures %}
                                    <tr>
                                        <td>{{ structure.id }}</td>
                                        <td>{{ structure.maker.name }}</td>
                                        <td>
                                            {% if( structure.enabled == 1) %}
                                                {{'Enabled'|trans}}
                                            {% else %}
                                                {{'Disabled'|trans}}
                                            {% endif%}
                                        </td>
                                        <td>
                                            <a href="{{ path('structure_preview',{id:structure.id}) }}">
                                                <button class="btn btn-default btn-xs">{{'View'|trans}}</button>
                                            </a>
                                            <a href="{{ path('structure_update',{ id: structure.id}) }}">
                                                <button class="btn btn-default btn-xs">{{'Edit'|trans}}</button>
                                            </a>
                                            <a href="{{ path('structure_delete',{ id: structure.id}) }}">
                                                <button class="btn btn-default btn-xs">{{'Delete'|trans}}</button>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        {{ knp_pagination_render(pagination) }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
