{% set _route = app.request.attributes.get('_route') %}

{% set has_project = project.token is not null %}
{% set is_manage = _route in ['project_create', 'project_update'] %}
{% set is_analysis = 'project_financial' == _route %}
{% set is_budget = 'project_proposal' == _route %}

{% set link_project = not is_manage and has_project ? path('project_update', {id:project.id}) : '#' %}
{% set link_analysis = not is_analysis and has_project ?  path('project_financial', {id:project.id}) : '#'  %}
{% set link_budget = not is_budget and has_project ?  path('project_proposal', {token:project.token}) : '#'  %}

<div class="row">
    <div class="col-lg-12">
        <div class="btn-group btn-group-sm btn-group-justified nav-links">

            <a data-nav="project" class="btn {{ is_manage ? 'btn-primary' : 'btn-default' }} btn-project"
               data-href="{{ link_project }}">
                <i class="fa fa-sliders"></i>
                {{ 'project.design'|trans|upper }}
            </a>

            <a data-nav="financial" class="btn {{ is_analysis ? 'btn-primary' : 'btn-default' }} btn-financial"
               data-href="{{ link_analysis }}">
                <i class="fa fa-line-chart"></i>
                {{ 'project.financial'|trans|upper }}
            </a>

            <a data-nav="proposal" class="btn {{ is_budget ? 'btn-primary' : 'btn-default' }} btn-proposal"
               data-href="{{ link_budget }}">
                <i class="fa fa-file-text-o"></i>
                {{ 'project.proposal'|trans|upper }}
            </a>

        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
