
<table class="table">
    <thead>
        <tr>
            <td colspan="3">

                {#
                    Potência        -- *
                    Módulo          -- CS6K-280M
                    Fab Inversor    -- ABB
                    Fab String Box  -- Onesto
                    Tipo de Telhado -- *
                    Fab Estrutura   -- Sices
                #}

                <form>
                    <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label> Potência </label>
                            {{ form_widget(form.power) }}
                        </div>
                        <div class="col-md-4">
                            <label> Potência </label>
                            {{ form_widget(form.module) }}
                        </div>
                        <div class="col-md-4">
                            <label> Potência </label>
                            {{ form_widget(form.inverter_maker) }}
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="hr-line-dashed"></div>
                    </div>

                    <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label> Fab String Box </label>
                            {{ form_widget(form.string_box_maker) }}
                        </div>
                        <div class="col-md-3">
                            <label> Tipo de Telhado </label>
                            {{ form_widget(form.roof) }}
                        </div>
                        <div class="col-md-3">
                            <label> Fab Estrutura </label>
                            {{ form_widget(form.structure_maker) }}
                        </div>
                        <div class="col-md-3">
                            <label> &nbsp; </label>
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fa fa-save"></i> Recalcular
                            </button>
                        </div>
                    </div>
                    </div>
                </form>

            </td>
        </tr>
        <tr>
            <th> Código </th>
            <th> Descrição </th>
            <th> Quantidade </th>
        </tr>
    </thead>
    <tbody>

    {# MODULES #}
    {% for projectModule in project.projectModules %}
        <tr>
            <td> {{ projectModule.module.id }} </td>
            <td> {{ projectModule.module.model }} </td>
            <td> {{ projectModule.quantity }} </td>
        </tr>
    {% endfor %}

    {# INVERTERS #}
    {% for projectInverter in project.projectInverters %}
        <tr>
            <td> {{ projectInverter.inverter.id }} </td>
            <td> {{ projectInverter.inverter.model }} </td>
            <td> {{ projectInverter.quantity }} </td>
        </tr>
    {% endfor %}

    {# STRING_BOXES #}
    {% for projectStringBox in project.projectStringBoxes %}
        <tr>
            <td> {{ projectStringBox.stringBox.code }} </td>
            <td> {{ projectStringBox.stringBox.description }} </td>
            <td> {{ projectStringBox.quantity }} </td>
        </tr>
    {% endfor %}

    {# STRUCTURES #}
    {% for projectStructure in project.projectStructures %}
        <tr>
            <td> {{ projectStructure.structure.code }} </td>
            <td> {{ projectStructure.structure.description }} </td>
            <td> {{ projectStructure.quantity }} </td>
        </tr>
    {% endfor %}


    {# VARIETIES #}
    {% for projectVariety in project.projectVarieties %}
        <tr>
            <td> {{ projectVariety.variety.code }} </td>
            <td> {{ projectVariety.variety.description }} </td>
            <td> {{ projectVariety.quantity }} </td>
        </tr>
    {% endfor %}

    </tbody>
</table>