
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-1"> Tipo </th>
            <th> Descrição </th>
            <th class="col-md-1"> Quantidade </th>
            <th class="col-md-2"> Preço Custo </th>
            <th class="col-md-2"> Preço Unitário </th>
            <th> Subtotal </th>
            <th class="col-md-1"> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        {% for projectExtra in project.projectExtras %}

            <tr>
                <td>
                    <span class="label label-info" style="width: 100%;">
                        {{ projectExtra.extra.isProduct ? 'Produto' : 'Serviço' }}
                    </span>
                </td>
                <td> {{ projectExtra.extra.description }} </td>
                <td> {{ projectExtra.quantity }} </td>
                <td> {{ projectExtra.unitCostPrice|currency }} </td>
                <td> {{ projectExtra.unitSalePrice|currency }} </td>
                <td> {{ projectExtra.totalSalePrice|currency }} </td>
                <td class="btn-group btn-group-justified">
                    <a data-update="{{ path('financial_extras_update', {id:projectExtra.id}) }}" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-delete="{{ path('financial_extras_delete', {id:projectExtra.id}) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>

<script>
    $('[data-update]').on('click', function(){
        Financial.get_extra_form($(this).data('update'));
    });

    $('[data-delete]').on('click', function(){
        $.ajax({
            url: $(this).data('delete'),
            method: 'post',
            data: {_method:'delete'},
            success: function(){
                Financial.get_extras();
            }
        });
    });

</script>