<style>
    label#source_label{
        text-align: center;
        display: block;
    }
    .middle-block{
        float: left;
        width: 50%;
        padding-right: 0;
    }
</style>

<table class="table">
    <thead>

    {% if attribute(project.defaults, 'power_increments') is defined %}
        {% if project.defaults.power_increments > 0%}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">
                        A Potência do sistema foi reajustada para atender ao fabricante de inversor selecionado
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endif %}

    <tr>
        <th> Código</th>
        <th> Descrição</th>
        <th> Quantidade</th>
    </tr>
    </thead>
    <tbody>

    {# MODULES #}
    {% for projectModule in project.projectModules %}
        <tr>
            <td> {{ projectModule.module.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component" data-url="{{ path('component_show', {type:'module', id:projectModule.module.id}) }}">
                    {{ projectModule.module.model }}
                </a>
            </td>
            <td> {{ projectModule.quantity }} </td>
        </tr>
    {% endfor %}

    {# INVERTERS #}
    {% for id, group in project.groupInverters %}
        <tr>
            <td> {{ group.inverter.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component" data-url="{{ path('component_show', {type:'inverter', id:group.inverter.id}) }}">
                    {{ group.inverter.model }}
                </a>
            </td>
            <td> {{ group.quantity }} </td>
        </tr>
    {% endfor %}

    {# TRANSFORMER #}
    {% if project.transformer %}
        <tr>
            <td> {{ project.transformer.variety.code }} </td>
            <td> {{ project.transformer.variety.description }} </td>
            <td> {{ 1 }} </td>
        </tr>
    {% endif %}

    {# STRING_BOXES #}
    {% for projectStringBox in project.projectStringBoxes %}
        <tr>
            <td> {{ projectStringBox.stringBox.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component" data-url="{{ path('stringbox_show', {id:projectStringBox.stringBox.id}) }}">
                    {{ projectStringBox.stringBox.description }}
                </a>
            </td>
            <td> {{ projectStringBox.quantity }} </td>
        </tr>
    {% endfor %}

    {# STRUCTURES #}
    {% for projectStructure in project.projectStructures %}
    {% set structure = projectStructure.structure %}
        <tr>
            <td> {{ structure.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component" data-url="{{ path('structure_show', {id:projectStructure.structure.id}) }}">
                    {{ structure.description }}
                    {% if not structure.available %}
                        <span class="label label-danger">
                            Produto Indisponível
                        </span>
                    {% endif %}
                </a>
            </td>
            <td> {{ projectStructure.quantity }} </td>
        </tr>
    {% endfor %}

    {# VARIETIES #}
    {% for projectVariety in project.projectVarieties if projectVariety.variety.type != 'transformer' %}
        <tr>
            <td> {{ projectVariety.variety.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component" data-url="{{ path('variety_show', {id:projectVariety.variety.id}) }}">
                {{ projectVariety.variety.description }}
                </a>
            </td>
            <td> {{ projectVariety.quantity }} </td>
        </tr>
    {% endfor %}

    {# INSURE LINE #}
    {% set insureOrigin = 'project' %}
    {% include view('helper.insure_line') %}

    </tbody>
</table>