{% extends view('layout') %}

{% block before_styles %}
    {% include view('helper.plugins_css') %}
{% endblock %}

{% block styles %}

    <style>
        .hipper-label {
            text-transform: uppercase;
        }

        .mega-icon {
            font-size: 5rem;
        }

        .medium-icon {
            font-size: 4rem;
            margin-top: 3rem;
            color: #888;
        }

        table.area-editing {
            background: #f6f6f6;
        }

        #map {
            width: 100%;
            height: 300px;
        }
        #form-estimate-power .input-group-addon{
            font-size: 12px;
            width: 175px;
        }
        #generator_address{
            margin-top: 10px;
            width: 90%;
            border-color: #1ab394 !important;
        }
        .ibox-content{

        }
    </style>

    <style type="text/css">
        .ruler-row {
            margin-top: 1rem;
        }
        .ui-slider-horizontal {
            height: 0 !important;
            border: 0 !important;
        }
        .ui-slider-tip {
            visibility: visible !important;
            opacity: 1 !important;
        }
        .ruler-bar.progress {
            margin-bottom: 0;
        }
        .ui-slider .ui-slider-handle {
            width: .5em !important;
            height: 2em !important;
            top: -1.5em !important;
        }
        .ui-slider-pips .ui-slider-pip {
            top: 10px !important;
        }
        .progress-bar-success {
            background-color: #5cb85c;
        }
        .operation-info.btn-success,
        .operation-info.btn-success:active,
        .operation-info.btn-success:focus,
        .operation-info.btn-success:hover{
            background: #5cb85c;
            border-color: #5cb85c;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="modal inmodal fade" id="modal_component" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    {% include view('kit.spinner') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modal_estimate_power" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="width: 35rem;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <h4 class="text-center"> Estimar Potência </h4>
                        <div class="col-md-12">
                            <form id="form-estimate-power" action="" method="post">
                                <div class="form-group">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon text-right">
                                             Média de Consumo (kWh)
                                        </span>
                                        <input id="consumption" placeholder="" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon text-right">
                                            Potência Estimada (kWp)
                                        </span>
                                        <input id="estimate_power" readonly="readonly" placeholder="" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group text-center" id="form-estimate-error">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-info btn-block ladda-button" data-style="zoom-in">
                                        <i class="fa fa-chevron-right"></i> Estimar
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            O resultado gerado nesta estimativa serve apenas como auxílio na escolha de um KIT e não influencia nos cálculos.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal inmodal" id="modal_info" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-body">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modal_operation_info" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" id="area_operation_inner">
                            <div class="sk-spinner sk-spinner-circle">
                                {% for i in 1..12 %}
                                    <div class="sk-circle{{ i }} sk-circle"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white btn-sm" data-dismiss="modal">{{ 'Close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>


    {# MODALS AREA - END #}

    <div class="wrapper wrapper-content animated fadeInRight">

        {% include view('project.navbar') %}

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="hipper-label"> 1. Dados Iniciais </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Informações Principais
                                    </div>

                                    <div class="panel-body">

                                        {{ form_start(form, {attr:{id:'form_project', class:'form-horizontal'}}) }}

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">Contato</label>
                                            <div class="col-sm-5">
                                                {{ form_widget(form.customer,{'attr':{'class':'form-control', 'data-placeholder':'Selecionar contato'}}) }}
                                            </div>
                                            <label class="col-sm-2 control-label">Etapa de Venda</label>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.stage,{'attr':{'class':'form-control'}}) }}
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <div class="col-lg-12 text-center">
                                                <label> Endereço </label>
                                            </div>

                                            <div class="col-lg-12">
                                                {{ form_widget(form.address,{'attr':{'class':'form-control','placeholder':'Search Address'}}) }}
                                                <div id="map"></div>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <div class="col-md-12">
                                                    <a id="btn-coord-info" class="btn btn-info btn-block" data-toggle="modal"
                                                       data-target="#modal_info" style="{{ project.id is null ? 'margin-top: 9.75rem;' }}">
                                                        <i class="fa fa-info-circle"></i>
                                                        Informações Climáticas
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-9" id="block_init">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        {{ form_label(form.grid_voltage, 'Tensão') }}
                                                        {{ form_widget(form.grid_voltage,{attr:{class:'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_label(form.grid_phase_number, 'Fases') }}
                                                        {{ form_widget(form.grid_phase_number,{attr:{class:'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-4" style="font-size: 12px; margin-top: 1rem;">
                                                        <label style="display: block;"> &nbsp; </label>
                                                        {{ form_widget(form.use_transformer) }} &nbsp;
                                                        {{ form_label(form.use_transformer, 'Incluir transformador se necessário') }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        {{ form_label(form.roof_type, 'Tipo de Telhado') }}
                                                        {{ form_widget(form.roof_type,{attr:{class:'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_label(form.consumption, 'Consumo Mensal (kWh)') }}
                                                        {{ form_widget(form.consumption,{attr:{class:'form-control'}}) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>&nbsp;<br></label>
                                                        <button type="submit" data-style="zoom-in"
                                                                class="btn btn-success btn-md pull-right col-xs-12 ladda-button">
                                                            <i class="fa fa-save"></i>
                                                            {{ project.token ? 'Atualizar' : 'Iniciar' }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hide">
                                            <label class="col-sm-1 control-label">Lat</label>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.latitude,{'attr':{'class':'form-control project-latitude'}}) }}
                                            </div>
                                            <label class="col-sm-1 control-label">Lng</label>
                                            <div class="col-sm-4">
                                                {{ form_widget(form.longitude,{'attr':{'class':'form-control project-longitude'}}) }}
                                            </div>
                                            {{ form_rest(form) }}
                                        </div>

                                        {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" id="block_components">
                                <div class="panel panel-info">
                                    <div class="panel-heading" id="info_components">
                                        {% if project.id is not null %}
                                            Sistema de {{ project.power }} kWp
                                        {% endif %}
                                    </div>
                                    <div class="panel-body">
                                        <div id="generator_form">
                                        </div>
                                        <div id="project_components" data-load="{{ project.id ? path('project_components',{id:project.id}) }}">
                                            {% if project.id %}
                                                {% include view('helper.spinner') %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" id="block_groups">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Disposição dos Módulos
                                    </div>
                                    <div class="panel-body" id="project_groups" data-load="{{ project.id ? path('project_groups',{id:project.id}) }}">
                                        {% if project.id %}
                                            {% include view('helper.spinner') %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" id="block_config">
                            <div class="col-md-12">
                                <h3 class="hipper-label"> 2. Configuração do Sistema </h3>
                            </div>

                            <div id="project_inverters" data-load="{{ project.id ? path('project_inverters',{id:project.id}) }}" class="col-md-12">
                                {% if project.id %}
                                    {% include view('helper.spinner') %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="row" id="block_results">
                            <div class="col-md-12">
                                <h3 class="hipper-label"> 3. Resultados </h3>
                            </div>

                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Gráfico e Dados
                                    </div>
                                    <div class="panel-body">

                                        <div class="row">
                                            <div id="calc_errors" class="col-md-12"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-4">
                                                <button id="process_button" data-style="zoom-in"
                                                        class="btn hide btn-bg btn-block btn-warning ladda-button pull-right">
                                                    <i class="fa fa-calculator"></i>
                                                    {{ 'project.calculate'|trans }}
                                                </button>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row">
                                            <div class="col-md-8" id="chart_container">
                                                <canvas id="default_chart" height="500"></canvas>
                                            </div>

                                            <div class="col-md-4" style="margin-top:5rem;" id="info_process">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include view('project.navbar') %}

    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}
    {% include view('helper.numbers') %}
    {% include view('helper.request') %}

    {% set ajax_process = true %}

    <script>

        var GeneratorHandler = {
            project: {id:0,power:0},
            getProject: function(){
                return this.project;
            },
            resetProject: function(){
                this.project = {id:0,power:0};
                this.onResetProject();
            },
            getForm: function(){
                var id = this.getProject().id;
                Request.send({
                    url: '{{ path('generator',{project:'_id_'}) }}'.replace(/_id_/g, id),
                    callback: function(xhr){
                        $('#generator_form').html(xhr.responseText);
                    }
                });
            },
            onSaveProject: function(project){
                ProjectManager.onSaveProject();
            },
            onResetProject: function(){
                {#
                    BRANCH PARADA
                    AGUARDANDO FINALIZAÇÃO DO PROCESSO A PARTIR DAQUI...
                #}
                //$('#generator_components').html('');
            }
        };

        var ProjectManager = {
            btnProcess: $('#process_button'),
            infoProcess: $('#info_process'),
            processing: false,
            project: {
                id: {{ project.id is not null ? project.id : 'null' }},
                power: {{ project.id is not null ? project.power : 0 }}
            },
            request: function(config){
                Request.send(config);
            },
            operations: function(id){

                var url = '{{ path('project_inverter_metadata',{id:'_id_'}) }}'.replace(/_id_/g,id);
                var container = $('[data-operation="'+id+'"]');
                var inverter_info = container.find('.inverter-info');
                var classes_info = 'btn-info btn-success btn-danger btn-warning';
                var areas_info = container.find('a.module-info');

                ProjectManager.request({
                    url: url,
                    callback: function(xhr){
                        var response = xhr.responseJSON;
                        if(response.hasOwnProperty('operable')){
                            inverter_info.removeClass(classes_info).addClass('btn-'+response.level);
                            $.each(response.areas, function(i, area){
                                if(area.hasOwnProperty('level')){
                                    $(areas_info[i]).removeClass(classes_info).addClass('btn-'+area.level);
                                }
                            });
                        }
                    }
                });

            },
            change: function(element, path, reload){
                element.attr('data-load', path);
                if(reload){
                    ProjectManager.load(element);
                }
            },
            submit: function(form, callback){
                ProjectManager.request({
                    url: form.attr('action'),
                    method: form.attr('method'),
                    data: form.serialize(),
                    callback: callback
                });
            },
            load: function(element){
                if('string' == typeof element){
                    element = $(element);
                }
                if(element.length){
                    var url = element.attr('data-load');
                    if(url){
                        ProjectManager.request({
                            url: url,
                            callback: function(xhr){
                                element.html(xhr.responseText);
                                element.data('load', '');
                            }
                        });
                    }else{
                        console.log('ELEMENT DOES NOT HAVE URL: ' + element);
                    }
                }else{
                    console.log('ELEMENT NOT FOUND: ' + element);
                }
            },
            chart: {
                element: 'default_chart',
                generate: function(data) {
                    AppChart.projectChart({
                        fillColor: "rgba(242,160,25,0.5)",
                        strokeColor: "rgba(242,160,25)",
                        pointColor: "rgba(242,160,25)",
                        data: data,
                        element: ProjectManager.chart.element,
                        callback: function(chart){
                            ProjectManager.onChartGenerate();
                        }
                    });
                },
                clear: function(){
                    var canvas = AppChart.getCanvas(ProjectManager.chart.element);
                    if(canvas) {
                        var context = canvas.getContext('2d');
                        context.clearRect(0, 0, canvas.width, canvas.height);
                    }
                },
                getData: function(){
                    return AppChart.getDataUrl(ProjectManager.chart.element);
                },
                init: function(){
                    var chart_container = $('#chart_container');
                    $('#'+ProjectManager.chart.element).attr('width', chart_container.width());
                }
            },
            process: function(){
                var id = GeneratorHandler.getProject().id;
                if(id){
                    ProjectManager.request({
                        url: '{{ path('project_process',{id:'_id_'}) }}'.replace(/_id_/g, id),
                        method: 'post',
                        callback: function(xhr){
                            var response = xhr.responseJSON;
                            if(response.hasOwnProperty('data')){
                                ProjectManager.chart.generate(response.data);
                                ProjectManager.infoProcess.html(response.info);
                            }
                        }
                    });
                }
            },
            getFormGenerator: function(){

                Request.send({
                    url: '{{ path('form_generator',{project:project.id}) }}',
                    callback: function(xhr){
                        $('#form_generator_container').html(xhr.responseText);
                    }
                });
            },
            replaceId: function(source){
                return source.replace(/_id_/g, ProjectManager.project.id);
            },
            componentDetails: function(){

                var modal_component = $('#modal_component');
                var modal_body = modal_component.find('.modal-body');
                var loader = modal_body.html();

                modal_component.on('show.bs.modal', function(event){
                    var target = $(event.relatedTarget);
                    var url = target.data('url');
                    modal_body.html(loader);
                    Request.send({
                        url: url,
                        callback: function(xhr){
                            modal_body.html(xhr.responseText);
                        }
                    });
                });

            },
            checker: {
                gridOptions: function(choicePhase, choiceVoltage){

                    var checkOption = function() {
                        var phase = choicePhase.val();
                        var voltage = choiceVoltage.val();

                        if ('Monophasic' == phase) {
                            choiceVoltage.find('option[value="220/380"]').attr('selected', 'selected');
                            choiceVoltage.find('option[value="127/220"]').attr('disabled', 'disabled');
                        } else {
                            choiceVoltage.find('option').removeAttr('disabled');
                        }

                        if ('127/220' == voltage) {
                            choicePhase.find('option[value="Monophasic"]').attr('disabled', 'disabled');
                        } else {
                            choicePhase.find('option').removeAttr('disabled');
                        }
                    };

                    checkOption();

                    choicePhase.on('change', function(){
                        checkOption();
                    });

                    choiceVoltage.on('change', function(){
                        checkOption();
                    });
                }
            },
            getErrors: function(){
                var errors = [];

                var customer = $('#generator_customer').val();
                var latitude = $('#generator_latitude').val();
                var longitude = $('#generator_longitude').val();
                var consumption = parseInt($('#generator_consumption').val());

                if(!customer){
                    errors[errors.length] = 'Selecione um contato.';
                }

                if(!latitude || !longitude){
                    errors[errors.length] = 'Informe o endereço do projeto.';
                }

                if(!consumption || consumption <= 0){
                    errors[errors.length] = 'Informe o consumo.';
                }

                return errors;
            },
            configureProjectForm: function(){
                {% if true %}
                var form_project = $('#form_project');
                button = form_project.find('button[type="submit"]');
                button.ladda();
                form_project.on('submit', function(event){
                    event.preventDefault();
                    var errors = ProjectManager.getErrors();
                    if(errors.length){
                        swal({
                            title: 'Ooops',
                            text: errors[0],
                            type: 'error',
                            showConfirmButton: true
                        });
                    }else {
                        button.ladda('start');
                        ProjectManager.submit(form_project, function (xhr) {
                            button.ladda('stop');
                            var response = xhr.responseJSON;
                            if(200 == xhr.status && response.hasOwnProperty('project')){
                                //ProjectManager.project = response.project;
                                GeneratorHandler.project = response.project;
                                ProjectManager.onSaveProject();
                            }else{
                                swal('Ooops', response.errors[0], 'warning');
                            }
                        });
                    }
                });
                {% endif %}
                Numbers.mask($('#project_infConsumption'));
            },
            configureBlocks: function(){
                if(GeneratorHandler.getProject().id){
                    $('#block_components, #block_groups, #block_config, #block_results').show();
                    $('#block_init').hide();
                }else{
                    $('#block_components, #block_groups, #block_config, #block_results').hide();
                }
            },
            loadComponents: function(){
                ProjectManager.load($('#project_components'));
            },
            loadGroups: function(){
                ProjectManager.load($('#project_groups'));
            },
            loadInverters: function(){
                ProjectManager.load($('#project_inverters'));
            },
            loadModalCoordinates: function(){
                var modal_info = $('#modal_info');
                var modal_body = modal_info.find('.modal-body');
                var loader_info = modal_body.html();
                modal_info.on('show.bs.modal', function(){
                    modal_body.html(loader_info);
                    Request.send({
                        url: '{{ path('coordinate_info') }}',
                        data: { latitude: $('#generator_latitude').val(), longitude: $('#generator_longitude').val()},
                        callback: function(xhr){
                            modal_body.html(xhr.responseText);
                        }
                    });
                });
            },
            loadModalInfo: function(){

                var area_operation_inner = $('#area_operation_inner');
                var area_operation_spinner = area_operation_inner.html();
                $('#modal_operation_info').on('show.bs.modal', function(event){
                    var target = $(event.relatedTarget);
                    var href = target.data('href');
                    if(href) {
                        area_operation_inner.html(area_operation_spinner);
                        $.ajax({
                            url: href,
                            success: function (response) {
                                area_operation_inner.html(response);
                            }
                        });
                    }
                });

            },
            onProjectCreate: function(project){
                //console.log(project);
                ProjectManager.loadComponents();
            },
            onProjectUpdate: function(){
                //console.log('project_updated');
            },
            onChartGenerate: function(){
                var chart = ProjectManager.chart.getData();
                if(chart && ProjectManager.project.id) {
                    Request.send({
                        url: ProjectManager.replaceId('{{ path('project_chart',{id:'_id_'}) }}'),
                        data: {chart: ProjectManager.chart.getData()},
                        method: 'post',
                        callback: function (xhr) {
                        }
                    });
                }
            },
            onSaveProject: function(){

                var project = GeneratorHandler.getProject();

                var project_url = '{{ path('project_update',{id:'_id_'}) }}'.replace(/_id_/g, project.id);
                window.history.pushState({}, null, project_url);
                $('#form_project').attr('action', project_url);

                var components_url = '{{ path('project_components',{id:'_id_'}) }}'.replace(/_id_/g, project.id);
                $('#project_components').attr('data-load', components_url);
                ProjectManager.loadComponents();

                var groups_url = '{{ path('project_groups',{id:'_id_'}) }}'.replace(/_id_/g, project.id);
                $('#project_groups').attr('data-load', groups_url);
                ProjectManager.loadGroups();

                var inverters_url = '{{ path('project_inverters',{id:'_id_'}) }}'.replace(/_id_/g, project.id);
                $('#project_inverters').attr('data-load', inverters_url);
                ProjectManager.loadInverters();

                $('#info_components').html('Sistema de ' + project.power + ' kWp');

                ProjectManager.configureBlocks();

                ProjectManager.process();

                GeneratorHandler.getForm();

                $('#btn-coord-info').css('margin-top', 0);
            },
            onUpdateInverter: function(){
                ProjectManager.loadComponents();
                ProjectManager.process();
            },
            beforeUpdateArea: function(){
                ProjectManager.infoProcess.html('');
                ProjectManager.chart.clear();

            },
            onUpdateArea: function(){
                ProjectManager.loadComponents();
                ProjectManager.loadGroups();
                ProjectManager.process();
            },
            /**
             * Initialize Manager
             */
            onLoadManager: function(){

                ProjectManager.configureProjectForm();
                ProjectManager.chart.init();

                if(ProjectManager.project.id) {
                    ProjectManager.loadComponents();
                    ProjectManager.loadGroups();
                    ProjectManager.loadInverters();
                    ProjectManager.process();
                }

                ProjectManager.configureBlocks();
                ProjectManager.loadModalInfo();
                ProjectManager.loadModalCoordinates();
                ProjectManager.componentDetails();
                ProjectManager.checker.gridOptions(
                    $('#generator_grid_phase_number'),
                    $('#generator_grid_voltage')
                );

                //this.getFormGenerator();
            }
        };

        ProjectManager.onLoadManager();


        ///-----

        var project_customer = $('#generator_customer');
        function createCustomerChosen(){

            var buttons = '<div class="btn-group btn-group-sm">' +
                '<button data-context="person" class="btn btn-xs btn-primary ladda-button" data-style="zoom-out"><i class="fa fa-plus"></i> {{ 'Pessoa'|trans }}</button>' +
                '<button data-context="company" class="btn btn-xs btn-primary ladda-button" data-style="zoom-out"><i class="fa fa-plus"></i> {{ 'Company'|trans }}</button>' +
                '</div>';

            var contact_url = '{{ path('contact_fast_create',{context:'_ctx_'}) }}';

            project_customer.chosen({
                width: '100%',
                no_results_text: buttons
            }).on('chosen:no_results', function (event, params) {
                var add_button = $('[data-context]');
                add_button.ladda();
                add_button.on('click', function () {
                    var _btn = $(this);
                    var _ctx = _btn.data('context');
                    //var _target = _ctx == 'person' ? opt_groups[0] : opt_groups[1] ;
                    $.ajax({
                        url: contact_url.replace(/_ctx_/g, _btn.data('context')),
                        method: 'post',
                        data: {name: params.chosen.search_field.val()},
                        success: function(response){
                            if('success' == response.status){
                                var data = response.data;
                                project_customer.append('<option selected="selected" value="' + data.id + '">' + data.name + '</option>');
                                project_customer.trigger('chosen:updated');
                                woopra.track('contato');
                            }
                        },
                        error: function(response){
                            console.log(response.status);
                        }
                    });
                });
            });
        }

        createCustomerChosen();

    </script>

    {# GOOGLE MAPS #}
    {% include view('helper.google_maps') with({
        latitude: 'generator_latitude',
        longitude: 'generator_longitude',
        input: 'generator_address',
        zoom: project.latitude ? 17 : 3
    }) %}

{% endblock %}