<div class="p-header">
    <img width="250" alt="image" src="{{ asset('assets/images/proformaHeader.png') }}">
    <span class="pull-right">
        <span class="spacing-right">Proposta: <label>{{ order.reference }}</label> </span>
        <span class="spacing-right"><label>{{ order.statusAt|date('d/m/Y') }}</label> </span>
        <span class="page-number">Página - {{ pageNumber }}/{{ totalPages }}</span>
    </span>
</div>