<div class="p-body">
    <label class="width-float-total text-center">
        <h2  class="no-margins bold">{{ item.description }}</h2>
        <h3  class="bold">Seguros</h3>
    </label>

    <table class="spacing width-total">
        {% for additive in item.orderAdditives %}
        <thead>
        <tr>
            <th>
                {{ additive.name }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-justify orders-font">
                {{ additive.description }}
            </td>
        </tr>
        <tr>
            <td>
                <label class="pull-right">Valor do seguro: {{ additive.total|currency }}</label>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <label class="pull-right spacing"><h3>Valor do Sistema: {{ item.total|currency }}</h3></label>
</div>
