<div class="p-body">
    <table class="initial-data width-total" style="border: transparent;">
        <tbody>
        <tr>
            <td><label class="no-margins">Cliente: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingFirstname }}{% else %}{{ order.firstname }}{% endif %} </td>

            <td><label class="no-margins">Nome: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingLastname }}{% else %}{{ order.lastname }}{% endif %} </td>
        </tr>
        <tr>
            <td><label class="no-margins">Endereço: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingStreet }}{% else %}{{ order.address }}{% endif %} </td>

            <td><label class="no-margins">CNPJ: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingCnpj }}{% else %}{{ order.cnpj }}{% endif %} </td>
        </tr>
        <tr>
            <td><label class="no-margins">Cidade: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingCity }}{% else %}{{ order.city }}{% endif %} </td>

            <td><label class="no-margins">IE: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingIe }}{% else %}{{ order.ie }}{% endif %} </td>
        </tr>
        <tr>
            <td><label class="no-margins">Contato: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingContact }}{% else %}{{ order.contact }}{% endif %} </td>

            <td><label class="no-margins">Estado: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingState }}{% else %}{{ order.state }}{% endif %} </td>
        </tr>
        <tr>
            <td><label class="no-margins">Email: </label></td>
            <td class="color-blue"> {% if order.billingDirect %}{{ order.billingEmail }}{% else %}{{ order.email }}{% endif %} </td>

            <td><label class="no-margins">Tel: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingPhone }}{% else %}{{ order.phone }}{% endif %} </td>
        </tr>
        <tr>
            <td><label class="no-margins">Atendente: </label></td>
            <td> {{ order.agent.name }} </td>

            <td><label class="no-margins">CEP: </label></td>
            <td> {% if order.billingDirect %}{{ order.billingPostcode }}{% else %}{{ order.postcode }}{% endif %} </td>
        </tr>
        {% if order.billingDirect %}
            <tr>
                <td><label class="no-margins">Integrador: </label></td>
                <td colspan="3"> {{ order.lastname }} </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <p class="width-float-total">
        Prezados Senhores, Atendendo à solicitação de V.Sas., é com prazer que submetemos a sua apreciação nossa proposta
        comercial para o fornecimento de equipamentos conforme descriminado.
    </p>

    <label class="width-float-total text-center">
        <h2  class="no-margins bold">{{ item.description }}</h2>
        <h3  class="bold">Equipamentos</h3>
    </label>

    <table class="width-total orders-font">
        <thead>
        <tr>
            <th>Código</th>
            <th style="min-width: 50%;">Produto</th>
            {% if not item.isPromotional and not item.isFiname %}
                <th>Custo Un.</th>
            {% endif %}
            <th>QTD</th>
            {% if not item.isPromotional and not item.isFiname %}
                <th>Custo T.</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for element in item.elements %}
            <tr>
                <td>{{ element.code }}</td>
                <td class="text-left">{{ element.description }}</td>
                {% if not item.isPromotional and not item.isFiname %}
                    <td>{{ element.unitPrice|currency }}</td>
                {% endif %}
                <td class="text-center">{{ element.quantity }}</td>
                {% if not item.isPromotional and not item.isFiname %}
                    <td>{{ element.total|currency }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    {% if not item.insurance %}
        <label class="pull-right spacing"><h3>Valor do Sistema: {{ item.total|currency }}</h3></label>
    {% endif %}
</div>