<div class="p-body">
    <label class="width-float-total no-margins">Proposta econômica:</label>

    <span class="indentation"> 1) Equipamentos conforme descriminado</span>
    <span class="pull-right field-width">{{ (order.subTotal + order.totalInsurance)|currency }}</span>
    <br/>
    <span class="indentation"> 2) Frete</span>
    <span class="pull-right field-width">
        {% if order.shippingrules and order.shippingrules.type == 'sices' %}
            {{ order.shipping|currency }}
        {% elseif order.shippingrules.type == 'self' %}
            Não Incluso
        {% else %}
            Incluso
        {% endif %}
    </span>
    <br/>
    {% if order.total != order.totalExcDiscount and order.discount > 0 %}
        <span class="indentation"> 3) Desconto comercial</span>
        <span class="pull-right field-width">
            -{{ order.discount|currency }}
        </span>
        <br/>
    {% endif %}
    <label class="no-margins">TOTAL FORNECIMENTO</label>
    <label class="pull-right no-margins field-width">{{ order.total|currency }}</label>

    <p>
        &#8270; O preço poderá sofrer alterações decorrente de variações cambias, e o cliente arcará com as
        mesmas, caso no ato do pagamento final/integral a cotação EUR/BRL (EURBRL=X PTAX) for superior a XX,XX
    </p>

    <label class="width-float-total no-margins">Condições de pagamento:</label>
    {% for payment in order.paymentMethod('array').quotas %}
        <span class="indentation">
            &#{{ loop.index + 96 }}; ) {{ payment.description }} {{ payment.percent }}%
            {% if payment.display_payment_date is defined and payment.display_payment_date == 'true' %}
                - {{ payment.date|date('d/m/Y') }}
            {% endif %}
        </span>
        <span class="pull-right field-width">{{ payment.value|currency }}</span>
        <br/>
    {% endfor %}

    <label class="spacing">DADOS BANCÁRIOS PARA PAGAMENTO EM CASO DE TRANSFERÊNCIA BANCÁRIA</label>

    <div class="width-total border-black bank-data">
        Banco Itaú Unibanco S/A nº341<br/>
        AG 4807<br/>
        C/C: 30.334 DIG: 4<br/>
        CNPJ 17.774.501/0001-28<br/>
        SICES BRASIL LTDA
    </div>

    <div class="indentation spacing">
        {% if order.deliveryDelay or order.deliveryAt %}
            <label class="no-margins">&#10004; Disponibilidade para coleta:</label>
            {% if order.deliveryAt %}
                {{ order.deliveryAt.date|date('d/m/Y') }}
            {% endif %}
            {% if order.deliveryDelay %}
                {% if order.deliveryAt %} ou {% endif %}
                {{ order.deliveryDelay }} dia(s) após a identificação do pagamento.
            {% endif %}<br/>
        {% endif %}
        {% if order.shippingrules and order.shippingrules.type == 'sices' %}
            <label class="no-margins">&#10004; Prazo de entrega:</label> {{ order.deadline }} DIAS<br/>
        {% endif %}
        {% if order.expireDays %}
            <label class="no-margins">&#10004; Validade da proposta:</label> {{ order.expireDays }} dia(s)<br/>
        {% endif %}
        <label class="no-margins">&#10004; Embalagem unitário:</label> Padrão<br/>
        <label class="no-margins">&#10004; Transporte:</label>
        {% if order.shippingrules and order.shippingrules.type == 'sices' %}
            {{ order.shipping|currency }}
        {% elseif order.shippingrules.type == 'self' %}
            Não Incluso
        {% endif %}
        <br/>
        <label class="no-margins">&#10004; Seguro:</label> {% if order.TotalInsurance %} {{ order.TotalInsurance|currency }} {% else %} Sem Seguro {% endif %}<br/>
        <label class="no-margins">&#10004; Serviço de Start-up:</label> NÃO INCLUSO<br/>
        <label class="no-margins">&#10004; Endereço de entrega:</label> {{ order.deliveryAddress }}{% if order.shippingRules.state %}, <label class="no-margins">{{ order.shippingRules.state }}</label>{% endif %}.<br/>
        <label class="no-margins">&#10004; Observações:</label> {{ order.note }}
    </div>
</div>