{% extends view('layout') %}

{% block styles %}

    <style>
        .table th span {
            /*background: #068;*/
            width: 75%;
            margin: 0;
            float: left;
        }

        .table th a {
            text-align: right;
            width: 25%;
            margin: 0;
            float: left;
        }

        .product-config td input:disabled {
            font-size: 13px;
        }

        .input-description:not(.collapsed) {
            width: 350px;
        }

        .input-description.collapsed {
            width: 85px;
        }

        .input-code:not(.collapsed) {
            width: 120px;
        }

        .input-code.collapsed {
            width: 75px;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="modal inmodal" id="modal_copy_level" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title" id="title">
                        <i class="fa fa-copy"></i> Copiar configurações de markup
                    </h4>
                    <small class="font-bold">
                        Atenção! Ao efetuar a cópia, todos os registros do nível atual são substituídos.
                    </small>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon">Selecione o nível de desconto a ser copiado</span>
                            <span id="source_copy_level"></span>
                            <span class="input-group-btn">
                                <button id="btn_copy_level" type="button" class="btn btn-success">
                                    <i class="fa fa-copy"></i> Copiar
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-close"></i> {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content flow-lg">

                            <div class="row" style="margin-bottom: 10px;">
                                <div class="btn-group btn-group-sm col-md-4">

                                    <a href="{{ path('memorials') }}" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i>
                                        Voltar
                                    </a>
                                </div>

                                <div class="btn-group btn-group-sm col-md-4">
                                    &nbsp;
                                </div>

                                <div class="col-md-4 text-right">
                                    <div class="pull-right" id="config-loader">
                                        {% include view('helper.spinner') %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">


                                    {{ form_start(form,{attr:{id:'form_filter'}}) }}

                                    <div class="form-group col-md-2">
                                        {{ form_label(form.memorial) }}
                                        {{ form_widget(form.memorial, {attr:{class:'form-control'}}) }}
                                    </div>

                                    <div class="form-group col-md-4">
                                        {{ form_label(form.level,'Nível de Desconto') }}
                                        <div class="input-group">
                                            {{ form_widget(form.level, {attr:{class:'form-control'}}) }}
                                            <span class="input-group-btn">
                                            <a data-toggle="modal" data-target="#modal_copy_level" class="btn btn-primary">
                                                <i class="fa fa-copy"></i> Copiar de outro nível
                                            </a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="memorial_filter_components">

                                        <div class="form-group col-md-12">
                                            <label> Componentes </label>
                                        </div>

                                        {% for component in form.components %}

                                            <div class="form-group col-md-2">
                                                {{ form_widget(component) }}
                                                {{ form_label(component) }}
                                            </div>

                                        {% endfor %}

                                    </div>
                                    {{ form_end(form) }}

                            </div>

                            <div class="row" id="render_memorial">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}
    {% include view('helper.numbers') %}

    <script>

        var MemorialManager = {
            listeners: $('[id^="memorial_filter_"]'),
            form: $('#form_filter'),
            method: 'post',
            uri: '{{ app.request.uri }}',
            loader: $('#config-loader'),
            loaderSpinner: null,
            startLoader: function(){
                this.loader.html(this.loaderSpinner);
            },
            stopLoader: function(){
                this.loader.html('');
            },
            initLoader: function(){
                this.loaderSpinner = this.loader.html();
                this.stopLoader();
            },
            render: function (content) {
                $('#render_memorial').html(content);
            },
            get: function (id) {
                return this.field(id).val();
            },
            field: function (suffix) {
                return $('#memorial_filter_' + suffix);
            },
            updateUri: function (memorial) {
                this.uri = '{{ path('memorials_config', {id: '_id_'}) }}'.replace(/_id_/g, memorial);
                window.history.pushState({}, null, this.uri);
            },
            analyze: function () {
                var memorial = this.get('memorial');
                var level = this.get('level');
                var components = $('#memorial_filter_components').find('input:checked');

                if (memorial && level && components.length) {

                    this.updateUri(memorial);

                    this.startLoader();

                    $.ajax({
                        url: this.uri,
                        method: this.method,
                        data: this.form.serialize(),
                        complete: function (xhr) {
                            MemorialManager.render(xhr.responseText);
                            MemorialManager.stopLoader();
                        }
                    });
                } else {
                    MemorialManager.render('');
                }
            },
            init: function () {

                this.listeners.on('change', function (event) {
                    event.stopPropagation();
                    MemorialManager.analyze();
                });

                this.form.on('submit', function (event) {
                    event.preventDefault();
                    MemorialManager.analyze();
                });

                $("body").toggleClass("mini-navbar");
                SmoothlyMenu();

                this.initLoader();

                MemorialManager.analyze();
            }
        };

        MemorialManager.init();


        var modalCopyLevel = $('#modal_copy_level');
        var filterLevel = $('#memorial_filter_level');
        var btnCopyLevel = $('#btn_copy_level');
        var source = null;
        var target = null;

        modalCopyLevel.on('show.bs.modal', function(){
            target = filterLevel.val();
            var clone = filterLevel.clone();
            clone.attr('id', 'copy_level_selector');
            clone.find('option[value="promotional"]').remove();
            clone.find('option[value="'+target+'"]').remove();

            clone.on('change', function(){
                source = $(this).val();
            }).trigger('change');

            $('#source_copy_level').html(clone);
        });

        btnCopyLevel.on('click', function(){

            if(source && target) {

                swal({
                    title: 'Confirma a cópia de configurações? <br>'+ source + ' &raquo; ' + target,
                    text: 'Os dados presentes em <strong>'+  target + '</strong> serão perdidos.',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: '{{ 'Confirmar'|trans }}',
                    cancelButtonText: '{{ 'Cancelar'|trans }}',
                    closeOnConfirm: false,
                    html: true
                }, function () {

                    $.ajax({
                        url: '{{ path('memorials_copy_ranges', {id:'_id_'}) }}'.replace(/_id_/g, MemorialManager.get('memorial')),
                        method: 'post',
                        data: {source:source, target:target},
                        complete: function (xhr) {

                            if (200 == xhr.status) {

                                swal({
                                    title: "Concluído",
                                    text: "Cópia realizada com sucesso!",
                                    type: "success",
                                    showConfirmButton: false
                                });

                                MemorialManager.analyze();

                                window.setTimeout(function () {
                                    swal.close();
                                    modalCopyLevel.modal('hide');
                                }, 1000);

                            } else {
                                var response = xhr.responseJSON;
                                swal('Ooops', response.hasOwnProperty('error') ? response.error : 'Falha ao executar a operação', 'error');
                            }
                        },
                        beforeSend: function () {
                            swal({
                                title: 'Copiando...',
                                text: 'Aguarde',
                                type: 'info',
                                showConfirmButton: false
                            });
                        }
                    });
                });
            }
        });

    </script>

{% endblock %}
