{% extends view('layout') %}

{% block body %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="row" id="real-content">
                <div class="col-md-12">
                    <div class="ibox flow-h">
                        <div class="ibox-content flow-lg" style="min-height: 650px;">
                            <div class="row">

                                <div class="col-md-12" style="margin-bottom: 1rem;">
                                    <a href="{{ path('memorials_create') }}" class="btn btn-sm btn-success pull-right">
                                        <i class="fa fa-plus"></i> Memorial
                                    </a>
                                </div>

                                <div class="col-md-12">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th class="text-center"> Nome</th>
                                            <th class="text-center col-md-2"> <i class="fa fa-calendar"></i> Criação </th>
                                            <th class="text-center col-md-2"> <i class="fa fa-calendar"></i> Publicação </th>
                                            <th class="text-center col-md-2"> <i class="fa fa-calendar"></i> Expiração </th>
                                            <th class="text-center col-md-1"> Status</th>
                                            <th class="col-md-2"> &nbsp; </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for memorial in memorials %}

                                            {% set label = 'default' %}

                                            <tr>
                                                <td> {{ memorial.name }} </td>
                                                <td class="text-center">
                                                    {% if memorial.createdAt %}
                                                        {{ memorial.createdAt|date('d/m/Y') }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if memorial.isPublished %}
                                                        {% set label = 'success' %}
                                                        {{ memorial.publishedAt|date('d/m/Y') }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    {% if memorial.isExpired %}
                                                        {% set label = 'danger' %}
                                                        {{ memorial.createdAt|date('d/m/Y') }}
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-{{ label }}">
                                                    {{  memorial.status(true)|trans }}
                                                    </span>
                                                </td>
                                                <td>

                                                    <div class="btn-group btn-group-justified">
                                                        <button style="width: 100%;" type="button" class="btn btn-md btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-arrow-down pull-left"></i>
                                                            Operações
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">

                                                            <li>
                                                            <a href="{{ path('memorials_update', {id: memorial.id}) }}">
                                                                <i class="fa fa-pencil"></i> Editar
                                                            </a>
                                                            </li>

                                                            <li>
                                                                <a href="{{ path('memorials_config', {id: memorial.id}) }}">
                                                                    <i class="fa fa-cog"></i> Gerenciar Markups
                                                                </a>
                                                            </li>

                                                            <li role="separator" class="divider"></li>

                                                            <li>
                                                                <a data-clone="{{ path('memorials_clone', {id: memorial.id}) }}">
                                                                    <i class="fa fa-recycle"></i> Efetuar Cópia
                                                                </a>
                                                            </li>

                                                            {% if memorial.isPending %}

                                                                <li>
                                                                    <a data-reverse="{{ path('memorials_reverse_engineering', {id: memorial.id}) }}">
                                                                        <i class="fa fa-exchange"></i> Engenharia Reversa
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a data-delete="{{ path('memorials_delete', {id: memorial.id}) }}">
                                                                        <i class="fa fa-trash"></i> Excluir
                                                                    </a>
                                                                </li>

                                                            {% endif %}

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="btn-group bt-xs">
                                        {{ knp_pagination_render(memorials) }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $('[data-delete]').on('click', function () {
            var row = $(this).closest('tr');
            var url = $(this).data('delete');
            swal({
                title: "Confirmar exclusão?",
                text: null,
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "{{ 'Cancel'|trans }}",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "{{ 'Delete'|trans }}!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: url,
                    method: 'post',
                    data: {_method:'delete'},
                    complete: function(xhr){
                        var response = xhr.responseJSON;
                        if(200 == xhr.status){
                            swal("{{ 'Success'|trans }}!", "{{ 'Was successful exclusion'|trans }}!", "success");
                            window.setTimeout(function(){
                                swal.close();
                            },500);
                            row.remove();
                        }else{
                            swal("{{ 'Error'|trans }}!", response.error, "error");
                        }
                    },
                    beforeSend: function(){
                        swal({
                            title: "Excluindo...",
                            text:  "Aguarde!",
                            type: "info",
                            showConfirmButton: false
                        });
                    }
                });
            });
        });

        $('[data-reverse]').on('click', function () {
            var url = $(this).data('reverse');
            swal({
                title: 'Confirmar operação?',
                text: 'Os dados de markup relacionados com este memorial serão sobrescritos',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: "{{ 'Cancel'|trans }}",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Executar',
                closeOnConfirm: false
            }, function () {
                window.location.href = url;
            });
        });

        $('[data-clone]').on('click', function () {
            var url = $(this).data('clone');
            swal({
                title: 'Confirmar operação?',
                text: 'Os dados do memorial selecionado serão copiados para um novo memorial',
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: "{{ 'Cancel'|trans }}",
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Executar',
                closeOnConfirm: false
            }, function () {

                $.ajax({
                    url: url,
                    method: 'post',
                    complete: function(xhr){
                        var response = xhr.responseJSON;
                        if(200 == xhr.status){
                            swal("{{ 'Success'|trans }}!", "Processo executado com sucesso!", "success");
                            window.location.reload();
                        }else{
                            var message = response.hasOwnProperty('error') ? response.error : 'Falha ao executar a operação';
                            swal("{{ 'Error'|trans }}!", message, "error");
                        }
                    },
                    beforeSend: function(){
                        swal({
                            title: "Copiando...",
                            text:  "Aguarde, este processo pode ser demorado.",
                            type: "info",
                            showConfirmButton: false
                        });
                    }
                });

            });
        });


    </script>

{% endblock %}
