
<script src="{{ asset('public/assets/jquery.js') }}"></script>
<link rel="stylesheet" href="{{ asset('public/assets/css/main.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.2.2/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.2.2/js/tabulator.min.js"></script>

{#

<script language="javascript" src="{{ asset('public/assets/table-scroller/js/tablescroller.js') }}"></script>
<script language="javascript" src="{{ asset('public/assets/table-scroller/js/tablescroller.jquery.js') }}"></script>
<link type="text/css" href="{{ asset('public/assets/table-scroller/css/tablescroller.css') }}" rel="stylesheet" />
#}

<style>
    body {
        background: #fff;
    }

    .memorial-selectors {
        background: #666;
    }

    .memorial-headers {
        background: #888;
    }

    .memorial-container {
        background: #478;
        height: 300px;
    }

    .memorial-blocks {
        background: #eee;
    }
</style>


<div class="row">
    <div class="col-md-12" id="example-table">
    </div>
</div>


<div class="row">


    {#<div class="col-md-12">

        <table id="memorial-table" class="table table-hovered table-bordered">
            <thead>
                <tr>
                    <th> Código </th>
                    <th> Descrição </th>
                    <th> NCM </th>
                    <th colspan="2"> CMV </th>

                    {% for power in powers %}
                        <td>
                            {{ attribute(power, 0) }} - {{ attribute(power, 1) }}
                        </td>
                    {% endfor %}

                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th> Protheus </th>
                    <th> Aplicado </th>
                    <th colspan="{{ powers|length }}"></th>
                </tr>
            </thead>
            <tbody style="overflow-x: auto;">

            {% for type, config in collection.components %}

                {% for item in config.items %}

                    {% set product = item.product %}

                <tr>
                    <td> {{ product.code }} </td>
                    <td> {{ product.description }} </td>
                    <td> {{ product.ncm }} </td>
                    <td> {{ product.cmvProtheus }} </td>
                    <td> {{ product.cmvApplied }} </td>

                    {% for range in item.ranges %}
                        <td> {{ range.price }} </td>
                    {% endfor %}

                </tr>

                {% endfor %}

            {% endfor %}

            </tbody>
        </table>


    </div>#}

    <div class="col-md-12 memorial-headers">

        <div class="row">
            <div class="col-md-5">

                <table class="table table-bordered">

                    <tr>
                        <td> CÓDIGO</td>
                        <td> DESCRIÇÃO</td>
                        <td> NCM</td>
                        <td> PROTHEUS</td>
                        <td> APLICADO</td>
                    </tr>

                </table>

            </div>

            <div class="col-md-7" style="overflow-x: auto;">

                <table class="table table-bordered">

                    <tr>
                        {% for power in powers %}
                            <td style="width: 100px;">
                                {{ attribute(power, 0) }} - {{ attribute(power, 1) }}
                            </td>
                        {% endfor %}
                    </tr>

                </table>

            </div>
        </div>

        <div class="col-md-12 memorial-container">
            <div class="row">
                <div class="col-md-5 memorial-blocks">

                    <table class="table table-bordered">

                        {% for i in 1..100 %}

                            <tr>
                                <td> {{ random() }} </td>
                                <td> DESCRIÇÃO</td>
                                <td> NCM</td>
                                <td> PROTHEUS</td>
                                <td> APLICADO</td>
                            </tr>

                        {% endfor %}

                    </table>

                </div>
                <div class="col-md-7 memorial-blocks" style="overflow-x: auto;">

                    <table class="table table-bordered">

                        {% for i in 1..100 %}

                            <tr>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                                <td> 24578.00</td>
                            </tr>

                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>

    </div>

</div>


<script>

    /*var tabledata = [
        {id:1, name:"Oli Bob", age:"12", col:"red", dob:""},
        {id:2, name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
        {id:3, name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
        {id:4, name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
        {id:5, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
        {id:6, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
        {id:7, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
        {id:8, name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"}
    ];

    $("#example-table").tabulator({
        height:400, // set height of table
        fitColumns:true, //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Código", field:"name", width: 150, frozen:true},
            {title:"Descrição", field:"age", width: 200, frozen:true},
            {title:"CMV Protheus", field:"col", width: 100, frozen:true},
            {title:"CMV Aplicado", field:"col", width: 100, frozen:true},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
            {title:"Extra Column", field:"col", width: 100},
        ],
        rowClick:function(e, row){ //trigger an alert message when the row is clicked
            alert("Row " + row.getData().id + " Clicked!!!!");
        }
    });

    $("#example-table").tabulator('setData', tabledata);*/


    /*$('#memorial-table').tabulator({
        height: 500,
        columns: [
            {title:"Código", field:"code", width: 150, frozen:true},
            {title:"Descrição", field:"description", width: 200, frozen:true},
            {title:"CMV Protheus", field:"cmvProtheus", width: 100, frozen:true},
            {title:"CMV Aplicado", field:"cmvApplied", width: 100, frozen:true}
        ]
    });

    $('#memorial-table').tabulator('setData', [
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 },
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 },
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 },
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 },
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 },
        {id: 210, description: 'This is a description', cmvProtheus: 100.25, cmvApplied: 251.00 }
    ]);
*/
</script>


<script>
/*    $('#memorial-table').tablescroller({
        width: 400,
        height: 300,
        pinnedRows: 1,
        pinnedCols: 2,
        container: "#memorial-container",
        removeOriginal: true
    });*/
</script>
