{% extends view('layout') %}

    {% set _route = app.request.attributes.get('_route') %}

    {% set display = query.display %}
    {% set is_module = attribute(app.request.attributes.get('_route_params'), 'type') == 'module' %}
    {% set is_grid = 'grid' == display %}
    {% set is_strict = 1 == query.strict %}

    {% set _route_params = app.request.attributes.get('_route_params')|merge(query|merge({'display':is_grid ? 'list' : 'grid' })) %}

    {% set route_create = is_module ? 'module_create' : 'inverter_create' %}
    {% set route_index = is_module ? 'module_index' : 'inverter_index' %}
    {% set route_update = is_module ? 'module_update' : 'inverter_update' %}
    {% set route_show = is_module ? 'module_show' : 'inverter_show' %}
    {% set route_copy = is_module ? 'module_copy' : 'inverter_copy' %}
    {% set route_delete = is_module ? 'module_delete' : 'inverter_delete' %}

    {% set image_link = '' %}

{% block styles %}
    <style>
        .product-imitation {
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background-position: center !important;
        }

        #form_filtration > .form-group > .col-sm-2 {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="modal inmodal fade" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="detail_component">
                    {% include view('kit.spinner') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% set components = pagination.items %}

    {% macro component_buttons(component, extra) %}

        {% set data = {
        id: component.id,
        model: component.model
        } %}

        {% set member = extra.member %}
        {% set account = extra.account %}

        <div class="btn-group btn-group-sm btn-group-justified">
            <a data-url="{{ path('component_show', {type:extra.type, id:component.id}) }}"
               data-toggle="modal"
               data-target="#modal_details"
               class="btn btn-default bt-xs">
                <i class="fa fa-eye"></i> {{ 'View'|trans }}
            </a>

            {% if member.isAdmin %}
            <a href="{{ path('component_update',{type:extra.type,id:component.id}) }}"
               class="btn btn-success">
                <i class="fa fa-pencil"></i> {{ 'Edit'|trans }}
            </a>
            {% endif %}

        </div>

    {% endmacro %}

    {% import _self as handler %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            {{ knp_pagination_filter(pagination, {'c.model, m.name':''}) }}

            <div class="col-md-2">
                <a href="{{ path(_route, _route_params) }}" class="btn btn-default btn-block">
                    <i class="fa fa-{{ is_grid ? 'list' : 'th' }}"></i> {{ is_grid ? 'Exibir Lista'|trans : 'Exibir Grade'|trans }}
                </a>
            </div>
        </div>

        <div class="row" id="real-content">

            <div class="{{ not is_grid ? 'col-md-12' }}">
                {% if is_grid %}

                    {% for component in components %}

                        <div class="col-md-3" id="component{{ component.id }}">
                            <div class="ibox">
                                <div class="ibox-content product-box">

                                    <div class="product-imitation" style="background-image: url({{ component.image|componentFilePath }})">
                                    </div>
                                    <div class="product-desc">

                                        <a data-url="{{ path('component_show', {type:type, id:component.id}) }}"
                                           data-toggle="modal"
                                           data-target="#modal_details"
                                           class="product-name">
                                            {{ component.model|slice(0,20) }} <br/>
                                            <small title="{{ component.maker }}">
                                                {{ component.maker.name|slice(0,25) }}
                                            </small>
                                        </a>

                                        {% if is_module %}
                                            <div class="small m-t-xs">
                                                Tipo de Célula: {{ component.cellType }}
                                            </div>
                                        {% else %}
                                            <div class="small m-t-xs">
                                                Número de MPPT: {{ component.mpptNumber }}
                                            </div>
                                        {% endif %}

                                        <div class="small m-t-xs">
                                            Potência:
                                            {{ is_module ? [component.maxPower|decimal,' W']|join : [component.nominalPower|decimal,' kW']|join }}
                                        </div>


                                        <div class="small m-t-xs">
                                            Eficiência:
                                            {{ is_module ? component.efficiency|decimal : component.maxEfficiency|decimal }}%
                                        </div>

                                        <div class="hr-line-dashed"></div>

                                        <div class="row">
                                            {{ handler.component_buttons(component,{type:type, member:member, 'account':account, 'update':route_update, 'show':route_show, 'delete':route_delete}) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}

                    <div class="ibox-content flow-h">

                        <table class="table table-stripped flow-lg">
                            <thead>
                            <tr>
                                <th>Fabricante</th>
                                <th>Modelo</th>
                                <th class="col-md-2">{{ is_module ? 'Tipo de Célula' : 'Potência' }}</th>
                                <th>{{ is_module ? 'Potência' : 'N&deg; de MPPT' }}</th>
                                <th>Eficiência</th>
                                <th class="col-md-3">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for component in components %}

                                <tr class="gradeY">
                                    <td> {{ component.maker.name }} </td>
                                    <td>
                                        {{ component.model }}
                                    </td>
                                    <td> {{ is_module ? component.cellType : [component.nominalPower|decimal,' kW']|join }} </td>
                                    <td> {{ is_module ? [component.maxPower|decimal,' W']|join : component.mpptNumber }} </td>
                                    <td> {{ is_module ? component.efficiency|decimal : component.maxEfficiency|decimal }}%</td>
                                    <td class="col-xs-2">
                                        {{ handler.component_buttons(component,{type:type, member:member, 'account':account, 'update':route_update, 'show':route_show, 'delete':route_delete}) }}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>

                {% endif %}

            </div>

        </div>

        <div class="row text-center">
            <div class="btn-group bt-xs">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>

    <div class="hide" id="proto_buttons">
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(function () {

            var form_filtration = $('#form_filtration');
            if (form_filtration.length) {
                form_filtration
                    .append('<input type="hidden" name="display" value="{{ display }}">')
                    .append('<input type="hidden" name="strict" value="{{ is_strict ? '1' : '0' }}">');
            }

            var detail_component = $('#detail_component');
            var detail_spinner = detail_component.html();
            $('[data-target="#modal_details"]').on('click', function(){
                var url = $(this).data('url');
                if (url) {
                    $('#e_modal_details').modal('show');
                    detail_component.html(detail_spinner);
                    $.ajax({
                        url: url,
                        method: 'get',
                        success: function (response) {
                            detail_component.html(response);
                        }
                    });
                } else {
                    detail_component.html('<h1> Nenhum componente selecionado para visualização </h1>');
                }
            });

        });


    </script>

{% endblock %}
