{% extends view('layout') %}

{% block styles %}


{% endblock %}

{% block body %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row" id="block_form">

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox-title flow-h" style="">
                    <span class="pull-left">
                        <h4>
                        <i class="fa fa-shield"> </i> Seguros
                        </h4>
                    </span>

                    <span class="pull-right small text-muted">
                        <a data-form="{{ path('insurance_create') }}"
                           class="btn btn-success pull-right">
                            <i class="fa fa-plus"></i> Seguro
                        </a>
                    </span>
                </div>
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">

                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th class="col-md-3"> Nome</th>
                                <th class="col-md-2 text-right"> Valor</th>
                                <th class="col-md-5 text-center"> Descrição</th>
                                <th class="col-md-1"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for insurance in insurances %}

                                <tr>
                                    <td>{{ insurance.name }}</td>

                                    <td class="text-right">
                                        {{ constant('AppBundle\\Entity\\Misc\\AdditiveInterface::TARGET_FIXED') == insurance.target ? insurance.value|currency : insurance.value ~ '%' }}
                                    </td>

                                    <td>{{ insurance.description }}</td>

                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default col-md-" data-form="{{ path('insurance_update',{id:insurance.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger" data-delete="{{ path('insurance_delete',{id:insurance.id}) }}">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="row text-center">
                            <div class="btn-group bt-xs">
                                {{ knp_pagination_render(insurances) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        Insurance = {
            blockForm: $('#block_form'),
            init: function () {
                this.loadForm();
                this.listenerDelete();
            },
            loadForm: function () {

                $('[data-form]').on('click', function () {
                    var url = $(this).data('form');
                    $.ajax({
                        url: url,
                        complete: function (xhr) {
                            Insurance.blockForm.html(xhr.responseText);
                        }
                    });
                });
            },
            listenerDelete: function () {
                $('[data-delete]').on('click', function () {

                    var url = $(this).data('delete');

                    swal({
                        title: "Confirmar exclusão?",
                        text: null,
                        type: "info",
                        showCancelButton: true,
                        cancelButtonText: "Cancelar",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Excluir",
                        closeOnConfirm: false
                    }, function () {
                        $.ajax({
                            url: url,
                            method: 'delete',
                            complete: function (xhr) {
                                swal("Exclusão efetuada com sucesso!", "", "success");
                                window.setTimeout(function () {
                                    window.location.reload();
                                    swal.close();
                                }, 500);
                            },
                            beforeSend: function () {
                                swal({
                                    title: "Excluindo...",
                                    text: "Aguarde!",
                                    type: "info",
                                    showConfirmButton: false
                                });
                            }
                        });
                    });
                });
            }
        };

        Insurance.init();

    </script>

{% endblock %}
