<table class="width-total orders" {#border="1" cellpadding="4"#} cellspacing="0">
    <thead>
    <tr class="th">
        <th>
            Código
        </th>
        <th style="width: 45%;">
            Produto
        </th>
        <th>
            Custo Un.
        </th>
        <th>
            QTD
        </th>
        <th>
            Custo T.
        </th>
    </tr>
    </thead>
    <tbody>

    {% for element in item.elements %}
        <tr class="td">
            <td>{{ element.code }}</td>
            <td class="text-left">{{ element.description }}</td>
            <td>{{ element.unitPrice|currency }}</td>
            <td class="text-center">{{ element.quantity }}</td>
            <td>{{ element.total|currency }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
