<table class="width-total orders" cellspacing="0">
    <thead>
    <tr class="th">
        <th>Código</th>
        <th style="min-width: 45%;">Produto</th>
        {% if not item.ispromotional %}<th>Custo Un.</th>{% endif %}
        <th>QTD</th>
        {% if not item.ispromotional %}<th>Custo T.</th>{% endif %}
    </tr>
    </thead>
    <tbody>

    {% for element in item.elements %}
        <tr class="td">
            <td>{{ element.code }}</td>
            <td class="text-left">{{ element.description }}</td>
            {% if not item.ispromotional %}<td>{{ element.unitPrice|currency }}</td>{% endif %}
            <td class="text-center">{{ element.quantity }}</td>
            {% if not item.ispromotional %}<td>{{ element.total|currency }}</td>{% endif %}
        </tr>
    {% endfor %}

    </tbody>
</table>
