{% extends ('orders/emails/layout.html.twig') %}
{% block body %}
<tr>
    <td class="content-block">

        <p>
            Prezado {{ order.account.owner.firstname }},
        </p>
        <p>
            O orçamento nº {{ order.reference }} foi validado.
        </p>
    </td>
</tr>
<tr>
    <td class="content-block">
        {% for item in order.childrens %}
            <p>
            <h4 class="text-center">{{ item.description }}</h4>

            <table class="width-total orders">
                <thead>
                <tr class="th">
                    <th>
                        Código
                    </th>
                    <th style="width: 45%;">
                        Produto
                    </th>
                    <th>
                        Custo Un.
                    </th>
                    <th>
                        QTD
                    </th>
                    <th>
                        Custo T.
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for element in item.elements %}
                    <tr class="td">
                        <td>{{ element.code }}</td>
                        <td class="text-left">{{ element.description }}</td>
                        <td>{{ element.unitPrice|currency }}</td>
                        <td class="text-center">{{ element.quantity }}</td>
                        <td>{{ element.total|currency }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

            {% include 'orders/emails/_totals.html.twig' %}

        {% endfor %}

        {% include 'orders/emails/_shipping.html.twig' %}

    </td>
</tr>

<tr>
    <td class="content-block">
        Para prosseguir com a negociaçâo, pedimos que acesse nossa Plataforma para APROVAR seu pedido.

        <p>
            Obrigado.
        </p>
    </td>
</tr>
{% endblock %}
