{% extends view('layout') %}

{% block styles %}

    {% include view('helper.plugins_css') %}

    <style>
        .a4-paper {
            margin: 0 auto;
            width: 210mm;
            height: 297mm;
            background: #f7f7f7;
            box-shadow: 0 0 2px #444;
        }
        .a4-paper.cover {
            text-align: center;
        }
        .note-editor{
            min-height: 150px !important;
        }
        .ui-tooltip{
            display: none !important;
        }
        #document_parameters_header_text{
            height: 110pt;
            resize: none;
            width: 100%;
            text-align: right;
            background: #f8f8f8;
            padding: 1rem;
            box-shadow: none;
            border: 1px dashed #222;
        }
        #header_logo_stack{
            border: 1px dashed #222;
            height: 110pt;
        }
        .uk-nestable-item.pagebreak{
            background: #f3f3f3;
            border-top: 1px dashed #666;
            border-bottom: 1px dashed #666;
        }
        .uk-nestable-item.pagebreak .pagebreak-title{
            text-align: center;
            position: absolute;
            width: 50%;
            left: 25%;
            text-transform: uppercase;
        }

        .btn-trash{
            cursor: pointer;
            font-size: 15px;
        }
        div[id^="document_parameters_sections_"] label{
            display: none;
        }
        div.group-editable{
            margin-top: 1rem;
        }
        div.group-editable [type="checkbox"]{
            float: left;
        }
        div.group-editable label{
            display: inline;
            margin-left: 2rem;
        }
        .note-editor .modal-footer,
        .note-editor .note-group-image-url{
            display: none;
        }
        .note-editor .note-image-input.form-control{
            border: none !important;
            padding: 0 20px;
        }
        #chart_color{
            font-size: 5rem;
        }
    </style>

{% endblock %}

{% block body %}

    <div style="min-height: 1500px;" class="wrapper wrapper-content animated fadeInRight">

        {% if project is defined and project.token %}
            {% include view('project.breadcrumbs') %}
        {% endif %}

        <div class="row">
            <div class="col-lg-12">

                {{ form_start(form) }}

                <div class="tabs-container">
                    <ul class="nav nav-tabs">

                        {% if form.parameters.cover_image is defined %}
                        <li class=""><a data-toggle="tab" href="#tab-cover"> Capa </a></li>
                        <li class=""><a data-toggle="tab" href="#tab-header">Cabeçalho</a></li>
                        {% endif %}
                        <li class="active"><a data-toggle="tab" href="#tab-sections">Seções</a></li>
                        {% if form.parameters.cover_image is defined %}
                            <li class=""><a data-toggle="tab" href="#tab-theme">Tematização</a></li>
                        {% endif %}

                        <li class="pull-right">
                            <div class="btn-group">
                                {% if project is defined and project.token %}
                                    <a class="btn btn-info" target="_blank"
                                       href="{{ path('project_doc_generate',{token:project.token}) }}">
                                        {{ 'project.generate_budget'|trans }}
                                    </a>
                                {% endif %}

                                {#<button id="btn_redefine" class="btn btn-default">
                                    <i class="fa fa-dot-circle-o"></i> {{ 'Redefine'|trans }}
                                </button>#}

                                <button class="btn btn-primary">
                                    <i class="fa fa-save"></i> {{ 'Save'|trans }}
                                </button>
                            </div>
                        </li>
                    </ul>
                    <div class="tab-content">

                        {% if document.cover_image is defined %}

                        <div id="tab-cover" class="tab-pane">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        {{ form_widget(form.parameters.cover_image) }} <br/>

                                        {% if cover_size %}
                                            <i class="fa fa-info"></i>
                                            Atenção: São permitidas apenas imagens com tamanho máximo de {{ cover_size }}Kb no formato jpeg
                                            <br>
                                            <span>
                                                É recomendada resolução de 1240x1754 pixels e 150ppi
                                            </span>
                                        {% endif %}

                                        <div class="hr-line-dashed"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="a4-paper cover">
                                            {% if document.cover_image is defined and document.cover_image is not null and document.cover_image.readable %}
                                                <img style="width: 100%; max-height: 297mm;"
                                                     src="{{ asset(['uploads/documents/', document.cover_image.filename]|join) }}">
                                                <div class="hr-line-dashed"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div id="tab-header" class="tab-pane">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        {{ form_widget(form.parameters.header_logo) }} <br/>
                                        {% if logo_size %}
                                            <i class="fa fa-info"></i>
                                            Atenção: São permitidas apenas imagens com tamanho máximo de {{ logo_size }}Kb nos formatos png ou jpeg
                                            <br>
                                            <span>
                                                A logo configurada nesta seção também será utilizada no template de email das propostas
                                            </span>
                                        {% endif %}
                                        <div class="hr-line-dashed"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="a4-paper">
                                            <div class="col-md-6">
                                                <h3> Configurar Logo Cabeçalho </h3>
                                                <div id="header_logo_stack">
                                                {% if document.header_logo is defined and document.header_logo is not null and document.header_logo.readable %}
                                                    <img style="max-height: 100pt; float: left;"
                                                         src="{{ asset(['uploads/documents/', document.header_logo.filename]|join) }}">
                                                    <div class="hr-line-dashed"></div>
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h3> Configurar Texto Cabeçalho </h3>
                                                <div style="width: 100mm; float: left;">
                                                    {{ form_widget(form.parameters.header_text) }}
                                                </div>
                                            </div>

                                            <div class="col-md-12 alert alert-danger">
                                                <h4>
                                                    Esta seção deve ser configurada com atenção às limitações proporcionais: <br/>
                                                </h4>
                                                <ul>
                                                    <li> No documento, a logo será redimensionada de forma similar </li>
                                                    <li> As informações textuais não podem ultrapassar os limites definidos</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                            <div id="tab-theme" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="ibox float-e-margins">
                                                <div id="section_title_demo" style="width:50%; float:left; background: {{ document.section_title_background }};" class="ibox-title">
                                                    <h5 style="text-transform: uppercase;
                                                            font-weight: bold;
                                                            color: {{ document.section_title_color }};
                                                            font-family: {{ document.section_title_font_family }};
                                                            font-size: {{ document.section_title_font_size }}px;">
                                                        Barras de títulos
                                                    </h5>
                                                </div>
                                                <div style="width:48%; float:left; text-align: center;">
                                                    <h5> <i id="chart_color" class="fa fa-area-chart"></i> </h5>
                                                </div>
                                                <div class="ibox-content">

                                                    <div class="row">
                                                        <div class="col-md-2">

                                                            <label class="text-left"> Cor de Fundo </label>
                                                            {{ form_widget(form.parameters.section_title_background, {
                                                                attr:{class:'form-control'}
                                                            }) }}

                                                            {#
                                                            <h3> Cor de Fundo </h3>
                                                            <div style="display: inline-block" id="section_title_change_background">
                                                            </div>#}
                                                        </div>
                                                        <div class="col-md-2 col-md-offset-2">
                                                            <label class="text-left"> Cor da Fonte </label>
                                                            {{ form_widget(form.parameters.section_title_color,{
                                                                attr:{class:'form-control'}
                                                            }) }}
                                                            {#<h3> Cor da Fonte </h3>
                                                            <div style="display: inline-block" id="section_title_change_color">
                                                            </div>#}
                                                        </div>

                                                        <div class="col-md-2 col-md-offset-2 text-center">
                                                            <label class="text-left"> Cor dos Gráficos </label>
                                                            {{ form_widget(form.parameters.chart_color,{
                                                                attr:{class:'form-control'}
                                                            }) }}
                                                        </div>

                                                        {# TODO: NOT SUPPORTED #}
                                                        <div class="col-md-3 hide">
                                                            <h3> Tipo de Fonte </h3>
                                                            {{ form_widget(form.parameters.section_title_font_family, {'attr':{'class':'form-control'}}) }}
                                                            <h3> Tamanho da Fonte </h3>
                                                            {{ form_widget(form.parameters.section_title_font_size, {'attr':{'class':'form-control'}}) }}
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                        <div id="tab-sections" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 btn-group">
                                        <a class="btn btn-sm btn-primary section-add">
                                            <i class="fa fa-plus"></i> Seção
                                        </a>
                                        <a class="btn btn-sm btn-default section-add pagebreak">
                                            <i class="fa fa-plus"></i> Quebra de Página
                                        </a>
                                    </div>
                                    <div class="col-md-8 alert alert-warning">
                                        Atenção: Clique e arraste qualquer bloco abaixo para redefinir a ordem
                                    </div>
                                </div>


                                <ul class="uk-nestable" id="section-fields"
                                    data-prototype="{{ form_widget(form.parameters.sections.vars.prototype)|e }}">

                                    {% for section in form.parameters.sections %}

                                        <li class="uk-nestable-item">
                                            <div class="uk-nestable-panel">
                                                <i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                                                <i class="fa fa-trash btn-trash pull-right"></i>
                                                <div class="form-data">
                                                    {{ form_widget(section) }}
                                                </div>
                                            </div>
                                        </li>

                                    {% endfor %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="hide">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}

    <script>
        $(function(){

            var sections = $('#section-fields');
            var section_add = $('.section-add');

            function change_chart_color(color) {
                $('#chart_color').css('color', $('#document_parameters_chart_color').val());
            }

            change_chart_color();

            function refresh_nestable(){
                $.each(sections.find('li.uk-nestable-item'), function(i, section){
                    $(section).find('.input-order').val(parseInt(i)+1);
                });
            }

            function init_editor(element) {

                element.summernote({
                    height: 150,
                    popover: {},
                    lang: 'pt-BR',
                    toolbar: [
                        ['fontsize', ['fontname', 'fontsize', 'color', 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript']],
                        ['para', ['ol', 'ul', 'paragraph', 'height']],
                        ['insert', ['picture']]
                    ],
                    callbacks: {
                        onPaste: function(e) {
                            var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                            e.preventDefault();
                            setTimeout(function () {
                                document.execCommand('insertText', false, bufferText);
                            }, 10);
                        }
                    }
                });
            }

            function configure_section(section){

                if('pagebreak' !== section.find('textarea').val()) {

                    var inputs = section.find('input[type="text"], textarea');

                    inputs.addClass('form-control');

                    var edit_checkbox = section.find('[type="checkbox"]:not(.locked)');
                    edit_checkbox.closest('div').addClass('form-group group-editable');

                    edit_checkbox.on('click', function () {
                        if ($(this).is(':checked')) {
                            inputs.prop('required', false);
                        } else {
                            inputs.prop('required', true);
                        }
                    });

                    init_editor(section.find('textarea:not(.hide)'));

                }else{
                    section.addClass('pagebreak');
                    section.find('input, textarea').hide();
                    section.prepend('<div class="pagebreak-title"> Quebra de página  </div>');
                }

                section.find('.btn-trash').on('click', function () {
                    $(this).closest('li.uk-nestable-item').remove();
                });

                return section;
            }

            section_add.on('click', function(){

                var section_fields = $('#section-fields');
                var section_prototype = section_fields.data('prototype');

                var next_section = $(
                        '<li class="uk-nestable-item">' +
                        '<div class="uk-nestable-panel">' +
                        '<i class="uk-nestable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>' +
                        '<i class="fa fa-trash btn-trash pull-right"></i>' +
                        section_prototype.replace(/__name__/g, section_fields.find('li').length) +
                        '</div>' +
                        '</li>'
                );

                if($(this).hasClass('pagebreak')){
                    next_section.find('input[type="text"], textarea').val('pagebreak');
                }

                section = configure_section(next_section);

                section_fields.append(section);

                refresh_nestable();

                $('html, body').animate({
                    scrollTop: $(document).height()
                }, 1500);
            });

            var clear_markdown = $('textarea:contains("[fixed_section][")');
            if(clear_markdown.length){
                clear_markdown.addClass('hide');
                var markdown_item = clear_markdown.closest('li.uk-nestable-item');
                markdown_item.find('i.btn-trash').remove();
                markdown_item.find('[type="checkbox"]').addClass('locked').hide();
            }

            if(sections.find('li').length){
                $.each(sections.find('li'), function(i, section){
                    configure_section($(section));
                });
            }

            var nestable = UIkit.nestable('.uk-nestable', {
                handleClass: 'uk-nestable-handle'
            }).on('stop.uk.nestable', function(event, nestable){
                refresh_nestable();
            });

            {% if document.cover_image is defined %}

            var theme = {
                section_title_demo: $('#section_title_demo'),
                section_title_color: $('#document_parameters_section_title_color'),
                section_title_background: $('#document_parameters_section_title_background'),
                section_title_change_color: $('#section_title_change_color'),
                chart_color: $('#document_parameters_chart_color')
                //section_title_change_background: $('#section_title_change_background')
            };

            var section_title_style = theme.section_title_demo[0].style;
            var section_title_demo_h5 = theme.section_title_demo.find('h5');

            /*theme.section_title_change_background.colorpicker({
                color: section_title_style.backgroundColor,
                container: true,
                inline: true
            }).on('changeColor', function(ev) {
                var color = ev.color.toHex();
                theme.section_title_background.val(color);
                section_title_style.backgroundColor = color;
            });
            theme.section_title_background.on('keyup', function(){
                theme.section_title_change_background.colorpicker('setColor', $(this).val());
            });*/

            theme.section_title_background.colorpicker().on('changeColor', function(ev) {
                //var color = ev.color.toHex();
                //theme.section_title_background.val(color);
                section_title_style.backgroundColor = ev.color.toHex();
            });

            /*theme.section_title_change_color.colorpicker({
                color: section_title_style.textColor,
                container: true,
                inline: true
            }).on('changeColor', function(ev) {
                var color = ev.color.toHex();
                theme.section_title_color.val(color);
                section_title_demo_h5.css('color', color);
            });*/
            theme.section_title_color.colorpicker().on('changeColor', function(ev) {
                //var color = ev.color.toHex();
                //theme.section_title_background.val(color);
                section_title_demo_h5.css('color', ev.color.toHex());
            });

            theme.chart_color.colorpicker().on('changeColor', function(ev) {
                change_chart_color();
            });


            $('#document_parameters_section_title_font_family').on('change', function(){
                section_title_demo_h5.css('font-family', $(this).val());
            });

            $('#document_parameters_section_title_font_size').on('change', function(){
                section_title_demo_h5.css('font-size', $(this).val()+'px');
            });

            {% endif %}

            $('#btn_redefine').on('click', function(event){
                event.preventDefault();
                swal({
                    type: 'warning',
                    title: 'Confirmar operaçao?',
                    text: 'Isto fará com que as configurações sejam redefinidas mas não afetará as propostas já foram geradas',
                    showCancelButton: true,
                    showConfirmButton: true,
                    closeOnConfirm: false
                }, function(){

                    $.ajax({
                        url: '{{ path('document_redefine') }}',
                        method: 'post',
                        data: {_method:'delete'},
                        complete: function(xhr){
                            if(202 == xhr.status){
                                window.location.reload();
                            }else{
                                swal({
                                    type: 'error',
                                    title: 'Erro',
                                    text: xhr.responseJSON.error,
                                    showConfirmButton: false
                                });
                            }
                        },
                        beforeSend: function(){
                            swal({
                                type: 'info',
                                title: 'Aguarde!',
                                text: 'Redefinindo...',
                                showConfirmButton: false
                            });
                        }
                    });

                });
            });
        });

    </script>

{% endblock %}