{% extends view('layout') %}

{% block styles %}

    <link href="{{ asset('assets/proposal2/style.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}


    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="ocultar">

                {#<span id="idConjunct">0</span>
                <span id="idEditor">0</span>#}

                {#Botoes do topo da pagina#}
                <div class="col-m-12" id="btModal">
                    <button type="button" class="btn btn-primary margLeft3" data-toggle="modal" data-target="#idModal">Nova Sessão</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#idModalDel">Excluir Página</button>

                    <button type="button" class="btn btn-success pr margRight3" title="Descer página" onclick="down(this)"><i class="fa fa-arrow-circle-down"></i></button>
                    <button type="button" class="btn btn-success pr margRight3" title="Subir página" onclick="up(this)"><i class="fa fa-arrow-circle-up"></i></button>
                </div>
                <!-- Modal sessoes-->
                <div class="modal fade" id="idModal" role="dialog">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modelos de Sessão</h4>
                            </div>
                            <div class="modal-body">
                                <p>Escolha uma sessão.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal delete pagina-->
                <div class="modal fade" id="idModalDel" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Deseja excluir essa página?</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>

                {#botoes delete pagina#}
                <div class="col-m-12 margBottom30" id="btDelete">
                    <button type="button" class="btn btn-default pr margLeft3" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-danger pr margRight3" onclick="set(this)" data-model="del" data-dismiss="modal">Sim</button>
                </div>

                {#botoes das sessoes#}
                <div class="col-m-12 margBottom10" id="btSessions">
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-0" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/l1.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="6-6" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c2.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="8-4" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c1c2p.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-8" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c1pc2.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-4-4" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c3.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-6-6" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/l1c2.png') }}"></button>
                </div>

                {#pagina#}
                <div id="page" class="page"></div>

                {#conjunto de botoes e pagina#}
                <div id="conjunct"></div>

                {#separador de paginas#}
                <div id="separator" class="separator"></div>

                {#modelos de sessao#}
                <div id="sessao-12" class="col-m-12 semMargem row">
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)"><center>X</center></a>
                    <div class="col-m-160mm edit minHeight50">Conteúdo</div>
                </div>

                <div id="sessao-6-6" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)" ><center>X</center></a>
                    <div class="col-m-80mm edit minHeight50">Conteúdo</div>
                    <div class="col-m-80mm edit minHeight50">Conteúdo</div>
                </div>

                <div id="sessao-8-4" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)" ><center>X</center></a>
                    <div class="col-m-106mm edit minHeight50">Conteúdo</div>
                    <div class="col-m-53mm edit minHeight50">Conteúdo</div>
                </div>

                <div id="sessao-4-8" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)" ><center>X</center></a>
                    <div class="col-m-53mm edit minHeight50">Conteúdo</div>
                    <div class="col-m-106mm edit minHeight50">Conteúdo</div>
                </div>

                <div id="sessao-4-4-4" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)" ><center>X</center></a>
                    <div class="col-m-53mm edit minHeight50">Conteúdo</div>
                    <div class="col-m-53mm edit minHeight50">Conteúdo</div>
                    <div class="col-m-53mm edit minHeight50">Conteúdo</div>
                </div>
                <div id="sessao-12-6-6" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)" ><center>X</center></a>
                    <div class="col-m-160mm edit minHeight25">Conteúdo</div>
                    <div class="col-m-80mm edit minHeight25 marginLeft4">Conteúdo</div>
                    <div class="col-m-80mm edit minHeight25">Conteúdo</div>
                </div>
            </div>

            <div class="col-md-10">
                <div><h3>Editor de Proposta</h3><br/></div>

                <div id="bloco">
                    <div class="ocultar">
                        <span id="idConjunct">4</span>
                        <span id="idEditor">17</span>
                    </div>

                    <div id="conjunct_2" data-position="2">
                        <div class="col-m-12" id="btModal_2">
                            <button type="button" class="btn btn-primary margLeft3" data-toggle="modal" data-target="#idModal_2">Nova Sessão</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#idModalDel_2">Excluir Página</button>

                            <button type="button" class="btn btn-success pr margRight3" title="Descer página" onclick="down(this)" data-pos="2"><i class="fa fa-arrow-circle-down"></i></button>
                            <button type="button" class="btn btn-success pr margRight3" title="Subir página" onclick="up(this)" data-pos="2"><i class="fa fa-arrow-circle-up"></i></button>
                        </div>
                        <div class="modal fade" role="dialog" id="idModal_2" style="display: none;">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Modelos de Sessão</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Escolha uma sessão.</p>
                                        <div class="col-m-12 margBottom10" id="btSessions_2">

                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-0" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/l1.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="6-6" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/c2.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="8-4" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/c1c2p.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-8" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/c1pc2.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-4-4" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/c3.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-6-6" data-dismiss="modal" data-pg="page_2"><img src="/assets/proposal2/images/l1c2.png"></button>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" role="dialog" id="idModalDel_2">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Deseja excluir essa página?</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-m-12 margBottom30" id="btDelete_2">

                                            <button type="button" class="btn btn-default pr margLeft3" data-dismiss="modal" data-pg="page_2">Não</button>
                                            <button type="button" class="btn btn-danger pr margRight3" onclick="set(this)" data-model="del" data-dismiss="modal" data-pg="page_2">Sim</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page" id="page_2"><div class="col-m-12 semMargem row">
                                <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)"><center>X</center></a>
                                <div class="col-m-160mm edit minHeight50 cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="editor_13" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Editor de Rich Text, editor_13" title="Editor de Rich Text, editor_13" aria-describedby="cke_1105" contenteditable="true"><p><span style="color:#2ecc71;"></span><strong><em><span style="font-size:22px;"><br></span></em></strong></p><p><span style="color:#2ecc71;"><strong><em><span style="font-size:22px;"> </span></em></strong></span><strong><em><span style="font-size:22px;"><span style="color:#d35400;"><span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="66" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dclient"> Uzumaki Narutoo </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -14px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span></span> </span></em></strong><span style="color:#2ecc71;"><br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="65" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="daverageConsumption"> 572 kWh </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="64" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="ddocument"> 123.456.789-10 </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="63" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dphone"> (42) 9 1234-5678 </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="62" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="demail"> name@mail.com </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> </span><span style="color:#c0392b;"><br></span></p><p><span style="color:#c0392b;"><span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="61" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dtableAreas"> tabela com as areas </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span>  <br></span></p><p><span style="color:#c0392b;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="60" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dgenerationChart"> grafico de geração </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#c0392b;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="59" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dannualGeneration"> geração anual </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <span style="font-size:20px;"><span style="font-family: Georgia,serif;"><br></span></span></span></p><p><span style="font-size:20px;"><span style="font-family: Georgia,serif;"><span style="color: rgb(192, 57, 43);"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="58" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dmonthlyAverageGeneration"> geração média mensal </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -13px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></span></span></p><p><span style="font-size:20px;"><span style="font-family: Georgia,serif;"><span style="color: rgb(192, 57, 43);"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="57" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dlifetime"> 20 anos </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -13px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span></span><span style="color: rgb(46, 204, 113);"> <br></span></span></span></p><p><span style="font-size:20px;"><span style="font-family: Georgia,serif;"><span style="color: rgb(46, 204, 113);"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="56" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dinflation"> inflação </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -13px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></span></span></p><p><span style="font-size:20px;"><span style="font-family: Georgia,serif;"><span style="color: rgb(46, 204, 113);"> </span><span style="color: rgb(0, 0, 0);"><span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="55" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dlossOfEfficiency"> perda de eficiencia </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background:rgba(220,220,220,0.5);background-image:url(http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png)"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></span></span></p><p><span style="color:#000000;"><span style="font-size:20px;"><span style="font-family: Georgia,serif;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="54" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dannualOperatingCost"> custo anual de operação </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> </span></span><br></span></p><p><span style="color:#000000;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="53" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dpriceOfKWh"> preço do Kwh mais impostos </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#000000;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="67" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dproposalValue"> valor da proposta </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#000000;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="68" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="daccumulatedCash"> caixa acumulado </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#000000;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="69" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dvpl"> vpl </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#000000;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="70" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dtir"> tir </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span></span><span style="color:#2ecc71;"> <br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="71" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dsimplePayback"> payback simples </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></span></p><p><span style="color:#2ecc71;"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="72" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="ddiscountedPayback"> payback descontado </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span><span style="background-color:#f1c40f;"> </span><br></span></p><p><span style="color:#f1c40f;"><span style="background-color: rgb(241, 196, 15);"><span style="background-color: rgb(44, 62, 80);"> </span></span><span style="background-color: rgb(44, 62, 80);"><span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="73" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="daccumulatedCashChart"> grafico de caixa acumulado </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> </span><br></span></p><p><span style="color:#f1c40f;"><span style="background-color: rgb(44, 62, 80);"> <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="74" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dtableEquipmentAndServices"> tabela de equipamentos e serviços </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> </span><br></span></p><p><span style="color:#f1c40f;"><br></span></p><p><span style="color:#f1c40f;"><span style="background-color: rgb(44, 62, 80);">terminou</span></span><span style="color:#2ecc71;"><br></span></p></div>
                            </div>
                        </div>
                        <div class="separator"></div>
                    </div>
                    <div id="conjunct_3" data-position="3">
                        <div class="col-m-12" id="btModal_3">
                            <button type="button" class="btn btn-primary margLeft3" data-toggle="modal" data-target="#idModal_3">Nova Sessão</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#idModalDel_3">Excluir Página</button>

                            <button type="button" class="btn btn-success pr margRight3" title="Descer página" onclick="down(this)" data-pos="3"><i class="fa fa-arrow-circle-down"></i></button>
                            <button type="button" class="btn btn-success pr margRight3" title="Subir página" onclick="up(this)" data-pos="3"><i class="fa fa-arrow-circle-up"></i></button>
                        </div>
                        <div class="modal fade" role="dialog" id="idModal_3" style="display: none;">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Modelos de Sessão</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Escolha uma sessão.</p>
                                        <div class="col-m-12 margBottom10" id="btSessions_3">

                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-0" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/l1.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="6-6" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/c2.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="8-4" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/c1c2p.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-8" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/c1pc2.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="4-4-4" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/c3.png"></button>
                                            <button type="button" class="btn btn-info " onclick="set(this)" data-model="12-6-6" data-dismiss="modal" data-pg="page_3"><img src="/assets/proposal2/images/l1c2.png"></button>

                                        </div></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" role="dialog" id="idModalDel_3">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Deseja excluir essa página?</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-m-12 margBottom30" id="btDelete_3">

                                            <button type="button" class="btn btn-default pr margLeft3" data-dismiss="modal" data-pg="page_3">Não</button>
                                            <button type="button" class="btn btn-danger pr margRight3" onclick="set(this)" data-model="del" data-dismiss="modal" data-pg="page_3">Sim</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page" id="page_3"><div class="col-m-12 semMargem row">
                                <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSes(this)"><center>X</center></a>
                                <div class="col-m-160mm edit minHeight25 cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="editor_14" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Editor de Rich Text, editor_14" title="Editor de Rich Text, editor_14" aria-describedby="cke_1357" contenteditable="true"><p>Conteúdo <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="0" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="daccumulatedCash"> caixa acumulado </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></p></div>
                                <div class="col-m-80mm edit minHeight25 marginLeft4 cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="editor_15" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Editor de Rich Text, editor_15" title="Editor de Rich Text, editor_15" aria-describedby="cke_1452" contenteditable="true"><p>Conteúdo <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="0" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dtableEquipmentAndServices"> tabela de equipamentos e serviços </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background: rgba(220, 220, 220, 0.5) url(&quot;http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png&quot;) repeat scroll 0% 0%; top: -15px; left: 0px; display: block;"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></p></div>
                                <div class="col-m-80mm edit minHeight25 cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="editor_16" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Editor de Rich Text, editor_16" title="Editor de Rich Text, editor_16" aria-describedby="cke_1547" contenteditable="true"><p>Conteúdo <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off" class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card" data-cke-display-name="hcard" data-cke-widget-id="0" role="region" aria-label="hcard widget" contenteditable="false"><span class="h-card cke_widget_element" data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D" data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0" data-widget="hcard"> <!--{cke_protected}{C}%3C!%2D%2Dcontent%2D%2D%3E--> <span class="dproposalValue"> valor da proposta </span> </span><span class="cke_reset cke_widget_drag_handler_container" style="background:rgba(220,220,220,0.5);background-image:url(http://localhost:8000/assets/proposal2/ckeditor/plugins/widget/images/handle.png)"><img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" title="Click e arraste para mover" role="presentation" draggable="true" width="15" height="15"></span></span> <br></p></div>
                            </div>
                        </div>
                        <div class="separator"></div>
                    </div>

                </div>

                <button class="btn btn-primary col-md-2 margBottom" onclick="newPage()">Nova Página</button>
            </div>


            <div class="col-md-2 sidebar-tags">
                {#dados vindos da controller#}
                <div id="dataProposal" class="hidden">
                    {#dados do client#}
                    <div id="dclient">
                        {{ project.customer.name }}
                    </div>

                    <div id="daverageConsumption">
                        {{ project.customer.averageConsumption }}
                    </div>

                    <div id="ddocument">
                        {{ project.customer.document }}
                    </div>

                    <div id="dphone">
                        {{ project.customer.phone }}
                    </div>

                    <div id="demail">
                        {{ project.customer.email }}
                    </div>

                    {#dados da geração#}
                    <div id="dtableAreas">
                        {{ project.customer.tableAreas }}
                    </div>

                    <div id="dgenerationChart">
                        {{ project.customer.generationChart }}
                    </div>

                    <div id="dannualGeneration">
                        {{ project.customer.annualGeneration }}
                    </div>

                    <div id="dmonthlyAverageGeneration">
                        {{ project.customer.monthlyAverageGeneration }}
                    </div>

                    {#análise financeira#}
                    <div id="dlifetime">
                        {{ project.customer.lifetime }}
                    </div>

                    <div id="dinflation">
                        {{ project.customer.inflation }}
                    </div>

                    <div id="dlossOfEfficiency">
                        {{ project.customer.lossOfEfficiency }}
                    </div>

                    <div id="dannualOperatingCost">
                        {{ project.customer.annualOperatingCost }}
                    </div>

                    <div id="dpriceOfKWh">
                        {{ project.customer.priceOfKWh }}
                    </div>

                    <div id="dproposalValue">
                        {{ project.customer.proposalValue }}
                    </div>

                    <div id="daccumulatedCash">
                        {{ project.customer.accumulatedCash }}
                    </div>

                    <div id="dvpl">
                        {{ project.customer.vpl }}
                    </div>

                    <div id="dtir">
                        {{ project.customer.tir }}
                    </div>

                    <div id="dsimplePayback">
                        {{ project.customer.simplePayback }}
                    </div>

                    <div id="ddiscountedPayback">
                        {{ project.customer.discountedPayback }}
                    </div>

                    <div id="daccumulatedCashChart">
                        {{ project.customer.accumulatedCashChart }}

                    </div>

                    {#equipamentos e serviços#}
                    <div id="dtableEquipmentAndServices">
                        {{ project.customer.tableEquipmentAndServices }}
                    </div>

                </div>

                {#tags drag de cópia#}
                <div id="tagsProposal" class="hidden">
                    {#dados do client#}
                    <div id="client">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region"
                              aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                {#<a data-cke-saved-href="mailto:alice@example.com" href="mailto:alice@example.com"
                                   class="client">{{ project.customer.name }}</a>#}
                                <span class="dclient"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="averageConsumption">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="daverageConsumption"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="document">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="ddocument"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="phone">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dphone"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="email">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="demail"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    {#dados da geração#}
                    <div id="tableAreas">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dtableAreas"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="generationChart">
                        {#<img src="{{ asset('assets/proposal2/images/geracaoMensalEx.png') }}" alt="Gráfico"
                             width="311" height="250"/>#}
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dgenerationChart"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="annualGeneration">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dannualGeneration"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="monthlyAverageGeneration">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dmonthlyAverageGeneration"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    {#análise financeira#}
                    <div id="lifetime">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dlifetime"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="inflation">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dinflation"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="lossOfEfficiency">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dlossOfEfficiency"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="annualOperatingCost">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dannualOperatingCost"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="priceOfKWh">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dpriceOfKWh"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="proposalValue">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region"
                              aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dproposalValue"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
				        </span>
                    </div>

                    <div id="accumulatedCash">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="daccumulatedCash"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="vpl">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dvpl"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="tir">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dtir"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="simplePayback">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dsimplePayback"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="discountedPayback">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="ddiscountedPayback"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="accumulatedCashChart">
                       {# <img src="{{ asset('assets/proposal2/images/caixaAcumulado.png') }}" alt="Gráfico"
                             width="300" height="200"/>#}
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="daccumulatedCashChart"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    {#equipamentos e serviços#}
                    <div id="tableEquipmentAndServices">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dtableEquipmentAndServices"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                </div>

                {#Lista de dragAndDrop#}
                <ul id="infoList" class="list-group">
                    <div class="list-group-item active">
                        <h3 class="">Informações Úteis</h3>
                        (Puxar e Soltar)
                    </div>
                    <li>
                        <div class="list-group-item" data-info="client" draggable="true">
                            <i class="fa fa-user"></i> Nome do Cliente
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="averageConsumption" draggable="true">
                            <i class="fa fa-bolt"></i> Média de Consumo
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="document" draggable="true">
                            {#<i class="fa fa-area-chart"></i>#} CPF/CNPJ
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="phone" draggable="true">
                            {#<i class="fa fa-info"></i>#} Telefone
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="email" draggable="true">
                            E-mail
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="tableAreas" draggable="true">
                            Tabela com as áreas
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="generationChart" draggable="true">
                            Gráfico da Geração
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="annualGeneration" draggable="true">
                            Geração Anual
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="monthlyAverageGeneration" draggable="true">
                            Geração média mensal
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="lifetime" draggable="true">
                            Tempo de vida
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="inflation" draggable="true">
                            Inflação
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="lossOfEfficiency" draggable="true">
                            Perda de eficiência
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="annualOperatingCost" draggable="true">
                            Custo anual de operação
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="priceOfKWh" draggable="true">
                            Preço do kWh + Impostos
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="proposalValue" draggable="true">
                            Valor da proposta
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="accumulatedCash" draggable="true">
                            Caixa acumulado
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="vpl" draggable="true">
                            VPL
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="tir" draggable="true">
                            TIR
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="simplePayback" draggable="true">
                            Payback simples
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="discountedPayback" draggable="true">
                            Payback descontado
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="accumulatedCashChart" draggable="true">
                            Gráfico do caixa acumulado
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="tableEquipmentAndServices" draggable="true">
                            Tabela com equipamentos e serviços + QTE
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset('assets/proposal2/script.js') }}"></script>
    {#<script src="http://cdn.ckeditor.com/4.7.0/standard-all/ckeditor.js"></script>#}
    <script src="{{ asset('assets/proposal2/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/proposal2/dragable.js') }}"></script>

    <script>
        UPLOADCARE_PUBLIC_KEY = '9490325b6fcc3e8d094d';
    </script>

{% endblock %}