{% extends view('layout') %}

{% block styles %}

    <link href="{{ asset('assets/proposal2/style.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}


    <div class="wrapper wrapper-content">

        {% include view('proposal.navbar') %}

        <div class="row">
            <div>
                <canvas style="display:none;" id="project_chart" width="600"
                        height="428.6"></canvas>
                <div id="canvasChartGeneration"></div>

                <canvas style="display:none;" id="financial_chart" width="600"
                        height="428.6"></canvas>
                <div id="canvasChartFinancial"></div>
            </div>

            <!-- Modal sessoes-->
            <div class="modal fade" id="idModal" role="dialog">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modelos de Sessão</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ocultar">


                {#Botoes do topo da pagina#}
                <div class="col-m-12 pdfHidden btnTop" id="topPageButtons">
                    <button type="button" class="btn btn-primary margLeft3" data-toggle="modal" data-target="#idModal">Nova Sessão</button>
                    <button type="button" class="btn btn-danger">Excluir Página</button>

                    <button type="button" class="btn btn-success pr margRight3" title="Descer página" onclick="down(this)"><i class="fa fa-arrow-circle-down"></i></button>
                    <button type="button" class="btn btn-success pr margRight3" title="Subir página" onclick="up(this)"><i class="fa fa-arrow-circle-up"></i></button>
                </div>



                {#botoes das sessoes q mostra na modal#}
                <div class="col-m-12 margBottom10" id="btSessionsInsideTheModal">
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="12-0" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/l1.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="6-6" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c2.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="8-4" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c1c2p.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="4-8" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c1pc2.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="4-4-4" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/c3.png') }}"></button>
                    <button type="button" class="btn btn-info " onclick="setSession(this)" data-model="12-6-6" data-dismiss="modal"><img src="{{ asset('assets/proposal2/images/l1c2.png') }}"></button>
                </div>

                {#pagina#}
                <div id="page" class="page"></div>

                {#conjunto de botoes e pagina#}
                <div id="conjunct"></div>

                {#separador de paginas#}
                <div id="separator" class="separator"></div>

                {#modelos de sessao#}
                <div id="sessao-12" class="col-m-12 semMargem row">
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)"><center>X</center></a>
                    <div class="col-m-160mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>

                <div id="sessao-6-6" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)" ><center>X</center></a>
                    <div class="col-m-80mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-80mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>

                <div id="sessao-8-4" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)" ><center>X</center></a>
                    <div class="col-m-106mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-53mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>

                <div id="sessao-4-8" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)" ><center>X</center></a>
                    <div class="col-m-53mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-106mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>

                <div id="sessao-4-4-4" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)" ><center>X</center></a>
                    <div class="col-m-53mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-53mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-53mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>
                <div id="sessao-12-6-6" class="col-m-12 semMargem row" >
                    <a class="col-m-4mm del" title="Excluir Sessão" onclick="delSessionModal(this)" ><center>X</center></a>
                    <div class="col-m-160mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-80mm edit minHeight5 marginLeft4">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                    <div class="col-m-80mm edit minHeight5">
                        <p style="text-align:center"><strong><span style="color:#000000">Lorem Ipsum</span></strong><br></p>
                        <p style="text-align:justify"><span style="color:#000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod luctus tortor vel iaculis. Ut interdum eleifend velit nec consequat. Nullam sagittis odio metus, vitae dictum tellus pulvinar quis. Morbi sit amet enim vel ante aliquet eleifend. Nam purus metus, varius fermentum pulvinar aliquet, fermentum vitae augue.</span><br></p>
                    </div>
                </div>
            </div>


            <div class="col-md-10">
                <div><h3>Editor de Proposta</h3><br/></div>

                <div id="bloco" class="hidden">{{ project.proposal|raw }}</div>

                <button id="idNewPage" class="btn btn-primary col-md-2 margBottom" onclick="newPage()">Nova Página</button>
            </div>

            {#botao salvar e pdf da proposta#}
            <div class="col-md-2 sidebar-save">
                <span id="saveProposal" data-url="{{ path('proposal_save',{id:project.id}) }}"></span>
                <span id="generatePdfProposal" data-url="{{ path('proposal_pdf_generator',{id:project.id}) }}"></span>
                <span id="pdfProposal" data-url="{{ path('proposal_display_pdf',{filename:':filename:'}) }}"></span>

                <button id="pdfProposal" class="btn btn-primary ladda-button" data-style="zoom-in" data-url="{{ path('proposal_pdf',{id:project.id}) }}">
                    <span class="ladda-label">Gerar PDF</span>
                </button>

                <input type="hidden" id="colorPage" onchange="changeColorPage(this.value)" value="FFFFFF">
                <button type="button" class="btn btn-default jscolor {valueElement: 'colorPage'}">Fundo</button>
            </div>

            {#dados da proposta e tags laterais#}
            <div class="col-md-2 sidebar-tags">
                {#dados vindos da controller#}
                <div id="dataProposal" class="hidden">
                    {#dados do client#}
                    <div id="dclient">
                        {{ project.customer.name }}
                    </div>

                    <div id="daverageConsumption">
                        {{ project.infConsumption }} kWh
                    </div>

                    <div id="ddocument">
                        {{ project.customer.document }}
                    </div>

                    <div id="dphone">
                        {{ project.customer.phone }}
                    </div>

                    <div id="demail">
                        {{ project.customer.email }}
                    </div>

                    {#dados da geração#}
                    <div id="dgenerationChart" data-type="chart" data-chart="generation"
                         data-json="{{ project.monthlyProduction|json_encode }}">
                    </div>

                    <div id="dannualGeneration">
                        {{ project.annualProduction }} kWh
                    </div>

                    <div id="dmonthlyAverageGeneration">
                        {{ (project.annualProduction / 12)|round(2) }} kWh
                    </div>

                    {#análise financeira#}
                    <div id="dlifetime">
                        {% if project.lifetime == 1 %}
                            1 ano
                        {% elseif project.lifetime > 1 %}
                            {{ project.lifetime }} anos
                        {% else %}
                            0
                        {% endif %}
                    </div>

                    <div id="dinflation">
                        {{ project.inflation }}%
                    </div>

                    <div id="dlossOfEfficiency">
                        {{ project.efficiencyLoss }}%
                    </div>

                    <div id="dannualOperatingCost">
                        {{ project.annualCostOperation|currency }}
                    </div>

                    <div id="dpriceOfKWh">
                        {{ project.energyPrice|currency }}
                    </div>

                    <div id="dproposalValue">
                        {{ project.salePrice|currency }}
                    </div>

                    <div id="daccumulatedCash">
                        {{ project.accumulatedCash(true)|currency }}
                    </div>

                    <div id="dvpl">
                        {{ project.netPresentValue|currency }}
                    </div>

                    <div id="dtir">
                        {{ project.internalRateOfReturn|round }} %
                    </div>

                    <div id="dsimplePayback">
                        {% if project.paybackYears == 1 %}
                            1 ano
                        {% elseif project.paybackYears > 1 %}
                            {{ project.paybackYears }} anos
                        {% endif %}

                        {% if project.paybackYears >= 1 and project.paybackMonths >= 1 %}
                            e
                        {% elseif project.paybackYears < 1 and project.paybackMonths < 1 %}
                            0
                        {% endif %}

                        {% if project.paybackMonths == 1 %}
                            1 mês
                        {% elseif project.paybackMonths > 1 %}
                            {{ project.paybackMonths }} meses
                        {% endif %}
                    </div>

                    <div id="ddiscountedPayback">
                        {% if project.paybackYearsDisc == 1 %}
                            1 ano
                        {% elseif project.paybackYearsDisc > 1 %}
                            {{ project.paybackYearsDisc }} anos
                        {% endif %}

                        {% if project.paybackYearsDisc >= 1 and project.paybackMonthsDisc >= 1 %}
                            e
                        {% elseif project.paybackYearsDisc < 1 and project.paybackMonthsDisc < 1 %}
                            0
                        {% endif %}

                        {% if project.paybackMonthsDisc == 1 %}
                            1 mês
                        {% elseif project.paybackMonthsDisc > 1 %}
                            {{ project.paybackMonthsDisc }} meses
                        {% endif %}
                    </div>

                    <div id="daccumulatedCashChart" data-type="chart" data-chart="financial"
                         data-json="{{ project.accumulatedCash|json_encode }}">
                    </div>

                    {#equipamentos e serviços#}
                    <div id="dtableEquipmentAndServices" data-type="table">
                        <table>
                            <thead>
                            <tr>
                                <th> Código </th>
                                <th> Descrição </th>
                                <th> Quantidade </th>
                            </tr>
                            </thead>
                            <tbody>
                            {# MODULES #}
                            {% if project.projectModules.count >= 1 %}
                                <tr>
                                    <th>
                                        Módulos
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectModule in project.projectModules %}
                                <tr>
                                    <td> {{ projectModule.module.id }} </td>
                                    <td> {{ projectModule.module.model }} </td>
                                    <td> {{ projectModule.quantity }} </td>
                                </tr>
                            {% endfor %}

                            {# INVERTERS #}
                            {% if project.projectInverters.count >= 1 %}
                                <tr>
                                    <th>
                                        Inversores
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectInverter in project.projectInverters %}
                                <tr>
                                    <td> {{ projectInverter.inverter.id }} </td>
                                    <td> {{ projectInverter.inverter.model }} </td>
                                    <td> {{ projectInverter.quantity }} </td>
                                </tr>
                            {% endfor %}

                            {# STRING_BOXES #}
                            {% if project.projectStringBoxes.count >= 1 %}
                                <tr>
                                    <th>
                                        String Boxes
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectStringBox in project.projectStringBoxes %}
                                <tr>
                                    <td> {{ projectStringBox.stringBox.code }} </td>
                                    <td> {{ projectStringBox.stringBox.description }} </td>
                                    <td> {{ projectStringBox.quantity }} </td>
                                </tr>
                            {% endfor %}

                            {# STRUCTURES #}
                            {% if project.projectStructures.count >= 1 %}
                                <tr>
                                    <th>
                                        Estrutura
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectStructure in project.projectStructures %}
                                <tr>
                                    <td> {{ projectStructure.structure.code }} </td>
                                    <td> {{ projectStructure.structure.description }} </td>
                                    <td> {{ projectStructure.quantity }} </td>
                                </tr>
                            {% endfor %}


                            {# VARIETIES #}
                            {% if project.projectVarieties.count >= 1 %}
                                <tr>
                                    <th>
                                        Variedades
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectVariety in project.projectVarieties %}
                                <tr>
                                    <td> {{ projectVariety.variety.code }} </td>
                                    <td> {{ projectVariety.variety.description }} </td>
                                    <td> {{ projectVariety.quantity }} </td>
                                </tr>
                            {% endfor %}

                            {# EXTRAS #}
                            {% if project.projectExtras.count >= 1 %}
                                <tr>
                                    <th>
                                        Extras
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectExtras in project.projectExtras %}
                                <tr>
                                    <td> {#{{ projectExtras.extra.type }}#} </td>
                                    <td> {{ projectExtras.extra.description }} </td>
                                    <td> {{ projectExtras.quantity }} </td>
                                </tr>
                            {% endfor %}

                            {# EXTRAS #}
                            {% if project.projectTaxes.count >= 1 %}
                                <tr>
                                    <th>
                                        Taxas
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            {% for projectTaxes in project.projectTaxes %}
                                <tr>
                                    <td> {{ projectTaxes.variety.code }} </td>
                                    <td> {{ projectTaxes.variety.description }} </td>
                                    <td> {{ projectTaxes.quantity }} </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

                {#tags drag de cópia#}
                <div id="tagsProposal" class="hidden">
                    {#dados do client#}
                    <div id="client">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region"
                              aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dclient"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="averageConsumption">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="daverageConsumption"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                    </span>
                    </div>

                    <div id="document">
                       <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                             class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                             data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                             contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="ddocument"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="phone">
                         <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                               class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                               data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                               contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dphone"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="email">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="demail"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    {#dados da geração#}

                    <div id="generationChart">
                        <span id="copyGenerationChart" class="image cke_widget_element dgenerationChart"
                              data-cke-widget-data="" data-cke-widget-upcasted="1"
                              data-cke-widget-keep-attr="0" data-widget="image">

                        </span>
                    </div>

                    <div id="annualGeneration">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dannualGeneration"></span>
                        </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="monthlyAverageGeneration">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dmonthlyAverageGeneration"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    {#análise financeira#}
                    <div id="lifetime">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dlifetime"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="inflation">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dinflation"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="lossOfEfficiency">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dlossOfEfficiency"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="annualOperatingCost">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dannualOperatingCost"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="priceOfKWh">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dpriceOfKWh"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="proposalValue">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dproposalValue"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="accumulatedCash">
                            <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                                  class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                                  data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                                  contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="daccumulatedCash"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="vpl">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dvpl"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="tir">
                        <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dtir"></span>
                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="simplePayback">
                       <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                              class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                              data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                              contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="dsimplePayback"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="discountedPayback">
                         <span tabindex="-1" data-cke-widget-wrapper="1" data-cke-filter="off"
                               class="cke_widget_wrapper cke_widget_inline cke_widget_hcard cke_widget_wrapper_h-card"
                               data-cke-display-name="hcard" data-cke-widget-id="3" role="region" aria-label="hcard widget"
                               contenteditable="false">
                            <span class="h-card cke_widget_element"
                                  data-cke-widget-data="%7B%22classes%22%3A%7B%22h-card%22%3A1%7D%7D"
                                  data-cke-widget-upcasted="1" data-cke-widget-keep-attr="0"
                                  data-widget="hcard">

                                <!--content-->
                                <span class="ddiscountedPayback"></span>

                            </span>
                            <span class="cke_reset cke_widget_drag_handler_container"
                                  style="background: rgba(220, 220, 220, 0.5)
                                url(&quot;http://sdk.ckeditor.com/vendor/ckeditor/plugins/widget/images/handle.png&quot;)
                                repeat scroll 0% 0%; top: -14px; left: 0px; display: block;">
                                <img class="cke_reset cke_widget_drag_handler" data-cke-widget-drag-handler="1"
                                     src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                     title="Click e arraste para mover" role="presentation" draggable="true" width="15"
                                     height="15">
                            </span>
                        </span>
                    </div>

                    <div id="accumulatedCashChart">
                        <span id="copyAccumulatedCashChart" class="image cke_widget_element daccumulatedCashChart"
                              data-cke-widget-data="" data-cke-widget-upcasted="1"
                              data-cke-widget-keep-attr="0" data-widget="image">

                        </span>
                    </div>

                    {#equipamentos e serviços#}
                    <div id="tableEquipmentAndServices">
                        <span class="image cke_widget_element dtableEquipmentAndServices"
                              data-cke-widget-data="" data-cke-widget-upcasted="1"
                              data-cke-widget-keep-attr="0" data-widget="image" contenteditable="false">

                        </span>
                    </div>

                </div>

                {#Lista de dragAndDrop#}
                <ul id="infoList" class="list-group">
                    <div class="list-group-item active">
                        <h3>Informações Úteis</h3>
                        (Puxar e Soltar)
                    </div>
                    <div class="list-group-item active">
                        DADOS INICIAIS
                    </div>
                    <li>
                        <div class="list-group-item" data-info="client" draggable="true">
                            <i class="fa fa-user"></i> Nome do Cliente
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="averageConsumption" draggable="true">
                            <i class="fa fa-bolt"></i> Média de Consumo
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="document" draggable="true">
                            {#<i class="fa fa-area-chart"></i>#} CPF/CNPJ
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="phone" draggable="true">
                            {#<i class="fa fa-info"></i>#} Telefone
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="email" draggable="true">
                            E-mail
                        </div>
                    </li>
                    <div class="list-group-item active">
                        DADOS DA GERAÇÃO
                    </div>
                    <li>
                        <div id="tagGenerationChart" class="list-group-item" data-info="generationChart" draggable="true">
                            Gráfico da Geração
                            <input type="hidden" id="colorChartGeneration" onchange="changeColorGeneration(this.value)" value="00A7EC">
                            <button type="button" class="btn border jscolor {valueElement: 'colorChartGeneration'}">Escolher cor</button>
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="annualGeneration" draggable="true">
                            Geração Anual
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="monthlyAverageGeneration" draggable="true">
                            Geração média mensal
                        </div>
                    </li>
                    <div class="list-group-item active">
                        ANÁLISE FINANCEIRA
                    </div>
                    <li>
                        <div class="list-group-item" data-info="lifetime" draggable="true">
                            Tempo de vida
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="inflation" draggable="true">
                            Inflação
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="lossOfEfficiency" draggable="true">
                            Perda de eficiência
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="annualOperatingCost" draggable="true">
                            Custo anual de operação
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="priceOfKWh" draggable="true">
                            Preço do kWh + Impostos
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="proposalValue" draggable="true">
                            Valor da proposta
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="accumulatedCash" draggable="true">
                            Caixa acumulado
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="vpl" draggable="true">
                            VPL
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="tir" draggable="true">
                            TIR
                        </div>
                    </li><li>
                        <div class="list-group-item" data-info="simplePayback" draggable="true">
                            Payback simples
                        </div>
                    </li>
                    <li>
                        <div class="list-group-item" data-info="discountedPayback" draggable="true">
                            Payback descontado
                        </div>
                    </li>
                    <li>
                        <div id="tagAccumulatedCashChart" class="list-group-item" data-info="accumulatedCashChart" draggable="true">
                            Gráfico do caixa acumulado
                            <input type="hidden" id="colorChartFinancial" onchange="changeColorFinancial(this.value)" value="00A7EC">
                            <button type="button" class="btn border jscolor {valueElement: 'colorChartFinancial'}">Escolher cor</button>
                        </div>
                    </li>
                    <div class="list-group-item active">
                        EQUIPAMENTOS E SERVIÇOS
                    </div>
                    <li>
                        <div class="list-group-item" data-info="tableEquipmentAndServices" draggable="true">
                            Equipamentos e serviços
                            <input type="hidden" id="colorTableEquipServ" onchange="changeColorTableEquipServ(this.value)" value="00A7EC">
                            <button type="button" class="btn border jscolor {valueElement: 'colorTableEquipServ'}">Escolher cor</button>
                        </div>
                    </li>
                </ul>

            </div>


        </div>

    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}
    <script src="{{ asset('assets/app-charts.js') }}"></script>
    <script src="{{ asset('assets/proposal2/script.js') }}"></script>
    <script src="{{ asset('assets/proposal2/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/proposal2/dragable.js') }}"></script>
    <script src="{{ asset('assets/proposal2/jscolor.js') }}"></script>

    <script>
        UPLOADCARE_PUBLIC_KEY = '9490325b6fcc3e8d094d';

        if($('#bloco').html() == "") {
            $('#bloco').html(
                '<div class="ocultar">' +
                '<span id="idConjunct">0</span>' +
                '<span id="idEditor">0</span>' +
                '</div>'
            );
        }
    </script>

{% endblock %}