<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>pdf</title>

    <link href="{{ asset('public/assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/proposal2/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/proposal2/formatPdf.css') }}" rel="stylesheet">

</head>

<body>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div id="bloco">
                {{ project.proposal|raw }}
            </div>

        </div>
    </div>
</div>

<script src="{{ asset('public/assets/jquery.js') }}"></script>

<script>

    var color = $($('#bloco').children()[0]).data('color-page');
    if (color == undefined)color = 'FFFFFF';

    $('#bloco').attr('style', 'background-color: #'+color);
    $('.separator').attr('style', 'background-color: #'+color);
    var separator = $('.separator');
    separator = separator[separator.length-1];
    $(separator).removeClass("separator");
    $(separator).attr("style",'height: 1px;background-color: #'+color);

    var editor = $('.edit');
    $.each(editor, function(i, e){
        var edit = $(e);
        edit.attr('contenteditable','false');
    });

</script>

</body>

</html>
