{% extends view('layout') %}

{% block styles %}
    <style>
        .product-imitation {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        #form_filtration > .form-group > .col-sm-2 {
            display: none;
        }

        .price {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #00A7EC;
            padding: 3px 5px;
            color: #FFF;
        }

        .description {
            height: 22px;
            font-size: 1rem;
        }

        .add-to-cart-title {
            font-size: 20px !important;
        }

        .modal_add_to_cart {
            margin-top: 50%;
        }

        .code_kit {
            font-weight: 600;
        }

        .add-cart-buttons {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="modal inmodal fade" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="detail_kit"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="modal_add_to_cart" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal_add_to_cart">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h5 class="modal-title add-to-cart-title">Adicionar ao Carinho</h5>
                </div>
                <div class="modal-body">
                    <form role="form" id="form_add_to_cart" action="#">
                        <div class="form-group text-center">
                            <h3>Código do Kit</h3>
                            <span type="text" id="code_kit" readonly class="form-control text-center code_kit">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="form-group text-center">
                            <h3>Quantidade</h3>
                            <input id="kit_quantity" class="form-control text-center">
                        </div>
                        <div class="hide">
                            <button class="btn btn-sm btn-primary" id="cart_submit" type="submit">Adicionar</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer add-cart-buttons">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="add_cart_submit">{{ 'Add'|trans }}</button>
                </div>
            </div>
        </div>
    </div>


    {% set kits = pagination.items %}

    {% macro action_buttons(kit, member) %}

       <div class="btn-group btn-group-sm btn-group-justified">
           <a data-url="{{ path('kit_show', { id: kit.id }) }}"
              data-toggle="modal"
              data-target="#modal_details"
              class="btn btn-default btn-small">
               <i class="fa fa-eye"></i> {{ 'View'|trans }}
           </a>

           <a data-url="{{ path('cart_add_kit', { id: kit.id }) }}"
              data-code-kit="{{ kit.code }}"
              data-toggle="modal"
              data-target="#add_to_cart"
              class="btn btn-primary btn-small">
               <i class="fa fa-shopping-cart"></i> {{ 'Add'|trans }}
           </a>
        </div>

    {% endmacro %}

    {% import _self as handler %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {{ knp_pagination_filter(pagination, {'k.description, k.code':''}) }}

            <div class="pull-right">
                <a href="{{ path('list_cart_pool') }}" class="btn btn-default">
                    <i class="fa fa-exclamation-circle"></i> Histórico de Transações
                </a>
                <a href="{{ path('cart_show') }}" class="btn btn-default">
                    <i class="fa fa-shopping-cart"></i> Visualizar carrinho
                </a>
            </div>
        </div>

        <div class="row" id="real-content">

            {% for kit in kits %}

                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <div class="product-imitation" style="background-image: url({{ kit.image|componentFilePath }}); background-repeat: no-repeat; position: relative">
                                <div class="price">{{ kit.price|currency }}</div>
                            </div>
                            <div class="product-desc">

                                <a data-url="{{ path('kit_show', { id: kit.id }) }}"
                                   data-toggle="modal"
                                   data-target="#modal_details"
                                   class="product-name">
                                    {{ kit.code|slice(0,18) }} <br>
                                    <div class="description">
                                        <span style="float: left">
                                            {{ kit.description|slice(0,70) }}&nbsp;
                                        </span>
                                    </div>
                                </a>

                                <div class="hr-line-dashed"></div>

                                <div class="row">
                                    {{ handler.action_buttons(kit, member) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <div class="row text-center">
            <div class="btn-group bt-xs">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script>

        $(function () {

            var detail_kit = $('#detail_kit');
            var detail_spinner = detail_kit.html();
            $('[data-target="#modal_details"]').on('click', function(){
                var url = $(this).data('url');
                if (url) {
                    $('#e_modal_details').modal('show');
                    detail_kit.html(detail_spinner);
                    $.ajax({
                        url: url,
                        method: 'get',
                        success: function (response) {
                            detail_kit.html(response);
                        }
                    });
                } else {
                    detail_kit.html('<h1> Nenhum Kit selecionado para visualização </h1>');
                }
            });

            var form_add_to_cart = $('#form_add_to_cart');
            var kit_code = $('#code_kit');
            var kit_quantity = $('#kit_quantity');

            $('[data-target="#add_to_cart"]').on('click', function () {
                var url = $(this).data('url');

                kit_code.html($(this).data('code-kit'));

                form_add_to_cart.attr("action", url);

                $('#kit_quantity').TouchSpin({
                    initval: 1,
                    min: 1,
                    max: 100000
                });

                $('#modal_add_to_cart').modal('show');
            });

            $('#add_cart_submit').on('click', function () {
                $('#cart_submit').trigger('click');
            });

            function showCart() {
                window.setTimeout(function () {
                    window.location = '{{ path('cart_show') }}';
                }, 2500);
            }

            form_add_to_cart.on('submit', function (event) {
                event.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),
                    method: 'post',
                    data: { quantity: kit_quantity.val() },
                    complete: function(xhr){
                        var message = xhr.responseJSON.message;

                        if (200 === xhr.status) {
                            showCart();
                            toastr.success(message, '{{ 'Success'|trans }}', {
                                positionClass: 'toast-top-center',
                                progressBar: true,
                                preventDuplicates: true
                            });
                        } else {
                            toastr.error(message, '{{ 'Error'|trans }}', {
                                positionClass: 'toast-top-center',
                                progressBar: true,
                                preventDuplicates: true
                            });
                        }
                        kit_quantity.val(1);
                        $('#modal_add_to_cart').modal('hide');
                    }
                });
            });
        });

    </script>

{% endblock %}
