{% extends view('layout') %}

{% block styles %}
    {% include view('helper.plugins_css') %}
{% endblock %}

{% block body %}

    {#{% set componentAccount = inverter.account %}#}
    {#{% set currentAccount = app.user.info.account %}#}
    {#{% set isEdition = (componentAccount is null) or (currentAccount.id == componentAccount.id) %}#}

    <style>
        .input-group.m-b,
        #inverter_mpptNumber{
            width: 50%;
        }

        .check-label {
            vertical-align: middle;
            padding-right: 5px;
        }
        .btn-relationship {
            margin-top: 5px;
        }
    </style>

    <div class="modal inmodal" id="modal_relationship" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-body ibox-title">
                    {% include view('helper.spinner') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="fa fa-close"></i> {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><label>{{ inverter.code }} - {{ inverter.model }}</label></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">

                                {{ form_start(form,{attr:{enctype:'multipart/form-data'}}) }}

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        &nbsp; Regras de Negócio
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-group col-md-6">
                                            {{ form_label(form.princingLevels, 'Disponível nos níveis de desconto') }}
                                            {{ form_widget(form.princingLevels, {attr:{class:'form-control'}}) }}
                                        </div>

                                        <div class="form-group col-md-6">
                                            {{ form_label(form.generatorLevels, 'Disponível no gerador') }}
                                            {{ form_widget(form.generatorLevels, {attr:{class:'form-control'}}) }}
                                        </div>

                                        <div class="form-group col-md-6">
                                            {{ form_label(form.alternative, 'Inversor alternativo') }}
                                            {{ form_widget(form.alternative,{attr:{class:'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>

                                {% if member.isPlatformMaster %}
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            &nbsp; Dados gerais
                                        </div>
                                        <div class="panel-body">

                                            <div class="form-group col-md-3">
                                                {{ form_label(form.code, 'Código do Produto') }}
                                                {{ form_row(form.code, {attr:{class:'form-control'}}) }}
                                            </div>

                                            <div class="form-group col-md-3">
                                                {{ form_row(form.maker,{attr:{class:'form-control'}}) }}
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_row(form.model,{attr:{class:'form-control'}}) }}
                                            </div>

                                            <div class="form-group col-md-2">
                                                {{ form_label(form.connection_type, 'Tipo de Conexão') }}
                                                {{ form_widget(form.connection_type,{attr:{class:'form-control'}}) }}
                                            </div>
                                            <div class="form-group col-md-2">
                                                {{ form_label(form.position, 'Posição') }}
                                                {{ form_widget(form.position,{attr:{class:'form-control'}}) }}
                                            </div>
                                            <div class="form-group col-md-3">
                                                {{ form_label(form.minPowerSelection, 'Potência mínima para seleção') }}
                                                {{ form_widget(form.minPowerSelection,{attr:{class:'form-control'}}) }}
                                            </div>
                                            <div class="form-group col-md-3">
                                                {{ form_label(form.maxPowerSelection, 'Potência máxima para seleção') }}
                                                {{ form_widget(form.maxPowerSelection,{attr:{class:'form-control'}}) }}
                                            </div>

                                            {% if inverter.id %}
                                                <div class="form-group col-md-4">
                                                    <button type="button" class="btn btn-warning btn-block btn-relationship"
                                                            data-url="{{ path('component_relationship', {type:'inverter', id:inverter.id}) }}"
                                                            data-toggle="modal" data-target="#modal_relationship">
                                                        <i class="fa fa-th"></i> Módulos relacionados
                                                    </button>
                                                </div>
                                            {% endif %}

                                            <div class="form-group col-md-4">
                                                <label> Datasheet (PDF) </label>
                                                <input type="file" name="dataSheet" accept="application/pdf">
                                                {% if inverter.datasheet %}
                                                    <span class="label info">
                                                    Este componente já possui datasheet
                                                </span>
                                                {% endif %}
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label> Imagem (JPG) </label>
                                                <input type="file" name="image" accept="image/jpeg">
                                                {% if inverter.image %}
                                                    <span class="label info">
                                                    Este componente já possui imagem
                                                </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-success technical_data">
                                        <div class="panel-heading">
                                            &nbsp; Dados Técnicos
                                        </div>
                                        <div class="panel-body">

                                            <div class="col-md-4">
                                                {{ form_label(form.nominalPower, 'Potência Nominal') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.nominalPower,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">kW</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mpptNumber, 'Número de MPPTs') }}
                                                {{ form_widget(form.mpptNumber,{attr:{class:'form-control', min:'0'}}) }}
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.maxEfficiency, 'Eficiência') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.maxEfficiency,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="panel panel-success input_data">
                                        <div class="panel-heading">
                                            &nbsp; Dados de Entrada
                                        </div>
                                        <div class="panel-body">

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.maxDcPower, 'Potência Máxima') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.maxDcPower,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">kW</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.maxDcVoltage, 'Tensão Máxima') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.maxDcVoltage,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">V</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mpptMaxDcCurrent, 'Corrente Máxima por MPPT') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.mpptMaxDcCurrent,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">A</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mpptMin, 'Tensão Mínima de MPPT') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.mpptMin,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">V</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mpptMax, 'Tensão Máxima de MPPT') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.mpptMax,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">V</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.phases, 'Fase') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.phases,{attr:{class:'form-control', min:'0'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.phase_voltage, 'Tensão de Fase') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.phase_voltage,{attr:{class:'form-control'}}) }}
                                                    <span class="input-group-addon">V</span>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mppt_parallel, 'MPPT Paralelo') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.mppt_parallel,{attr:{class:'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group col-md-4">
                                                {{ form_label(form.mppt_connections, 'Conexões MPPT') }}
                                                <div class="input-group m-b">
                                                    {{ form_widget(form.mppt_connections,{attr:{class:'form-control'}}) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}

                                <div class="form-group clearfix">
                                    <button type="submit" name="intention" value="save" class="btn btn-primary pull-right">
                                        <i class="fa fa-save"></i> {{ 'Save'|trans }}
                                    </button>
                                </div>

                                <div class="hide">
                                    {{ form_rest(form) }}
                                </div>

                                {{ form_end(form) }}

                            </div>

                            {% if member.isPlatformMaster %}
                                {# DEPENDENCIES CONTAINER #}
                                <div class="col-md-12" id="dependency_container" style="margin-top: 10px;"></div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.chosen_levels') %}

    {% if inverter.id and member.isPlatformMaster %}
        {% include view('helper.plugins_js') %}
        <script>
            $('#dependency_container').load('{{ path('component_dependency_panel',{family:'inverter', component:inverter.id}) }}');
        </script>
    {% endif %}

    <script>

        var sanitize = function(element){
            function clear(v){ return v.replace(/\D+/g,''); }
            var value = element.val();
            var backup = value.replace(/\./g,',');
            value = clear(value);
            if(backup.indexOf(',') > 0){
                var commas = backup.split(',');
                value = clear(commas[0])+',';
                if(commas[1].length){
                    value += clear(commas[1]);
                }
            }
            if(0 == backup.indexOf('-')){
                if(2 == backup.split('-').length){
                    value = '-' + value;
                }
            }
            element.val(value);
        };
    </script>

    <script>

        $('#modal_relationship').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var url = target.data('url');

            $.ajax({
                url: url,
                success: function (response) {
                    $('#modal_relationship').find('.modal-body').html(response);
                }
            });
        });

        var custom_mask = function(element){
            element.on('keyup', function(){
                sanitize(element);
            });
        };

        var common_mask = {pattern: '##,##', reverse: true};
        var targets = {
            'inverter_nominalPower': common_mask,
            'inverter_maxEfficiency': common_mask,
            'inverter_maxDcPower': common_mask,
            'inverter_maxDcVoltage': common_mask,
            'inverter_mpptMaxDcCurrent': common_mask,
            'inverter_mpptMin': common_mask,
            'inverter_mpptMax': common_mask,
            'inverter_maxPowerSelection': common_mask,
            'inverter_minPowerSelection': common_mask
        };

        $.each(targets, function (id, options) {
            custom_mask($('#'+id));
        });
        $('#inverter_mpptNumber').mask('0#',{reverse:false});

        $('#inverter_alternative option[value=""]').html('Nenhum');
    </script>

    {% include view('helper.chosen') with({
    element: '#inverter_maker, #inverter_alternative',
    path: path('maker_fast_create')
    }) %}

{% endblock %}
