{% extends view('layout') %}


{% block styles %}
    <link href="{{ asset('assets/inspinia/css/plugins/ladda/ladda-themeless.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia/css/plugins/dropzone/basic.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/inspinia/css/plugins/dropzone/dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% macro form_group(field, settings={}) %}

    {% set config = {'label':field.vars.name|capitalize, 'placeholder':true, 'col':3}|merge(settings) %}

    <div class="form-group col-lg-{{ config.col }}">
        <label> {{ config.label|trans }} </label>
        {{ form_widget(field, {'attr':{'class':'form-control','placeholder': config.label|trans}}) }}
    </div>

    {% endmacro %}

        {% import _self as this %}

        <div class="wrapper wrapper-content animated fadeIn">

            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group pull-right">

                        {#<a href="#"
                           data-random="{{ path('random_account') }}"
                           data-target="#form-account"
                           data-prefix="#account_"
                           class="btn btn-sm btn-danger">
                            Company Random Data
                        </a>

                        <a href="#"
                           data-random="{{ path('random_account') }}"
                           data-target="#form-account"
                           data-prefix="#account_members_0_"
                           class="btn btn-sm btn-info">
                            Owner Random Data
                        </a>

                        <a href="#"
                           data-random="{{ path('random_account') }}"
                           data-target="#form-account"
                           data-prefix="#account_members_0_user_"
                           class="btn btn-sm btn-warning">
                            Owner Random User | Without Password!
                        </a>#}

                    </div>
                </div>
            </div>

            {{ form_start(form, {'attr':{'id':'form-account'}}) }}

            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#horizontal-1">
                                    Informações Institucionais
                                </a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#horizontal-2">
                                    Informações do Responsável
                                </a>
                            </li>

                            <li class="pull-right">
                                <button class="ladda-button btn btn-primary" type="submit" data-style="zoom-in">
                                    <i class="fa fa-save"></i> {{ 'Save'|trans }}
                                </button>
                            </li>
                        </ul>

                        {# COMPANY SECTION #}
                        <div class="tab-content">
                            <div id="horizontal-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="tabs-container">
                                        <div class="tabs-left">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#vertical-11"> Principal </a>
                                                </li>
                                                <li class="">
                                                    <a data-toggle="tab" href="#vertical-12"> Endereço </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="vertical-11" class="tab-pane active">
                                                    <div class="panel-body">
                                                        {# COMPANY INFORMATION #}

                                                        <div class="col-lg-3" style="height: 220px; text-align: center;">
                                                            {% include view('helper.uploader') with { helper: 'company', source: account } only %}
                                                        </div>

                                                        {{ this.form_group(form.package, {'col' : 9}) }}

                                                        {{ this.form_group(form.firstname,{'label':'Fantasy Name', 'col':4}) }}

                                                        {{ this.form_group(form.lastname,{'label':'Company Name', 'col':5}) }}

                                                        {{ this.form_group(form.document,{'label':'Cnpj', 'col':4}) }}

                                                        {{ this.form_group(form.email,{'col':5}) }}

                                                        {{ this.form_group(form.website,{'col':5}) }}

                                                        {{ this.form_group(form.phone,{'col':4}) }}

                                                        {{ this.form_group(form.mobile) }}

                                                        {{ this.form_group(form.fax) }}

                                                        {{ this.form_group(form.maxMember,{'label':'Nro Máx. Membros'}) }}

                                                        {% if attribute(form, 'status') is defined %}
                                                            {{ this.form_group(form.status, {'col' : 3}) }}
                                                        {% endif %}

                                                    </div>
                                                </div>
                                                <div id="vertical-12" class="tab-pane">
                                                    <div class="panel-body">
                                                        {# COMPANY ADDRESS #}

                                                        {{ this.form_group(form.postcode) }}

                                                        {{ this.form_group(form.state) }}

                                                        {{ this.form_group(form.city,{'col':4}) }}

                                                        {{ this.form_group(form.country,{'col':2}) }}

                                                        {{ this.form_group(form.district) }}

                                                        {{ this.form_group(form.street,{'col':4}) }}

                                                        {{ this.form_group(form.number,{'col':2}) }}

                                                        {{ this.form_group(form.complement) }}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {# OWNER SECTION #}
                            <div id="horizontal-2" class="tab-pane">
                                <div class="panel-body">

                                    <div class="tabs-container">
                                        <div class="tabs-left">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#vertical-21"> Principal </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#vertical-22"> {{ 'Address'|trans }} </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#vertical-23"> {{ 'Access'|trans }} </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content ">
                                                <div id="vertical-21" class="tab-pane active">
                                                    <div class="panel-body">
                                                        {# OWNER INFORMATION #}
                                                        <div class="col-lg-3" style="height: 220px; text-align: center;">

                                                            {% include view('helper.uploader') with { helper: 'profile', source: account.members.first } only %}

                                                        </div>

                                                        {% for form_owner in form.members %}

                                                            {{ this.form_group(form_owner.firstname, {'col':4}) }}

                                                            {{ this.form_group(form_owner.lastname,{'col':5}) }}

                                                            {{ this.form_group(form_owner.document,{'label':'Cpf', 'col':4}) }}

                                                            {{ this.form_group(form_owner.email,{'col':5}) }}

                                                            {{ this.form_group(form_owner.website,{'col':5}) }}

                                                            {{ this.form_group(form_owner.phone,{'col':4}) }}

                                                            {{ this.form_group(form_owner.mobile) }}

                                                            {{ this.form_group(form_owner.fax) }}

                                                        {% endfor %}

                                                    </div>
                                                </div>
                                                <div id="vertical-22" class="tab-pane">
                                                    <div class="panel-body">
                                                        {# OWNER ADDRESS #}

                                                        {% for form_owner in form.members %}

                                                            {{ this.form_group(form_owner.postcode) }}

                                                            {{ this.form_group(form_owner.state) }}

                                                            {{ this.form_group(form_owner.city,{'col':4}) }}

                                                            {{ this.form_group(form_owner.country,{'col':2}) }}

                                                            {{ this.form_group(form_owner.district) }}

                                                            {{ this.form_group(form_owner.street,{'col':4}) }}

                                                            {{ this.form_group(form_owner.number,{'col':2}) }}

                                                            {{ this.form_group(form_owner.complement) }}

                                                        {% endfor %}

                                                    </div>
                                                </div>
                                                <div id="vertical-23" class="tab-pane">
                                                    <div class="panel-body">
                                                        {# OWNER ACCESS #}

                                                        {% for form_owner in form.members %}

                                                            {{ this.form_group(form_owner.user.email,{'col':4}) }}

                                                            {{ this.form_group(form_owner.user.username,{'col':4}) }}

                                                            {{ this.form_group(form_owner.user.plainPassword.first,{'label':'Password','col':4}) }}

                                                            {{ this.form_group(form_owner.user.plainPassword.second,{'label':'Password Confirm','col':4}) }}

                                                        {% endfor %}

                                                        <div class="--hide">
                                                            {{ form_rest(form) }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

        </div>

        {% endblock %}

            {% block scripts %}

                <script>
                    var DropzoneOptions = {maxFiles: 1, acceptedFiles: '.png,.jpg,.jpeg', uploadMultiple: false};
                    var DropzoneHelper = {
                        company: {
                            options: DropzoneOptions,
                            data: {},
                            success: function(response) {
                                $('#company-picture').attr('src', '{{ asset('uploads/') }}' + response.data.company);
                            }
                        },
                        profile: {
                            options: DropzoneOptions,
                            data: {},
                            success: function(response) {
                                $('#profile-picture').attr('src', '{{ asset('uploads/') }}' + response.data.profile);
                            }
                        }
                    }
                </script>
                {% include view('helper.dropzone') %}

                <!-- Random Data -->
                <script src="{{ asset('kolinalabs/random.js') }}"></script>

                <!-- Ladda -->
                <script src="{{ asset('inspinia/js/plugins/ladda/spin.min.js') }}"></script>
                <script src="{{ asset('inspinia/js/plugins/ladda/ladda.min.js') }}"></script>
                <script src="{{ asset('inspinia/js/plugins/ladda/ladda.jquery.min.js') }}"></script>
                <script src="{{ asset('kolinalabs/jquery.mask.min.js') }}"></script>

                <script>

                    $(function() {

                        $('#account_document').mask('00.000.000/0000-00', {placeholder: '00.000.000/0000-00'});

                        var phone_stack = false;
                        $('#account_phone').mask('(00) 0000-0000', {
                            placeholder: '(00) 0000-0000',
                            onKeyPress: function(phone, e, field, options) {

                                /*phone_stack = phone.length >= 14;
                                 console.log(phone_stack + '' + phone.length);

                                 var masks = ['(00) 0000-0000', '(00) 00000-0000'],
                                 mask = phone_stack ? masks[1] : masks[0];
                                 $('#company_phone').mask(mask, options);*/
                            }
                        });

                        var form_account = $('#form-account'),
                          form_save = form_account.find('button[type="submit"]'),
                          effect_save = form_save.ladda();

                        /*form_account.on('submit', function (event) {
                         //effect_save.ladda('start');
                         });*/
                    });
                </script>

                <script>
                    $(function() {

                        var form = $('#form-account');

                        form.on('submit', function(event) {

                            var error = '';
                            var account_firstname = $('#account_firstname').val(),
                              account_max_member = $('#account_maxMember').val(),
                              user_firstname = $('#account_members_0_firstname').val(),
                              user_email = $('#account_members_0_user_email').val();
                            user_username = $('#account_members_0_user_username').val();


                            if ( account_firstname.length < 1 )
                                error += '- Informe o Nome Fantasia na guia "Informações Institucionais"<br/>';
                            if ( user_firstname.length < 1 )
                                error += '- Informe o Nome na guia "Informações do Responsável"<br/>';
                            if ( user_email.length < 5 )
                                error += '- Informe o email na guia "Acesso" <br/>';
                            if ( user_username.length < 3 )
                                error += '- Informe o login na guia "Acesso" <br/>';
                            if ( parseInt(account_max_member) < 0 )
                                error += '- Informe um valor válido para o máximo de membros na conta" <br/>';
                    {% if account.id is null %}

                                var password_first = $('#account_members_0_user_plainPassword_first').val(),
                                  password_second = $('#account_members_0_user_plainPassword_second').val();

                                if ( !password_first.length )
                                    error += '- Informe a senha na guia "Acesso" <br/>';
                                if ( !password_second.length )
                                    error += '- Confirme a senha na guia "Acesso" <br/>';
                                if ( password_first != password_second )
                                    error += '- As senhas não correspondem!';

                    {% endif %}

                                if ( error.length ) {

                                    event.preventDefault();

                                    toastr.error(error, 'Verifique estes erros!', {
                                        positionClass: 'toast-top-center',
                                        progressBar: true,
                                        preventDuplicates: true,
                                        closeButton: true
                                    });
                                } else {

                                    effect_save.ladda('start');

                                    return true;
                                }
                            }).attr('novalidate', 'novalidate');
                        });
                </script>

            {% endblock %}
