<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                &nbsp;
            </div>

            <div class="panel-body">

                <table class="table">

                    <thead>
                    <tr>
                        <th> Código</th>
                        <th> Descrição</th>
                        <th> Quantidade</th>
                    </tr>
                    </thead>
                    <tbody>

                    {# MODULES #}
                    {% for projectModule in project.projectModules %}
                        <tr>
                            <td> {{ projectModule.module.id }} </td>
                            <td> {{ projectModule.module.model }} </td>
                            <td> {{ projectModule.quantity }} </td>
                        </tr>
                    {% endfor %}

                    {# INVERTERS #}
                    {% for projectInverter in project.projectInverters %}
                        <tr>
                            <td> {{ projectInverter.inverter.id }} </td>
                            <td> {{ projectInverter.inverter.model }} </td>
                            <td> {{ projectInverter.quantity }} </td>
                        </tr>
                    {% endfor %}

                    {# STRING_BOXES #}
                    {% for projectStringBox in project.projectStringBoxes %}
                        <tr>
                            <td> {{ projectStringBox.stringBox.code }} </td>
                            <td> {{ projectStringBox.stringBox.description }} </td>
                            <td> {{ projectStringBox.quantity }} </td>
                        </tr>
                    {% endfor %}

                    {# STRUCTURES #}
                    {% for projectStructure in project.projectStructures %}
                        <tr>
                            <td> {{ projectStructure.structure.code }} </td>
                            <td> {{ projectStructure.structure.description }} </td>
                            <td> {{ projectStructure.quantity }} </td>
                        </tr>
                    {% endfor %}


                    {# VARIETIES #}
                    {% for projectVariety in project.projectVarieties %}
                        <tr>
                            <td> {{ projectVariety.variety.code }} </td>
                            <td> {{ projectVariety.variety.description }} </td>
                            <td> {{ projectVariety.quantity }} </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>