<div class="row">
    <div class="col-md-12">

        {% for key, form in forms %}

            <div class="row">
                {{ form_start(form,{attr:{action: path('project_generator_generate'),class:'form-horizontal form-generate'}}) }}
                <div class="col-md-2">
                    {{ form_label(form.power, 'Potência') }}
                    {{ form_widget(form.power,{attr:{class:'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.module, 'Módulo') }}
                    {{ form_widget(form.module,{attr:{class:'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.maker, 'Fabricante do Inversor') }}
                    {{ form_widget(form.maker,{attr:{class:'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.roof, 'Tipo de Telhado') }}
                    {{ form_widget(form.roof,{attr:{class:'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.structure, 'Fabricante da Estrutura') }}
                    {{ form_widget(form.structure,{attr:{class:'form-control'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_label(form.position, 'Posição de Montagem') }}
                    {{ form_widget(form.position,{attr:{class:'form-control'}}) }}
                </div>

                {{ form_rest(form) }}

                <button class="btn" type="submit">
                    Gerar
                </button>

                {{ form_end(form) }}

            </div>
            <div class="hr-line-dashed"></div>

        {% endfor %}

    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <button id="btn_generate" class="btn btn-success pull-right">
            <i class="fa fa-list-alt"></i> Gerar lista de kits
        </button>
    </div>

    <div class="col-md-12">
        <div class="hr-line-dashed"></div>
    </div>

    <div class="col-md-12" id="project_list">

    </div>
</div>


<script>

    var ProjectGenerator = {
        getComponents: function(id){
            var url = '{{ path('project_generator_components',{id:'_id_'}) }}'.replace(/_id_/g, id);
            Request.send({
                url: url,
                callback: function(xhr){
                    $('#project_list').append(xhr.responseText);
                }
            })
        }
    };

    var forms = $('.form-generate');
    $('#btn_generate').on('click', function(){

        $.each(forms, function(i, form){
            Request.send({
                url: '{{ path('project_generator_generate') }}',
                method: 'post',
                data: $(form).serialize(),
                callback: function(xhr){
                    var response = xhr.responseJSON;
                    ProjectGenerator.getComponents(response.project.id);
                }
            });
        });
    });
</script>