
<table class="table table-stripped">
    <thead>
    <tr>
        <th colspan="5">
            MEUS PEDIDOS
        </th>
    </tr>
        <tr>
            <th> # </th>
            <th> Descrição </th>
            <th> Itens </th>
            <th> Valor </th>
            <th> &nbsp; </th>
        </tr>
    </thead>

    <tbody>

    {% for order in orders %}

    <tr>
        <td width="5%"> {{ order.id }} </td>
        <td> {{ order.description }} </td>
        <td width="10%"> {{ order.elements.count }} </td>
        <td width="15%"> {{ order.total|currency }} </td>
        <td width="20%">
            <div class="btn-group btn-group-sm btn-group-justified">
            <a class="btn btn-success">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-danger">
                <i class="fa fa-trash"></i>
            </a>
                <a class="btn btn-warning">
                    <i class="fa fa-check"></i>
                </a>
            </div>
        </td>
    </tr>

    {% endfor %}

    </tbody>

    <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                {{ knp_pagination_render(orders) }}
            </td>
        </tr>
    </tfoot>

</table>

<script>
    $(function(){
        var pagination = $('ul.pagination');
        pagination.find('a').on('click', function(event){
            event.preventDefault();
            var url = $(this).attr('href');
            OrderManager.getOrders(url);
        });
    });
</script>