{% extends view('layout') %}

{% block body %}

    <style>

        a.span-oculted span {
            display: none;
        }
        a.span-oculted:hover span {
            display: block;
            position: absolute;
            width: 60px;
            top: 0em;
            text-align: justify;
            left: 6em;
            font: 10px Verdana, arial, helvetica, sans-serif;
            padding: 5px 10px;
            border: 1px solid #999;
            background: #E8EBF2;
            color: #000;
        }

    </style>
    <div class="modal inmodal" id="modal_upload_template" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-upload"></i> Fazer upload de template
                    </h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close">
                        <i class="fa fa-close"></i> {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        {% include view('project.navbar') %}

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <a class="btn btn-success btn-sm" data-target="#modal_upload_template" data-toggle="modal"
                           data-href="{{ path('template_upload') }}">
                            <i class="fa fa-upload"> </i> Fazer upload de template
                        </a>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h5>LISTA DE TEMPLATES</h5>
                                    </div>
                                    <div class="panel-boby" id="template-list">

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h5>DOCUMENTAÇÃO DAS TAGS</h5>
                                    </div>
                                    <div class="panel-body" id="tags-list">

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <a data-step="proposal_editor" href="{{ path('proposal_editor', {id:project.id}) }}">Ir para o editor de propostas antigo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include view('project.navbar') %}

    </div>
    {% include view('helper.request') %}

    <script>

        var modalUpload = $('#modal_upload_template');

        modalUpload.on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var url = target.data('href');
            modalUpload.find('.modal-body').load(url);
        });

        TemplateHandler = {
            getTemplates: function () {
               $.ajax({
                    url: '{{ path('templates_list', {project:project.id}) }}',
                    complete: function (xhr) {
                        $('#template-list').html(xhr.responseText);
                    }
                });
            },
            getTags: function () {
                $.ajax({
                    url: '{{ path('tags_list') }}',
                    complete: function (xhr) {
                        $('#tags-list').html(xhr.responseText);
                    }
                });
            },
            init: function () {
                this.getTemplates(),
                this.getTags()
            }
        };

        var Project = {
            id: {{ project.id }}
        };

        Navbar.project = Project;

        TemplateHandler.init();

        Navbar.init();

        $('#modal-close').on('click', function () {
            TemplateHandler.getTemplates();
        });


    </script>
{% endblock %}
