<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="col-md-2"><i class="fa fa-sort-desc"></i> Nro </th>
        <th class="col-md-6"><i class="fa fa-sort-desc"></i> Nome </th>
        <th class="col-md-3"><i class="fa fa-sort-desc"></i> Ações </th>
    </tr>
    </thead>
    <tbody>

    <tr class="success">
        <td class="text-center"> # </td>
        <td> Template Padrão </td>
        <td>
            <div class="btn-group btn-group-justified">
                <a href="{{ path('view_theme', {theme: default}) }}" class="btn btn-info btn-sm span-oculted">
                    <i class="fa fa-eye"> </i><span>Visualizar</span>
                </a>
                <a href="{{ path('template_processor', {project: project.id, theme: default}) }}" class="btn btn-success btn-sm span-oculted">
                    <i class="fa fa-cogs"> </i><span>Gerar</span>
                </a>
            </div>
        </td>
    </tr>


    {% for theme in themes %}
        <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td>{{ theme.name }}</td>
            <td>
                <div class="btn-group btn-group-justified">
                    <a data-delete="{{ path('delete_theme', {theme: theme.id}) }}" id="delete-theme" class="btn btn-danger btn-sm span-oculted">
                        <i class="fa fa-trash"> </i><span>Excluir</span>
                    </a>

                    <a href="{{ path('view_theme', {theme: theme.id}) }}" class="btn btn-info btn-sm span-oculted">
                        <i class="fa fa-eye"> </i><span>Visualizar</span>
                    </a>

                    <a href="{{ path('template_processor', {project: project.id, theme: theme.id}) }}" class="btn btn-success btn-sm span-oculted">
                        <i class="fa fa-cogs"> </i><span>Gerar</span>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $('[data-delete]').on('click', function () {

        var url = $(this).data('delete');

        swal({
            title: 'Confirma a exclusão?',
            text: 'Todos os dados da mesma serão perdidos.',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            $.ajax({
                url: url,
                method: 'post',
                data: {_method: 'delete'},
                complete: function (xhr) {

                    if (200 == xhr.status) {

                        swal({
                            title: "Concluído",
                            text: "Exclusão realizada com sucesso.",
                            type: "success",
                            showConfirmButton: false
                        });

                        window.setTimeout(function () {
                            swal.close();
                            TemplateHandler.getTemplates();
                        }, 1500);

                    } else {
                        var response = xhr.responseJSON;
                        swal('Ooops', response.hasOwnProperty('error') ? response.error : 'Falha ao executar a operação', 'error');
                    }
                },
                beforeSend: function () {
                    swal({
                        title: 'Excluindo...',
                        text: 'Aguarde',
                        type: 'info',
                        showConfirmButton: false
                    });
                }
            });
        });
    });
</script>
