<div class="row">
    <div class="col-md-6 text-center">
        <h1 class="no-margins">{{ widget.peoples.total }}</h1>
        <div class="font-bold text-navy">
            {{ widget.peoples.rate }}% <i class="fa fa-level-up"></i>
            <small>{{ 'Peoples'|trans }}</small>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h1 class="no-margins">{{ widget.companies.total }}</h1>
        <div class="font-bold text-navy">
            {{ widget.companies.rate }}% <i class="fa fa-level-up"></i>
            <small>{{ 'Companies'|trans }}</small>
        </div>
    </div>
</div>