<div class="row">
    <div class="col-md-6 text-center">
        <h1 class="no-margins">{{ widget.total }}</h1>
        <div class="font-bold text-navy">
            {#{{ widget.peoples.rate }}% <i class="fa fa-level-up"></i>#}
            <small> Registrados </small>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <h1 class="no-margins">{{ widget.online }}</h1>
        <div class="font-bold text-navy">
            {#{{ widget.rate ? '+' }} {{ widget.rate }}% <i class="fa fa-level-up"></i>#}
            <small> Online </small>
        </div>
    </div>
</div>
