{% set isPromo = project.isPromotional %}
{% set showPrices = not isPromo or app.user.isPlatform %}

<style>
    .line-padding { padding-top: 4rem !important; }
</style>

<div class="modal inmodal fade" id="modal_component" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {% include view('kit.spinner') %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    {{ 'Close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>


<table class="col-md-12 table flow-lg">
    <thead>
    <tr class="flow-lg">
        <th width="15%"> Código</th>
        <th width="47%"> Descrição</th>
        {% if showPrices %}
            <th width="15%"><span class="cost-col">Custo unitário</span></th>
        {% endif %}
        <th width="10%" class="text-center"> Quantidade</th>
        {% if showPrices %}
            <th align="center" width="13%"> Total</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {# MODULES #}
    {% for projectModule in project.projectModules %}
        <tr>
            <td> {{ projectModule.module.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('component_show', {type:'module', id:projectModule.module.id}) }}">
                    {{ projectModule.module.model }}
                </a>
            </td>
            {% if showPrices %}
                <td> {{ projectModule.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ projectModule.quantity }} </td>
            {% if showPrices %}
                <td> {{ (projectModule.unitCostPrice * projectModule.quantity)|currency }} </td>
            {% endif %}
        </tr>
    {% endfor %}

    {# INVERTERS #}
    {% for id, group in project.groupInverters %}
        <tr>
            <td> {{ group.inverter.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('component_show', {type:'inverter', id:group.inverter.id}) }}">
                    {{ group.inverter.model }}
                </a>
            </td>
            {% if showPrices %}
                <td> {{ group.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ group.quantity }} </td>
            {% if showPrices %}
                <td> {{ (group.unitCostPrice * group.quantity)|currency }} </td>
            {% endif %}
        </tr>
    {% endfor %}

    {# TRANSFORMER #}
    {% if 'resolved' == project.transformerStatus %}
        <tr>
            <td> {{ project.transformer.variety.code }} </td>
            <td> {{ project.transformer.variety.description }} </td>
            {% if showPrices %}
                <td> {{ project.transformer.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ 1 }} </td>
            {% if showPrices %}
                <td> {{ project.transformer.unitCostPrice|currency }} </td>
            {% endif %}
        </tr>
    {% elseif 'required' == project.transformerStatus %}
        <tr>
            <td class="text-center">&nbsp;</td>
            <td><i class="fa fa-info-circle"></i> Verificar cotação de transformadores separadamente</td>
            {% if showPrices %}
                <td class="text-center"> &nbsp; </td>
            {% endif %}
            <td class="text-center"> &nbsp; </td>
            {% if showPrices %}
                <td class="text-center"> &nbsp; </td>
            {% endif %}
        </tr>
    {% endif %}

    {# STRING_BOXES #}
    {% for projectStringBox in project.projectStringBoxes %}
        <tr>
            <td> {{ projectStringBox.stringBox.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('stringbox_show', {id:projectStringBox.stringBox.id}) }}">
                    {{ projectStringBox.stringBox.description }}
                </a>
            </td>
            {% if showPrices %}
                <td> {{ projectStringBox.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ projectStringBox.quantity }} </td>
            {% if showPrices %}
                <td> {{ (projectStringBox.unitCostPrice * projectStringBox.quantity)|currency }} </td>
            {% endif %}
        </tr>
    {% endfor %}

    {# STRUCTURES #}
    {% for projectStructure in project.projectStructures %}
        {% set structure = projectStructure.structure %}
        <tr>
            <td> {{ structure.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('structure_show', {id:structure.id}) }}">
                    {{ structure.description }}
                    {% if not structure.salable %}
                        <span class="label label-danger">
                            Produto Indisponível
                        </span>
                    {% endif %}
                </a>
            </td>
            {% if showPrices %}
                <td> {{ projectStructure.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ projectStructure.quantity }} </td>
            {% if showPrices %}
                <td> {{ (projectStructure.unitCostPrice * projectStructure.quantity)|currency }} </td>
            {% endif %}
        </tr>
    {% endfor %}

    {# VARIETIES #}
    {% for projectVariety in project.projectVarieties if projectVariety.variety.type != 'transformer' %}
        <tr>
            <td> {{ projectVariety.variety.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('variety_show', {id:projectVariety.variety.id}) }}">
                    {{ projectVariety.variety.description }}
                </a>
            </td>
            {% if showPrices %}
                <td> {{ projectVariety.unitCostPrice|currency }} </td>
            {% endif %}
            <td class="text-center"> {{ projectVariety.quantity }} </td>
            {% if showPrices %}
                <td> {{ (projectVariety.unitCostPrice * projectVariety.quantity)|currency }} </td>
            {% endif %}
        </tr>
    {% endfor %}

    {# INSURE LINE #}
    {% set insureOrigin = 'generator' %}
    {% include view('helper.insure_line') %}

    <tr>
        <th></th>
        <th></th>
        {% if showPrices %}
        <td></td>
        <td></td>
        <th> {{ project.costPriceComponents|currency }} </th>
        {% else %}
            <th class="text-center"> {{ project.costPriceComponents|currency }} </th>
        {% endif %}
    </tr>
    </tbody>
</table>
