{{ form_start(form, {attr:{id:'form_company', action: app.request.uri}}) }}
<div class="row">
    <div class="col-md-12">

        <div class="form-group col-md-12 hide address">
            <h3> <i class="fa fa-map-marker"></i> Endereço de Entrega </h3>
            <input id="deliveryAddress" name="deliveryAddress" value="{{ order.deliveryAddress }}" type="text" class="form-control" placeholder="Endereço de Entrega">
        </div>

        <div class="col-md-12">
            <h3> <i class="fa fa-truck"></i> Dados da Transportadora </h3>
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.name, 'Razão Social') }}
            {{ form_widget(form.name,{attr:{class:'form-control', 'placeholder':'Razão Social', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.cnpj, 'CNPJ') }}
            {{ form_widget(form.cnpj,{attr:{class:'form-control', 'placeholder':'CNPJ', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.ie, 'Inscrição Estadural') }}
            {{ form_widget(form.ie, {attr:{class:'form-control', 'placeholder':'Inscrição Estadual', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.contact, 'Pessoa para contato') }}
            {{ form_widget(form.contact,{attr:{class:'form-control', 'placeholder':'Pessoa para contato', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.phone, 'Telefone') }}
            {{ form_widget(form.phone,{attr:{class:'form-control', 'placeholder':'Telefone', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group  col-md-3">
            {{ form_label(form.email, 'E-mail') }}
            {{ form_widget(form.email,{attr:{class:'form-control', 'placeholder':'E-mail', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.postcode, 'CEP') }}
            {{ form_widget(form.postcode,{attr:{class:'form-control', 'placeholder':'CEP', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.state, 'Estado') }}
            {{ form_widget(form.state,{attr:{class:'form-control', 'placeholder':'Estado', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.city, 'Cidade') }}
            {{ form_widget(form.city,{attr:{class:'form-control', 'placeholder':'Cidade', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-3">
            {{ form_label(form.address, 'Endereço') }}
            {{ form_widget(form.address,{attr:{class:'form-control', 'placeholder':'Endereço', readonly: 'readonly'}}) }}
        </div>

        <div class="form-group col-md-12">
            <label> &nbsp; </label>
            <button id="btn_submit" class="btn btn-success ladda-button pull-right hide" data-style="zoom-in" type="submit" id="company-save">
                <i class="fa fa-save"></i> {{ 'Save'|trans }}
            </button>
            <a id="btn_edit" class="btn btn-success pull-right">
                <i class="fa fa-edit"></i> Editar
            </a>

        </div>
    </div>
</div>
{{ form_end(form) }}

<script>
    var form = $('#form_company');
    var button = $('#company-save');
    button.ladda();

    form.on('submit', function (event) {
        event.preventDefault();
        button.ladda('start');
        $.ajax({
            url: $(this).attr('action'),
            method: 'post',
            data: form.serialize(),
            success: function (xhr) {
                button.ladda('stop');
                if ('object' == typeof ShippingManager) {
                    ShippingManager.calculate(0);
                }
                Shipping.editableShipping(false);
            }
        });
    });

    form.trigger('submit');

    var btnSubmit = $('#btn_submit');
    var btnEdit = $('#btn_edit');

    $(btnEdit).on('click', function () {
        Shipping.editableShipping(true);
    });

    Shipping = {
        editableShipping: function(editable) {

            if (editable) {
                $(btnSubmit).removeClass('hide');
                $(btnEdit).addClass('hide');

                $('#company_name').removeAttr('readonly');
                $('#company_cnpj').removeAttr('readonly');
                $('#company_ie').removeAttr('readonly');
                $('#company_contact').removeAttr('readonly');
                $('#company_phone').removeAttr('readonly');
                $('#company_email').removeAttr('readonly');
                $('#company_postcode').removeAttr('readonly');
                $('#company_state').removeAttr('readonly');
                $('#company_city').removeAttr('readonly');
                $('#company_address').removeAttr('readonly');

                GeneratorHandler.enableValidate += 2;
                GeneratorHandler.btnValidate.addClass('hide');
            } else {
                $(btnSubmit).addClass('hide');
                $(btnEdit).removeClass('hide');

                $('#company_name').attr('readonly', 'readonly');
                $('#company_cnpj').attr('readonly', 'readonly');
                $('#company_ie').attr('readonly', 'readonly');
                $('#company_contact').attr('readonly', 'readonly');
                $('#company_phone').attr('readonly', 'readonly');
                $('#company_email').attr('readonly', 'readonly');
                $('#company_postcode').attr('readonly', 'readonly');
                $('#company_state').attr('readonly', 'readonly');
                $('#company_city').attr('readonly', 'readonly');
                $('#company_address').attr('readonly', 'readonly');

                GeneratorHandler.enableValidate -= 2;
                if (!GeneratorHandler.enableValidate)
                    GeneratorHandler.btnValidate.removeClass('hide');
            }
        }
    };

    $("#company_postcode").mask("00.000-000");
    $('#company_cnpj').mask("00.000.000/0000-00");

    $('#company_postcode').change(function () {
        $.ajax({
            url: '{{ path('utils_postcode') }}',
            method: 'post',
            data: {postcode: $('#company_postcode').val()},
            complete: function (xhr) {
                if (200 == xhr.status) {
                    $('#company_state').val(xhr.responseJSON.uf);
                    $('#company_city').val(xhr.responseJSON.cidade);
                    $('#company_address').val(xhr.responseJSON.logradouro);
                }
            }
        });
    });

    $('#company_phone').mask(function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    });
</script>
{% block scripts %}
{% endblock %}
