{% set isPromo = project.defaults.is_promotional %}

<style>
    .line-padding {
        padding-top: 4rem !important;
    }

    {% if isPromo %}
    .cost-col {
        display: none;
    }

    {% endif %}

</style>

<div class="modal inmodal fade" id="modal_component" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                {% include view('kit.spinner') %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    {{ 'Close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>


<table class="col-md-12 table flow-lg">
    <thead>
    <tr class="flow-lg">
        <th width="15%"> Código</th>
        <th> Descrição</th>
        <th width="15%"><span class="cost-col">Custo unitário</span></th>
        <th width="10%" align="center"> Quantidade</th>
        <th align="center"> Total</th>
    </tr>
    </thead>
    <tbody>

    {# MODULES #}
    {% for projectModule in project.projectModules %}
        <tr>
            <td> {{ projectModule.module.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('component_show', {type:'module', id:projectModule.module.id}) }}">
                    {{ projectModule.module.model }}
                </a>
            </td>
            <td class="promotional"> {{ projectModule.unitCostPrice|currency }} </td>
            <td class="text-center"> {{ projectModule.quantity }} </td>
            <td> {{ (projectModule.unitCostPrice * projectModule.quantity)|currency }} </td>
        </tr>
    {% endfor %}

    {# INVERTERS #}
    {% for id, group in project.groupInverters %}
        <tr>
            <td> {{ group.inverter.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('component_show', {type:'inverter', id:group.inverter.id}) }}">
                    {{ group.inverter.model }}
                </a>
            </td>
            <td class="promotional"> {{ group.unitCostPrice|currency }} </td>
            <td class="text-center"> {{ group.quantity }} </td>
            <td> {{ (group.unitCostPrice * group.quantity)|currency }} </td>
        </tr>
    {% endfor %}

    {# TRANSFORMER #}
    {% if project.defaults.use_transformer %}
        {% if project.transformer %}
            <tr>
                <td> {{ project.transformer.variety.code }} </td>
                <td> {{ project.transformer.variety.description }} </td>
                <td class="promotional"> {{ project.transformer.unitCostPrice|currency }} </td>
                <td class="text-center"> {{ 1 }} </td>
                <td> {{ project.transformer.unitCostPrice|currency }} </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center">&nbsp;</td>
                <td>  <i class="fa fa-info-circle"></i> Verificar cotação de transformadores separadamente</td>
                <td class="text-center"> &nbsp; </td>
                <td class="text-center"> &nbsp; </td>
                <td class="text-center"> &nbsp; </td>
            </tr>
        {% endif %}
    {% endif %}

    {# STRING_BOXES #}
    {% for projectStringBox in project.projectStringBoxes %}
        <tr>
            <td> {{ projectStringBox.stringBox.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('stringbox_show', {id:projectStringBox.stringBox.id}) }}">
                    {{ projectStringBox.stringBox.description }}
                </a>
            </td>
            <td class="promotional"> {{ projectStringBox.unitCostPrice|currency }} </td>
            <td class="text-center"> {{ projectStringBox.quantity }} </td>
            <td> {{ (projectStringBox.unitCostPrice * projectStringBox.quantity)|currency }} </td>
        </tr>
    {% endfor %}

    {# STRUCTURES #}
    {% for projectStructure in project.projectStructures %}
        {% set structure = projectStructure.structure %}
        <tr>
            <td> {{ structure.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('structure_show', {id:structure.id}) }}">
                    {{ structure.description }}
                    {% if not structure.available %}
                        <span class="label label-danger">
                            Produto Indisponível
                        </span>
                    {% endif %}
                </a>
            </td>
            <td class="promotional"> {{ projectStructure.unitCostPrice|currency }} </td>
            <td class="text-center"> {{ projectStructure.quantity }} </td>
            <td> {{ (projectStructure.unitCostPrice * projectStructure.quantity)|currency }} </td>
        </tr>
    {% endfor %}

    {# VARIETIES #}
    {% for projectVariety in project.projectVarieties if projectVariety.variety.type != 'transformer' %}
        <tr>
            <td> {{ projectVariety.variety.code }} </td>
            <td>
                <a data-toggle="modal" data-target="#modal_component"
                   data-url="{{ path('variety_show', {id:projectVariety.variety.id}) }}">
                    {{ projectVariety.variety.description }}
                </a>
            </td>
            <td class="promotional"> {{ projectVariety.unitCostPrice|currency }} </td>
            <td class="text-center"> {{ projectVariety.quantity }} </td>
            <td> {{ (projectVariety.unitCostPrice * projectVariety.quantity)|currency }} </td>
        </tr>
    {% endfor %}

    {# INSURE LINE #}
    {% set insureOrigin = 'generator' %}
    {% include view('helper.insure_line') %}

    <tr>
        <th></th>
        <th></th>
        <td></td>
        <td></td>
        <th> {{ project.costPriceComponents|currency }} </th>
    </tr>
    </tbody>
</table>
