{{ form_start(form, {attr:{id:'form_shipping', action: app.request.uri}}) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group col-md-4">
            {{ form_label(form.type, 'Opção de Frete') }}
            {{ form_widget(form.type,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-sices col-md-4">
            {{ form_label(form.state, 'Estado') }}
            {{ form_widget(form.state,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-self col-md-4">
            {{ form_label(form.percent, 'Percentual da NF') }}
            {{ form_widget(form.percent,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-sices group-kind col-md-4">
            {{ form_label(form.kind, 'Localização') }}
            {{ form_widget(form.kind,{attr:{class:'form-control'}}) }}
        </div>
    </div>

    <div class="form-group output col-md-2">
        <label> &nbsp; </label>
        <button class="btn btn-success btn-block ladda-button" id="submit_shipping" data-style="zoom-in" type="submit">
            <i class="fa fa-refresh"></i> Calcular
        </button>
    </div>

    <div class="form-group output col-md-4 text-center">
        <label> Valor do Frete </label>
        <h2 id="shipping_output"> {{ order.shipping|currency }} </h2>
    </div>

    <div class="col-md-12">
        <div class="form-group col-md-12">
            <h3> <i class="fa fa-map-marker"></i> Endereço de Entrega </h3>
            <input id="deliveryAddress" name="deliveryAddress" value="{{ order.deliveryAddress }}" type="text" class="form-control" placeholder="Endereço de Entrega">
        </div>
    </div>

    <div class="form-group col-md-12" id="form-company">
    </div>

</div>
{{ form_end(form) }}
<script>

    $('#shipping_state').on('change', function () {
        ShippingManager.submitShipping();
    });
    $('#shipping_kind').on('change', function () {
        ShippingManager.submitShipping();
    });

    var ShippingManager = {
        form: $('#form_shipping'),
        type: $('#shipping_type'),
        state: $('#shipping_state'),
        percent: $('#shipping_percent'),
        kind: $('#shipping_kind'),
        output: $('#shipping_output'),
        deliveryAddress: $('#deliveryAddress'),
        submitShipping: function(){
            $('#submit_shipping').trigger('click');
        },
        checkState: function(){
            var state = ShippingManager.state.val();
            var kinds = ['SP', 'RJ', 'MG'];
            if(kinds.indexOf(state) >= 0){
                $('.group-kind').show();
            }else{
                $('.group-kind').hide();
            }
        },
        getDeliveryAddress: function(){
            return this.deliveryAddress.val();
        },
        checkType: function(){
            var type = ShippingManager.type.val();
            if ('sices' == type) {
                $('.group-sices').show();
                $('.group-self').hide();
                $('.output').show();
                $('#form-company').hide();
                ShippingManager.calculate();
            } else {
                $('.group-self').hide();
                $('.group-sices').hide();
                $('.output').hide();
                ShippingManager.company();
            }

        },
        check: function () {
            ShippingManager.checkType();
            ShippingManager.checkState();
        },
        calculate: function(){

            ladda_button = false;
            var form = this.form;
            var button = form.find('[type="submit"]');

            if (!ladda_button) {
                ladda_button = true;
                button.ladda();
            }

            button.ladda('start');

            /**
             * TODO: This is a temporary solution, it will soon be moved to exclusive processing
             */
            var data = form.serialize() + '&deliveryAddress=' + this.getDeliveryAddress();

            Request.send({
                url: form.attr('action'),
                method: 'post',
                data: data,
                callback: function (xhr) {
                    button.ladda('stop');
                    var response = xhr.responseJSON;
                        ShippingManager.output.html(
                        numeral(response.shipping).format('$0,0.00')
                    );
                    $('#order-total').html(numeral(response.total).format('$0,0.00'));
                }
            });
        },
        company: function () {
            $.ajax({
                url: '{{ path('generator_company_shipping',{id: order.id}) }}',
                complete: function (xhr) {
                    $('#form-company').html(xhr.responseText).show();
                }
            });
        },
        init: function () {

            ShippingManager.type.on('change', function () {
                ShippingManager.check();
            });

            ShippingManager.check();

            ShippingManager.form.on('submit', function (event) {
                event.preventDefault();
                ShippingManager.calculate();
            });

            Numbers.mask(ShippingManager.percent);

            ShippingManager.state.on('change', function(){
                ShippingManager.checkState();
            });
        }
    };

    ShippingManager.init();

</script>
