<style>
    .color-red {
        color: #8b0000;
    }
    .shipping-info {
        margin-left: 15px;
        margin-bottom: 10px;
    }
</style>
<div class="modal inmodal" id="modal_shipping_info" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <i class="fa fa-warning"></i> AVISO SOBRE FRETES, ENTREGAS E GERENCIAMENTOS DE ENTREGAS.
            </div>
            <div class="modal-body text-justify">
                <p>
                    Informamos que o gerenciamento de frete realizado pela <strong>SICES BRASIL</strong>, é destinado a
                    empresas  integradoras e/ou  empresas  que  possuem  estruturas e  meios  apropriados
                    para manuseios de cargas pesadas, tais como: armazém, doca, empilhadeira e paleteira.
                    As  solicitações  de  entrega  diretas  ao  cliente  final,  serão  avaliadas  previamente  pela
                    <strong>SICES Brasil</strong> e atendendo os processos fiscais, a entrega poderá ser realizada, porém tais
                    tipos  de  entregas  não  caracterizam  descarregamento  em  locais  residenciais  com
                    logística crítica (escadas, rampas, locais de difícil acesso, calçadas irregulares, subsolos,
                    porões, coberturas, acesso por elevadores e afins) ou seja que não possua estrutura
                    necessária para recebimento de grandes volumes de equipamentos, por tanto, a
                    <strong>SICES Brasil</strong> não  se  responsabiliza  pelo  descarregamento  e  alocação  dos  Equipamentos em
                    local  abrigado  em  residência  e/ou  no  canteiro de  obra  com  as  características  acima
                    descritas.
                </p>
                <p>
                    Antes de confirmar o gerenciamento de frete, certifique-se que após colocação da carga
                    ao  solo  pela  transportadora,  o  local  possua  meios  e  pessoas  necessárias  para
                    recebimento  dos  equipamentos  de  pesos  e  volumes  elevados  e  os  transfira  e  os
                    condicione em abrigo adequado.
                </p>
                <p>
                    A conferência dos produtos deverá ser no ato da entrega e em caso de divergência o
                    pedido  deverá  ser  recusado,  <strong>NÃO</strong>  sendo  aceito  quaisquer  requerimentos  ou
                    reclamações posteriores por divergências após aceitação da mercadoria e assinatura da
                    Nota Fiscal.
                </p>
                <p>
                    <strong>Observação:</strong> Os serviços de entrega <strong>GRATUITOS</strong> (já inclusos no sistema FV) <strong>NÃO</strong>
                    contemplam aviso prévio de entrega ou agendamento.
                </p>
            </div>
        </div>
    </div>
</div>

{{ form_start(form, {attr:{id:'form_shipping', action: app.request.uri}}) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group col-md-4">
            {{ form_label(form.type, 'Opção de Frete') }}
            {{ form_widget(form.type,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-sices col-md-4">
            {{ form_label(form.state, 'Estado') }}
            {{ form_widget(form.state,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-self col-md-4">
            {{ form_label(form.percent, 'Percentual da NF') }}
            {{ form_widget(form.percent,{attr:{class:'form-control'}}) }}
        </div>

        <div class="form-group group-sices group-kind col-md-4">
            {{ form_label(form.kind, 'Localização') }}
            {{ form_widget(form.kind,{attr:{class:'form-control'}}) }}
        </div>
    </div>

    <div class="form-group output col-md-2">
        <label> &nbsp; </label>
        <button class="btn btn-success btn-block ladda-button" id="submit_shipping" data-style="zoom-in" type="submit">
            <i class="fa fa-refresh"></i> Calcular
        </button>
    </div>

    <div class="form-group output col-md-4 text-center">
        <label> Valor do Frete </label>
        <h2 id="shipping_output"> {{ order.shipping|currency }} </h2>
    </div>

    <div class="form-group included col-md-6 text-center">
        <h3 style="padding-top: 15px;"> INCLUSO (Exceto para AM, AC, RO, RR, AP e Ilhas da Federação) </h3>
    </div>

    <div class="col-md-12 shipping-info" id="info_shipping">
            <a class="color-red" data-toggle="modal"
               data-target="#modal_shipping_info"><i class="fa fa-warning"></i> Aviso sobre fretes</a>
    </div>

    <div class="form-group col-md-12" id="form-delivery">
    </div>

    <div class="form-group col-md-12" id="form-company">
    </div>

</div>
{{ form_end(form) }}
<script>

    $('#shipping_state').on('change', function () {
        ShippingManager.submitShipping();
    });
    $('#shipping_kind').on('change', function () {
        ShippingManager.submitShipping();
    });

    var ShippingManager = {
        form: $('#form_shipping'),
        type: $('#shipping_type'),
        state: $('#shipping_state'),
        percent: $('#shipping_percent'),
        kind: $('#shipping_kind'),
        output: $('#shipping_output'),
        submitShipping: function(){
            $('#submit_shipping').trigger('click');
        },
        checkState: function(){
            var state = ShippingManager.state.val();
            var kinds = ['SP', 'RJ', 'MG'];
            if(kinds.indexOf(state) >= 0){
                $('.group-kind').show();
            }else{
                $('.group-kind').hide();
            }
        },
        checkType: function(){
            var type = ShippingManager.type.val();
            switch (type) {
                case 'sices':
                    $('.group-sices').show();
                    $('.output').show();
                    $('.group-self').hide();
                    $('.included').hide();
                    $('#form-company').hide();
                    $('#info_shipping').show();
                    ShippingManager.calculate();

                    if (GeneratorHandler.enableValidate > 1)
                        GeneratorHandler.enableValidate -= 2;
                    if (!GeneratorHandler.enableValidate)
                        GeneratorHandler.btnValidate.removeClass('hide');
                    break;

                case 'self':
                    $('.group-self').hide();
                    $('.included').hide();
                    $('.group-sices').hide();
                    $('.output').hide();
                    $('#info_shipping').hide();
                    ShippingManager.calculate(0);
                    ShippingManager.company();
                    break;

                case 'included':
                    $('.included').show();
                    $('.group-self').hide();
                    $('.group-sices').hide();
                    $('.output').hide();
                    $('#form-company').hide();
                    $('#info_shipping').show();
                    ShippingManager.calculate(0);
                    break;
            }

        },
        check: function () {
            ShippingManager.checkType();
            ShippingManager.checkState();
        },
        calculate: function(){

            ladda_button = false;
            var form = this.form;
            var button = form.find('[type="submit"]');

            if (!ladda_button) {
                ladda_button = true;
                button.ladda();
            }

            button.ladda('start');

            Request.send({
                url: form.attr('action'),
                method: 'post',
                data: form.serialize(),
                callback: function (xhr) {
                    button.ladda('stop');
                    var response = xhr.responseJSON;
                        ShippingManager.output.html(
                        numeral(response.shipping).format('$0,0.00')
                    );
                    $('#order-total').html(numeral(response.total).format('$0,0.00'));
                }
            });
        },
        company: function () {
            $.ajax({
                url: '{{ path('generator_company_shipping',{id: order.id}) }}',
                complete: function (xhr) {
                    $('#form-company').html(xhr.responseText).show();
                }
            });
        },
        deliveryAddress: function () {
            $.ajax({
                url: '{{ path('generator_delivery_address',{id: order.id}) }}',
                complete: function (xhr) {
                    $('#form-delivery').html(xhr.responseText);
                }
            });
        },
        init: function () {

            ShippingManager.type.on('change', function () {
                ShippingManager.check();
            });

            ShippingManager.check();

            ShippingManager.form.on('submit', function (event) {
                event.preventDefault();
                ShippingManager.calculate();
            });

            ShippingManager.deliveryAddress();

            Numbers.mask(ShippingManager.percent);

            ShippingManager.state.on('change', function(){
                ShippingManager.checkState();
            });
        }
    };

    ShippingManager.init();

</script>
