
<form method="post" action="{{ path('order_budget_create') }}" id="form_budget">

<table class="table table-bordered table-hover flow-md">
    <thead>
    <tr>
        <th colspan="5">
            ORÇAMENTO ATUAL
            <button type="submit" class="btn btn-warning pull-right">
                <i class="fa fa-arrow-right"></i>
                Enviar solicitação para SICES
            </button>
        </th>
    </tr>
    <tr>
        <th  class="text-center">
            <input type="checkbox" id="check_budget">
        </th>
        <th> Descrição </th>
        <th> Data </th>
        <th> Valor </th>
        <th> &nbsp; </th>
    </tr>
    </thead>

    <tbody>

    {% for order in orders if not order.budget %}

        <tr>
            <td width="5%" align="center">
                <input type="checkbox" class="budget_children" name="childrens[]" value="{{ order.id }}">
            </td>
            <td> {{ order.description }} </td>
            <td width="10%"> {{ order.createdAt|date('d/m/Y') }} </td>
            <td width="15%"> {{ order.total|currency }} </td>
            <td width="20%">
                <div class="btn-group btn-group-sm btn-group-justified">
                    <a href="{{ path('generator_orders_update',{id:order.id}) }}" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-delete="{{ path('generator_orders_delete',{id:order.id}) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>

</form>

<script>

    var pagination = $('ul.pagination');
    //var data_update = $('[data-update]');
    var data_delete = $('[data-delete]');
    var form_budget = $('#form_budget');
    var check_budget = $('#check_budget');

    /*data_update.on('click', function () {
        Request.send({
            url: $(this).data('update'),
            callback: function (xhr) {
                $('#generator_form').html(xhr.responseText);
            }
        })
    });*/

    data_delete.on('click', function () {

        var url = $(this).data('delete');

        swal({
            title: 'Confirma a exclusão do pedido?',
            text: 'Este processo não pode ser revertido!',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Excluindo...",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            Request.send({
                url: url,
                method: 'post',
                data: {_method: 'delete'},
                callback: function (xhr) {
                    if (xhr.status != 200) {
                        swal('Atenção', 'Falha ao executar a operação', 'error');
                    } else {
                        swal.close();
                        OrderManager.getOrders();
                    }
                }
            });
        });
    });

    form_budget.on('submit', function(event){
        event.preventDefault();
        var url = $(this).attr('action');
        var data = $(this).serialize();
        if(data.length) {

            swal({
                title: 'Confirma a Solicitação?',
                text: 'Os dados serão enviados para verificação',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: '{{ 'Confirmar'|trans }}',
                cancelButtonText: '{{ 'Cancelar'|trans }}',
                closeOnConfirm: false
            }, function () {

                swal({
                    title: "Solicitando...",
                    text: "Aguarde!",
                    type: "info",
                    showConfirmButton: false
                });

                Request.send({
                    url: url,
                    method: 'post',
                    data: data,
                    callback: function (xhr) {
                        if (xhr.status != 200) {
                            swal('Atenção', 'Falha ao executar a operação', 'error');
                        } else {

                            swal({
                                title: "Solicitação recebida com sucesso!",
                                text: "Você receberá a confirmação em seu e-mail.",
                                type: "success",
                                showConfirmButton: true
                            }, function () {
                                var order = xhr.responseJSON.order;
                                window.location.href = '{{ path('order_show',{id:'_id_'}) }}'.replace(/_id_/g, order.id);
                            });
                        }
                    }
                });
            });
        }else{

            swal({
                title: "Selecione ao menos um orçamento para envio.",
                type: "warning"
            });
        }
    });

    check_budget.on('click', function(){
       $('.budget_children').prop('checked', $(this).is(':checked'));
    });

</script>