{% set orders = order.childrens %}

<div class="modal inmodal fade" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="edit_order"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                    {{ 'Close'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover flow-md">
    <thead>
    <tr>
        <th colspan="5">
            ORÇAMENTO ATUAL
        </th>
    </tr>
    <tr>
        <th> Descrição </th>
        <th> Data </th>
        <th> Valor Equipamentos </th>
        <th> Valor Seguro </th>
        <th> &nbsp; </th>
    </tr>
    </thead>

    <tbody>

    {% for order in orders if not order.budget %}

        <tr>
            <td> {{ order.description }} </td>
            <td width="10%"> {{ order.createdAt|date('d/m/Y') }} </td>
            <td width="15%"> {{ order.subTotal|currency }} </td>
            <td id="order_insurance"> {{ order.insurance|currency }} </td>
            <td width="20%">
                <div class="btn-group btn-group-sm btn-group-justified">
                    <a data-url="{{ path('generator_orders_update',{id:order.id}) }}"
                       data-toggle="modal"
                       data-target="#modal_details"
                       class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <a data-delete="{{ path('generator_orders_delete',{id:order.id}) }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <thead>
        <tr>
            <th></th>
            <th>Sub Total</th>
            <th>
               {{ order.subTotal|currency }}
            </th>
            <th>
                {{ order.TotalInsurance|currency }}
            </th>
            <th></th>
        </tr>
    </thead>
</table>

{#</form>#}

<script>

    var pagination = $('ul.pagination');
    //var data_update = $('[data-update]');
    var data_delete = $('[data-delete]');
    var btn_budget = $('#btn_budget');

    /*data_update.on('click', function () {
        Request.send({
            url: $(this).data('update'),
            callback: function (xhr) {
                $('#generator_form').html(xhr.responseText);
            }
        })
    });*/

    var InsuranceManager = {
        renderInsurance: function (value) {
            $('#order_insurance').html(numeral(value).format('$0,0.00'));
        }
    };

    data_delete.on('click', function () {

        var url = $(this).data('delete');

        swal({
            title: 'Confirma a exclusão do pedido?',
            text: 'Este processo não pode ser revertido!',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Excluindo...",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            Request.send({
                url: url,
                method: 'post',
                data: {_method: 'delete'},
                callback: function (xhr) {
                    if (xhr.status != 200) {
                        swal('Atenção', 'Falha ao executar a operação', 'error');
                    } else {
                        ShippingManager.calculate();
                        GeneratorHandler.getOrders();
                        swal.close();
                    }
                }
            });
        });
    });

    btn_budget.on('click', function(event){
        event.preventDefault();
        var url = $(this).data('url');
        var data = {orderId: orderId};
        if({{ orders|length }}) {

            swal({
                title: 'Confirma a Solicitação?',
                text: 'Os dados serão enviados para verificação',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: '{{ 'Confirmar'|trans }}',
                cancelButtonText: '{{ 'Cancelar'|trans }}',
                closeOnConfirm: false
            }, function () {

                swal({
                    title: "Solicitando...",
                    text: "Aguarde!",
                    type: "info",
                    showConfirmButton: false
                });

                Request.send({
                    url: url,
                    method: 'post',
                    data: data,
                    callback: function (xhr) {
                        if (xhr.status != 200) {
                            swal('Atenção', 'Falha ao executar a operação', 'error');
                        } else {

                            swal({
                                title: "Solicitação recebida com sucesso!",
                                text: "Você receberá a confirmação em seu e-mail.",
                                type: "success",
                                showConfirmButton: true
                            }, function () {
                                var order = xhr.responseJSON.order;
                                window.location.href = '{{ path('order_show',{id:'_id_'}) }}'.replace(/_id_/g, order.id);
                            });
                        }
                    }
                });
            });
        }else{

            swal({
                title: "Nenhum orçamento para envio.",
                type: "warning"
            });
        }
    });

    var ShippingManager = {
        getElements: function () {
            Request.send({
                url: '{{ path('generator_financial_shipping', {id:order.id}) }}',
                callback: function (xhr) {
                    $('#generator_financial_shipping').html(xhr.responseText);
                }
            });
        }
    };

    ShippingManager.getElements();

    var edit_order = $('#edit_order');
    var detail_spinner = edit_order.html();
    $('[data-target="#modal_details"]').on('click', function(){
        var url = $(this).data('url');
        if (url) {
            $('#e_modal_details').modal('show');
            edit_order.html(detail_spinner);
            $.ajax({
                url: url,
                method: 'get',
                success: function (response) {
                    edit_order.html(response);
                }
            });
        } else {
            edit_order.html('<h1> Nenhum componente selecionado para visualização </h1>');
        }
    });


</script>
