{% set isPlatform = app.user.isPlatform %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Código </th>
            <th class="col-md-3"> Descrição </th>
            {% if isPlatform %}
            <th> Markup </th>
            {% endif %}
            <th class="col-md-2"> Custo Unitário </th>
            <th> Qtde </th>
            <th class="col-md-2"> Custo Total </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="order_elements">

    {% for element in order.elements %}

        <tr>
            <td> {{ element.code }} </td>
            <td> {{ element.description }} </td>
            {% if isPlatform %}
                <td> <input class="form-control markup" data-markup-element="{{ path('order_element_update',{id:element.id}) }}"
                            id="input{{ element.id }}" readonly="readonly" value="{{ element.markup|round(2) }}">
                </td>
            {% endif %}
            <td> {{ element.unitPrice|currency }} </td>
            <td class="text-center"> {{ element.quantity }} </td>
            <td width="15%"> {{ element.total|currency }} </td>
            <td width="15%">
                <div class="btn-group btn-group-justified btn-group-sm">
                    <a data-update-element="{{ path('generator_orders_element_update',{id:element.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-delete-element="{{ path('generator_orders_element_delete',{id:element.id}) }}"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>

    {% endfor %}

    <tr>
        <td> SSS_2017_2018 </td>
        <td> SEGURO SOLAR RICO ENGENHARIA PROJETO E INSTALAÇÃO </td>
        {% if isPlatform %}
        <td></td>
        {% endif %}
        <td> {{ 0|currency }} </td>
        <td class="text-center"> 1 </td>
        <td> {{ 0|currency }} </td>
        <td></td>
    </tr>

    </tbody>
    <thead>
        <tr>
            <th colspan="2" class="text-right">{% if isPlatform %}Margem bruta da operação{% endif %}</th>
            {% if isPlatform %}
                <th>{{ order.margin|currency }}</th>
            {% endif %}
            <th class="text-right" id="subtotal"> SubTotal </th>
            <th></th>
            <th> {{ order.subTotal|currency }} </th>
            <th></th>
        </tr>
    </thead>
</table>




<script>

    $('[data-delete-element]').on('click', function () {

        var row = $(this).closest('tr');
        var url = $(this).data('delete-element');

        swal({
            title: 'Confirma a exclusão do item?',
            text: 'Este processo não pode ser revertido!',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Excluindo...",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            Request.send({
                url: url,
                method: 'post',
                data: {_method: 'delete'},
                callback: function (xhr) {
                    var response = xhr.responseJSON;
                    OrderManager.renderTotal(response.total);
                    swal.close();
                    OrderManager.getElements();

                    $('#add_order_element').trigger('change');
                }
            });
        });
    });

    $('[data-update-element]').on('click', function(){
        Request.send({
            url: $(this).data('update-element'),
            callback: function (xhr) {
                $('#form_element_container').html(xhr.responseText);
            }
        });
    });

    $('[data-markup-element]').on('click', function(){
        $(this).removeAttr('readonly');
    });
    $('[data-markup-element]').on('blur', function(){
        $(this).attr('readonly','readonly');
    });


    $('[data-markup-element]').on('change', function(){
        var markup = parseFloat($(this).val().replace(',','.'));
        Request.send({
            url: $(this).data('markup-element'),
            method:  'post',
            data: {markup:markup},
            callback: function (xhr) {
                var response = xhr.responseJSON;
                var total = response.total;
                if (xhr.status == 200) {
                    toastr.success('Markup aplicado!', '', {
                        positionClass: 'toast-top-center',
                        progressBar: true
                    });
                    OrderManager.getElements()
                    OrderManager.renderTotal(total)
                } else {
                    toastr.error('Não foi possível aplicar o Markup!', '', {
                        positionClass: 'toast-top-center',
                        progressBar: true
                    });
                }
            }
        });
    });

    $('#order_description').val('Sistema de ' + {{ order.power }}+'kWp');
    form_button.trigger('click');

    if ({{ isPlatform ? 'true': 'false' }}) {
        var inputMarkup = $('.markup');

        $.each(inputMarkup, function (i, elem) {
            Numbers.mask($(elem));
        });
    }
</script>
