<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Código </th>
            <th> Descrição </th>
            <th> Custo Unitário </th>
            <th> Qtde </th>
            <th> Custo Total </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="order_elements">

    {% for element in order.elements %}

        <tr>
            <td> {{ element.code }} </td>
            <td> {{ element.description }} </td>
            <td> {{ element.unitPrice|currency }} </td>
            <td class="text-center"> {{ element.quantity }} </td>
            <td width="15%"> {{ element.total|currency }} </td>
            <td width="15%">
                <div class="btn-group btn-group-justified btn-group-sm">
                    <a data-update-element="{{ path('generator_orders_element_update',{id:element.id}) }}" class="btn btn-primary">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-delete-element="{{ path('generator_orders_element_delete',{id:element.id}) }}"
                       class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>

    {% endfor %}

    {# INSURE LINE #}
    {% set insureOrigin = 'order' %}
    {% include view('helper.insure_line') %}

    </tbody>
    <thead>
        <tr>
            <th colspan="3"></th>
            <th class="text-right" id="subtotal"> SubTotal </th>
            <th> {{ order.subTotal|currency }} </th>
            <th></th>
        </tr>
    </thead>
</table>

<script>

    $('[data-delete-element]').on('click', function () {

        var row = $(this).closest('tr');
        var url = $(this).data('delete-element');

        swal({
            title: 'Confirma a exclusão do item?',
            text: 'Este processo não pode ser revertido!',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Excluindo...",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            Request.send({
                url: url,
                method: 'post',
                data: {_method: 'delete'},
                callback: function (xhr) {
                    var response = xhr.responseJSON;
                    OrderManager.renderTotal(response.total);
                    swal.close();
                    OrderManager.getElements();

                    $('#add_order_element').trigger('change');
                }
            });
        });
    });

    $('[data-update-element]').on('click', function(){
        Request.send({
            url: $(this).data('update-element'),
            callback: function (xhr) {
                $('#form_element_container').html(xhr.responseText);
            }
        });
    });

    $('#order_description').val('Sistema de ' + {{ order.power }}+'kWp');
    form_button.trigger('click');
</script>
