<style>

    .collapse {
        display: none;
    }

    .color-rows {
        color: #676a6c;
    }

    .table-components {
        border: solid 1px #d3d3d3;
    }

    .minimize {
        background-color: #EEE;
    }

    .card-header h4 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 700;
    }

    .collapse {
        display: none;
    }

    .order {
        color: #676a6c;
    }

    #tfoot, #tfoot > h4 {
        margin: 0rem;
        font-weight: 700;
    }

    #thead {
        margin-bottom: 5px;
    }

</style>

{% set orders = order.childrens %}
{% set isPlatform = app.user.isPlatform %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th class="col-md-3"> Descrição</th>
        <th class="col-md-2 text-center"> Data</th>
        <th class="col-md-2 text-center"> Qtde Itens</th>
        <th class="col-md-3"><span class="pull-right">Valor dos equipamentos</span></th>
        <th class="col-md-2"><span class="pull-right">Valor do seguro</span></th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders if not order.budget %}
        <tr>
            <td colspan="5">
                <div>
                    <h4>
                        <a data-toggle="collapse" href="#{{ order.id }}">
                            <span class="col-md-3 color-rows"> {{ order.description }} </span>
                            <span class="col-md-2 color-rows text-center"> {{ order.createdAt|date('d/m/Y') }} </span>
                            <span class="col-md-2 color-rows text-center"> {{ order.elements.count }} Itens</span>
                            <span class="col-md-3 color-rows">
                                <span class="pull-right">{{ order.subTotal|currency }}</span>
                            </span>
                            <span class="col-md-2 color-rows">
                                <span class="pull-right">{{ order.insurance|currency }}</span>
                            </span>
                        </a>
                    </h4>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5" style="padding: 0;">
                <div id="{{ order.id }}" class="collapse">
                    <div>
                        <table class="table table-striped table-components">
                            <thead>
                            <tr>
                                <td><b>ITEM</b></td>
                                <td><b>CÓDIGO</b></td>
                                <td><b>PRODUTO</b></td>
                                <td class="col-md-1 text-center"><b>QTD</b></td>
                                {% if (not order.isPromotional and not order.isFiname) or isPlatform %}
                                    <td class="col-md-2 text-center"><b>VALOR UNIT</b></td>
                                    <td class="col-md-2 text-center"><b>VALOR TOTAL</b></td>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for element in order.elements %}
                                <tr>
                                    <td class="text-center"><b>{{ loop.index }}</b></td>
                                    <td>{{ element.code }}</td>
                                    <td>{{ element.description }}</td>
                                    <td class="text-center">{{ element.quantity }}</td>
                                    {% if (not order.isPromotional and not order.isFiname) or isPlatform %}
                                        <td class="text-center">{{ element.unitPrice|currency }}</td>
                                        <td class="text-center">{{ element.total|currency }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if order.hasInsurance %}
                            <table class="table table-striped table-components">
                                <thead>
                                <tr>
                                    <th>Seguros</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for additive in order.orderAdditives %}
                                    <tr>
                                        <td class="col-md-1"> {{ loop.index }} </td>
                                        <td class="col-md-9"> {{ additive.name }} </td>
                                        <td class="col-md-2"> {{ additive.total|currency }} </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Valor Total:</th>
                                    <th>{{ order.insurance|currency }}</th>
                                </tr>
                                </tfoot>
                            </table>
                        {% endif %}
                        <a data-toggle="collapse" href="#{{ order.id }}" class="color-rows">
                            <div class="col-md-12 text-center minimize">
                                <i class="fa fa-chevron-up"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<table class="table table-striped" id="tfoot">
    <tfoot>
        <tr>
            <th class="col-md-4"></th>
            <th class="col-md-2"></th>
            <th class="col-md-2">Sub Total</th>
            <th class="col-md-2" style="text-align: center; padding-left: 30px;">
                <h4> {{ order.subTotal|currency }} </h4>
            </th>
            <th class="col-md-2" style="text-align: center; padding-left: 40px">
                <h4> {{ order.TotalInsurance|currency }} </h4>
            </th>
        </tr>
    </tfoot>
</table>
<script>
    $('#order-totalExcDiscount').html('{{ order.totalExcDiscount|currency }}');
    $('#order-discount').html('-{{ order.discount|currency }}');
    $('#order-total').html('{{ order.total|currency }}');
</script>
