{{ form_start(form, {attr:{id: 'email_member', 'data-action': path('email_user_update', { 'id': member.id }), class: 'animated fadeInRight'}}) }}
<div class="col-md-12">
    <label>{{ member.firstname }}</label>
</div>
<div class="form-group col-md-5">
    {{ form_widget(form.email, {'attr':{'class':'form-control', 'data-placeholder':'Email'}})}}
</div>

<div class="form-group col-md-1">
    <input type="submit" class="btn btn-primary" value="Salvar" />
</div>
{{ form_end(form) }}
<input id="user_email" type="hidden" value="{{ member.email }}">

<script>
    var form = $('#email_member');
        form.on('submit', function (event) {
            event.preventDefault();

            if ($('#email_member_email').val() == $('#user_email').val()) {
                $('#email_form').html('');
            } else {
                var url = $(form).data('action');

                $.ajax({
                    url: url,
                    method: 'post',
                    data: $(form).serialize(),
                    complete: function (xhr) {
                        if (200 == xhr.status) {
                            $('#email_form').html('');
                            $('#'+xhr.responseJSON['id_email']).html(xhr.responseJSON['email']);
                            if (xhr.responseJSON['owner'])
                                $('#email_account').html(xhr.responseJSON['email']);
                            display_success('Email atualizado com sucesso.');
                        } else {
                            display_error('Este email não pode ser usado.');
                        }
                    }
                });
            }
        });
</script>
