{% extends view('layout') %}

{% block body %}

    <style>
        .btn-primary,
        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary:active:focus,
        .btn-primary:active:hover,
        .btn-primary.active,
        .btn-primary.active:hover,
        .btn-primary.active:focus,
        .open .dropdown-toggle.btn-primary {
            background-color: #00A7EC !important;
            border-color: #00A7EC !important;
            color: #fff;
        }
        .row {
            border-color: #00A7EC;
        }
        .selected {
            border-color: #00A7EC;
            border-radius: 4px;
        }
        .selected:focus {
            border-color: #00A7EC !important;
        }

    </style>

    <div class="modal inmodal" id="e_modal_transfer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h3><i class="fa fa-random"></i> Transferência de contas</h3>
                    <h5>As contas vinculadas ao usuário comercial de origem passarão para o usuário comercial de destino.</h5>
                </div>
                <div class="modal-body">
                    {% include view('Helper.spinner') %}
                </div>
            </div>
        </div>
    </div>

    {% set showActions = not app.user.isPlatformFinancial and not app.user.isPlatformAfterSales %}

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="btn-group pull-right" style="padding-left: 10px;">
                        {% if showActions %}
                        <a class="btn btn-primary"
                           href="{{ path('account_create')}}">
                            <i class="fa fa-plus-square"></i> Nova conta
                        </a>
                        {% endif %}
                        {% if app.user.isPlatformMaster %}
                            <a class="btn btn-success" data-url="{{ path('account_transfer') }}" data-toggle="modal" data-target="#e_modal_transfer">
                                <i class="fa fa-random"></i>
                            </a>
                        {% endif %}
                    </div>

                    <span class="pull-right small text-muted">
                        <h3>{{ pagination.totalItemCount }} Conta(s) encontrada(s)</h3>
                    </span>
                    <h2> {{ 'Accounts'|trans }}</h2>
                </div>
                <div class="ibox-content no-padding border-left-right">
                </div>
                <div class="ibox-content">
                    {{ knp_pagination_filter(pagination, {'a.lastname, a.document, a.email':''}) }}

                    <div style="padding-right:0;padding-top:7px;" class="col-md-1 text-right">
                        <label style="width: 100%;">
                            <i class="fa fa-filter"></i> Filtro
                        </label>
                    </div>

                    <div class="col-md-3">
                        <select id="filter-bond" class="form-control selected" title="Vínculo"
                                style=";width: 98%;">
                            <option value="-1"> Vínculo &raquo; Todos </option>
                            {% for member in members %}
                                <option {{ current_bond == member.id ? 'selected="selected"' }}  value="{{ member.id }}"> {{ member.firstName }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <select id="filter-status" class="form-control selected" title="Usuário"
                                style="width: 98%;">
                            <option value="-1"> Status &raquo; Todos </option>
                            {% for key, status in allStatus %}
                                <option {{ current_status == key ? 'selected="selected"' }} value="{{ key }}"> {{ status|trans }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">
                        <select id="filter-level" class="form-control selected" title="Nivel"
                                style="width: 98%;">
                            <option value="-1"> Niveis &raquo; Todos </option>
                            {% for key, level in allLevels %}
                                <option {{ current_level == key ? 'selected="selected"' }} value="{{ key }}"> {{ level|capitalize|trans }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="clients-list">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-2"> Nome Fantasia </th>
                                        <th class="col-md-2 text-center"> Cnpj </th>
                                        <th class="col-md-3"> Email </th>
                                        <th class="col-md-2"> Nivel de Desconto </th>
                                        <th class="col-md-1"> Status </th>
                                        <th class="col-md-2">
                                            <i class="fa fa-search-plus"></i>
                                            &nbsp Mais Detalhes
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for account in pagination.items %}

                                        <tr>
                                            <td> {{ account.firstname }} </td>
                                            <td class="text-center"> {{ account.document }} </td>
                                            <td><i class="fa fa-envelope"></i>&nbsp;  {{ account.email }} </td>
                                            <td class="text-center">
                                                <div class="label label-level label-size level-{{ account.level }}">
                                                </div>
                                            </td>
                                            <td class="client-status">
                                                {% if account.status == 0 %}
                                                    <span class="label label-defaut">Pendente</span>
                                                {% elseif account.status == 1 %}
                                                    <span class="label label-warning">Email verificado</span>
                                                {% elseif account.status == 2 %}
                                                    <span class="label label-primary">Conta confirmada</span>
                                                {% elseif account.status == 3 %}
                                                    <span class="label label-success">Ativo</span>
                                                {% elseif account.status == 4 %}
                                                    <span class="label label-danger">Bloqueado</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group btn-group-justified">
                                                    <a class="btn btn-sm btn-default"
                                                       href="{{ path('account_show',{'id':account.id}) }}">
                                                        <i class="fa fa-eye"></i> {{ 'View'|trans }}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="row text-center">
                                <div class="btn-group bt-xs">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $('#e_modal_transfer').on('show.bs.modal', function(event) {
            var modal = $(this), body = modal.find('.modal-body'), target = $(event.relatedTarget);
            var url = target.data('url');
            if(url){
                $.ajax({
                    url: url,
                    complete: function(xhr){
                        body.html(xhr.responseText);
                    }
                })
            }
        });

        var form_filtration = $('#form_filtration');
        var current_status = '{{ current_status }}';
        var current_bond = '{{ current_bond }}';
        var current_level = '{{ current_level }}';
        var filter_status = $('#filter-status');
        var filter_bond = $('#filter-bond');
        var filter_level = $('#filter-level');
        if(form_filtration.length){
            form_filtration.append($('<input type="hidden" name="status"/>').val(current_status));
            form_filtration.append($('<input type="hidden" name="bond"/>').val(current_bond));
            form_filtration.append($('<input type="hidden" name="level"/>').val(current_level));
            filter_status.on('change', function(){
                $('input[name="status"]').val($(this).val());
                form_filtration.trigger('submit');
            });
            filter_bond.on('change', function(){
                $('input[name="bond"]').val($(this).val());
                form_filtration.trigger('submit');
            });
            filter_level.on('change', function(){
                $('input[name="level"]').val($(this).val());
                form_filtration.trigger('submit');
            });
        }

        $('#email_modal').on('show.bs.modal', function(event){
            var modal = $(this), body = modal.find('.modal-body'), target = $(event.relatedTarget);
            var url = target.data('url');
            if(url){
                $.ajax({
                    url: url,
                    complete: function(xhr){
                        body.html(xhr.responseText);
                    }
                })
            }
        });
    </script>
{% endblock %}
