{% extends view('layout') %}

{% block body %}

    {% set showActions = not app.user.isPlatformFinancial and not app.user.isPlatformAfterSales  and not app.user.isPlatformExpanse %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>
                        <label> {{ 'Account'|trans }}: </label>
                        {{ account.firstname }}
                    </h3>
                    <div class="btn-group">
                        <a class="btn btn-default"
                           href="{{ path('account_index',{'id':account.id}) }}">
                            <i class="fa fa-arrow-left"></i> Voltar
                        </a>
                        {% if showActions %}
                        <a class="btn btn-info"
                           href="{{ path('account_update',{'id':account.id}) }}">
                            <i class="fa fa-edit"></i> {{ 'Edit'|trans }}
                        </a>
                        {% endif %}
                    </div>
                    {% if showActions %}
                        {% include view('admin/accounts/info_status.html.twig') %}
                    {% endif %}

                </div>
                <div class="ibox-content no-padding border-left-right">
                </div>
                <div class="ibox-content profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    &nbsp; Informações da Empresa
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label> Nome Fantasia: </label>
                                            {{ account.firstname }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> Razão Social: </label>
                                            {{ account.lastname }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> CNPJ: </label>
                                            {{ account.document }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> Inscrição Estadual: </label>
                                            {{ account.ExtraDocument }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'Email'|trans }}: </label>
                                            <span id="email_account">{{ account.email }}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label> {{ 'Phone'|trans }}: </label>
                                            {{ account.phone }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'Postcode'|trans }}: </label>
                                            {{ account.postcode }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'State'|trans }}: </label>
                                            {{ account.state }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'City'|trans }}: </label>
                                            {{ account.city }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'District'|trans }}: </label>
                                            {{ account.district }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12">
                                            <label> {{ 'Street'|trans }}:  </label>
                                            {{ account.street }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> {{ 'Number'|trans }}: </label>
                                            {{ account.number }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> Nível de desconto: </label>
                                            {{ account.level }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> Data de Registro: </label>
                                            {{ account.createdAt|date('d/m/Y') }}
                                        </div>
                                        <div class="col-md-12">
                                            <label> Usuário Sices Vinculado: </label>
                                            {{ account.agent }}
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    Usuários Vinculados
                                </div>
                                <div class="panel-body">

                                    <div id="email_form" class="col-md-12">

                                    </div>

                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-md-4">Nome</th>
                                                <th class="col-md-5">E-mail</th>
                                                <th class="col-md-3">Nivel de Usuário</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for member in members %}
                                                {% set is_user = member.user and member.user.same(app.user) %}
                                                {% set is_owner = member.isOwner or member.getAttribute('is_owner', false) %}
                                                {% set is_master = member.masterOwner %}

                                                <tr>
                                                    <td> {{ member.firstname }} </td>
                                                    <td>
                                                        {% if showActions %}
                                                        <a class="label label-primary" data-user-email="{{ path('email_user_update', { 'id': member.id }) }}">
                                                            <i class="fa fa-pencil"></i></a>
                                                        {% endif %}
                                                        <span id="{{ member.id }}">{{ member.email }}</span>
                                                    </td>
                                                    <td data-value="{{ member.isOwner ? 'a' : 'z' }}">
                                                        {% if is_owner %}
                                                            <div class="label label-{{ is_master ? 'info' : 'default' }}" style="width: 100%;">
                                                                {{ is_master ? 'Account Owner'|trans : 'Administrator'|trans }}
                                                            </div>
                                                        {% else %}
                                                            <div class="label label-{{ is_user ? 'info' : 'default' }}" style="width: 100%;">
                                                                {{ is_user ? 'Account User'|trans : 'Usuário Comum'|trans }}
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('assets/toastr/toastr.min.js') }}"></script>
    <script>

        function display_error(message){
            toastr.error(message, '', {
                positionClass: 'toast-top-center',
                progressBar: true,
                preventDuplicates: true
            });
        }
        function display_success(message){
            toastr.success(message, '', {
                positionClass: 'toast-top-center',
                progressBar: true,
                preventDuplicates: true
            });
        }

        var dataEmail = $('[data-user-email]');
        if(dataEmail.length){
            dataEmail.on('click', function () {
                var url = $(this).data('user-email');

                $.ajax({
                    url: url,
                    method: 'post',
                    data: {_method:'post'},
                    complete: function (xhr) {
                        if (200 == xhr.status) {
                            $('#email_form').html(xhr.responseJSON['form_email']);
                        } else {
                            swal("{{ 'Error'|trans }}!", 'Falha ao editar', "error");
                        }
                    }
                });

            });
        }

    </script>
    {% if errors|length %}
        <script>
            {% for key, error in errors if 0 == key %}
            display_error('{{ error.message|trans([],'messages') }}');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}
