{% if not order.coupon and order.status < constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}

    {% if isShow %}
    <div class="ibox border-bottom">
        <div class="ibox-content">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
    {% endif %}

        <fieldset class="col-md-12">
        <h3>{% if not app.user.isPlatform %} Resgate de pontos: {% else %} Aplicar cupom: {% endif %}</h3>
        <div class="form-group {% if isShow %} col-md-6 {% else %} col-md-3 {% endif %}">
            <label>Informar código:</label>
            <div class="input-group">
                <input type="text" id="coupon_code_input" class="form-control">
                <span class="input-group-addon" id="coupon_code_search">
                <i class="fa fa-search"></i>
            </span>
            </div>
        </div>

        {% if not app.user.isPlatform and options %}
            <div class="form-group {% if isShow %} col-md-6 {% else %} col-md-3 {% endif %}">
                <label>Selecionar opção: </label>
                <div class="input-group col-md-12">
                    <select class="form-control" id="coupon_select" name="account">
                        <option selected="selected" value="">Selecione uma das opções</option>
                        {% for step in options %}
                            <option value="{{ step }}">{{ step }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}

        <div class="form-group {% if isShow %} col-md-8 {% else %} col-md-5 pull-right {% endif %}">
            <label> &nbsp; </label>
            <button class="btn btn-success btn-block ladda-button" disabled="disabled" id="submit_coupon" data-style="zoom-in" type="submit">
                <i class="fa fa-check-circle-o"></i> Informe o código ou selecione uma opção
            </button>
        </div>
    </fieldset>

    {% if isShow %}
        </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}

{% else  %}

    {% if isShow and order.coupon and order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}
    <div class="ibox border-bottom">
        <div class="ibox-content">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
    {% endif %}

    {% if not isShow or order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}
    <div class="col-md-12">
        <h3><b>Cupom de desconto aplicado:</b></h3>
        <p><b>Código:</b> {{ order.coupon.code }}</p>
        <p><b>Valor:</b> {{ order.coupon.amount|currency }}</p>
    </div>
    {% endif %}

    {% if isShow and order.coupon and order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}
        </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}

{% endif %}

<script>
    var options = {
        positionClass: "toast-top-center",
        preventDuplicates: true,
        progressBar: true
    };

    CouponHandler = {
        couponInput: $('#coupon_code_input'),
        couponSelect: $('#coupon_select'),
        submitCoupon: $('#submit_coupon'),
        submitCouponDefaultText: "<i class=\"fa fa-check-circle-o\"></i> Informe o código ou selecione uma opção",
        couponSelectDefault: "",
        coupon: null,
        getCouponUrl: "{{ path('get_coupon', {code: '_code_'}) }}",
        associateCouponUrl: "{{ path('associate_coupon', {order: order.id, coupon: "_coupon_"}) }}",
        source: null,
        status: null,
        validateCoupon: function () {
            var url = this.getCouponUrl.replace('_code_', this.couponInput.val());
            $.ajax({
                url: url,
                method: 'get',
                complete: function (response) {
                    CouponHandler.resetCouponSelect();
                    CouponHandler.coupon = response.responseJSON;

                    if (!CouponHandler.coupon || CouponHandler.coupon.length <= 0) {
                        toastr.error('Cupom não encontrado!', null, options);
                        CouponHandler.resetSubmitCoupon();
                    } else {
                        CouponHandler.source = "input";
                        CouponHandler.activateSubmitCoupon(CouponHandler.coupon.amount);
                    }
                }
            });

        },
        associateCoupon: function () {
            var url = CouponHandler.associateCouponUrl.replace('_coupon_', CouponHandler.coupon.id);
            $.ajax({
                url: url,
                method: 'get',
                complete: function (response) {
                    CouponHandler.status = response.status;
                    closeSwal();
                }
            });
        },
        generateAndAssociateCoupon: function () {
            $.ajax({
                url: "{{ path('generate_coupon_from_order') }}",
                method: 'get',
                data: {
                    "order": {{ order.id }},
                    "step": CouponHandler.couponSelect.val()
                },
                complete: function (response) {
                    CouponHandler.status = response.status;
                    closeSwal();
                }
            });
        },
        resetCouponSelect: function () {
            this.couponSelect.val(this.couponSelectDefault)
        },
        resetSubmitCoupon: function () {
            this.submitCoupon.attr('disabled', 'disabled');
            this.submitCoupon.html(this.submitCouponDefaultText);
        },
        resetCouponInput: function () {
            this.couponInput.val('');
        },
        activateSubmitCoupon: function (amount) {
            amount = Number(amount);
            this.submitCoupon.removeAttr('disabled');
            this.submitCoupon.html('Valor ' + numeral(amount).format('$0,0.00') + '| <i class="fa fa-check-circle-o"></i> Aplicar');
        },
        init: function () {
            this.submitCoupon.html(this.submitCouponDefaultText);
        }
    };
    CouponHandler.init();

    $('#coupon_code_search').on('click', function () {
        CouponHandler.resetCouponSelect();
        if (CouponHandler.couponInput.val().length > 0) {
            CouponHandler.validateCoupon();
        } else {
            CouponHandler.resetSubmitCoupon();
        }
    });
    $('#coupon_select').on('change', function () {
        if (CouponHandler.couponSelect.val() !== '') {
            CouponHandler.activateSubmitCoupon(CouponHandler.couponSelect.val());
            CouponHandler.resetCouponInput();
            CouponHandler.source = "select";
        } else {
            CouponHandler.resetSubmitCoupon();
        }
    });
    $('#submit_coupon').on('click', function () {

        var title = 'Confirma a associação do cupom?';

        if (CouponHandler.source === 'select') {
            title = 'Confirma a criação e associação do cupom?';
        }

        swal({
            title: title,
            text: 'Após a associação do cupom a mesma não poderá ser desfeita!',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Associando cupom...",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            if (CouponHandler.source === "input") {
                CouponHandler.associateCoupon();
            } else {
                CouponHandler.generateAndAssociateCoupon();

            }
        });
    })

    function closeSwal() {
        var title = "Concluído";
        var text = "Associação de cupom realizada com sucesso.";
        var type = "success";

        if (CouponHandler.status !== 200) {
            title = "Falha";
            text = "Falha na associação do cupom.";
            type = "error";
        }
        swal({
            title: title,
            text: text,
            type: type,
            showConfirmButton: false
        });
        setTimeout(function () {
            getAssociatedCoupon();
            swal.close();
        }, 2000);
    }

    $('#order-total').html('{{  order.total|currency }}');
    {% if order.coupon %}
        $('#coupon-discount').html('<th colspan="6" class="text-right">Cupom de desconto: -{{  order.coupon.amount|currency }}</th>');
    {% endif %}
</script>
