{% if not order.coupon and order.status < constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}

    {% if isShow %}
    <div class="ibox border-bottom">
        <div class="ibox-content">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
    {% endif %}

        <fieldset class="col-md-12">
            <div class="col-md-3">
                <h3>Descontos</h3>
            </div>
            <div class="col-md-6">
                <h3>Saldo atual: <strong>{{ order.account.ranking }}</strong> pts</h3>
            </div>
        </fieldset>

        <fieldset class="col-md-12">
            <div class="form-group {% if isShow %} col-md-6 {% else %} col-md-3 {% endif %}">
                <label>Código do cupom</label>
                <div class="input-group">
                    <input type="text" id="coupon_code_input" class="form-control">
                    <span class="input-group-addon" id="coupon_code_search">
                    <i class="fa fa-search"></i>
                </span>
                </div>
            </div>

            {% if not app.user.isPlatform and options %}
                <div class="form-group {% if isShow %} col-md-6 {% else %} col-md-4 {% endif %}">
                    <label>Resgate de pontos </label>
                    <div class="input-group col-md-12">
                        <select class="form-control" id="coupon_select" name="account">
                            <option selected="selected" value="">Quantos pontos deseja trocar?</option>
                            {% for step in options %}
                                <option value="{{ step }}">{{ step }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            <div class="form-group {% if isShow %} col-md-6 {% else %} col-md-5 pull-right {% endif %}">
                <label> &nbsp; </label>
                <button class="btn btn-success btn-block ladda-button" disabled="disabled" id="submit_coupon" data-style="zoom-in" type="submit">
                    <i class="fa fa-check-circle-o"></i> Informe o código ou selecione uma opção
                </button>
            </div>

            <div class="form-group col-md-12">
                <input type="checkbox" id="acceptedTerms">
                <label for="acceptedTerms">Aceito os <a href="https://sicessolar.com.br/regulamento-club-vantagens-sices" target="_blank">Termos do Clube de Vantagens</a></label>
            </div>

        </fieldset>

    {% if isShow %}
        </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}

{% else  %}

    {% if isShow and order.coupon and order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}
    <div class="ibox border-bottom">
        <div class="ibox-content">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
    {% endif %}

    {% if not isShow or order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') and order.coupon %}
    <div class="col-md-12">
        <h3><b>Cupom de desconto aplicado:</b></h3>
        <p><b>Código:</b> {{ order.coupon.code }}</p>
        <p><b>Valor:</b> {{ order.coupon.amount|currency }}</p>
    </div>
    {% endif %}

    {% if isShow and order.coupon and order.status >= constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') %}
        </div>
        </div>
        </div>
        </div>
        </div>
    {% endif %}

{% endif %}

<script>
    var options = {
        positionClass: "toast-top-center",
        preventDuplicates: true,
        progressBar: true
    };

    CouponHandler = {
        couponInput: $('#coupon_code_input'),
        couponSelect: $('#coupon_select'),
        submitCoupon: $('#submit_coupon'),
        submitCouponDefaultText: "<i class=\"fa fa-check-circle-o\"></i> Informe o código ou selecione uma opção",
        couponSelectDefault: "",
        coupon: null,
        getCouponUrl: "{{ path('get_coupon', {code: '_code_'}) }}",
        associateCouponUrl: "{{ path('associate_coupon', {order: order.id, coupon: "_coupon_"}) }}",
        source: null,
        status: null,
        amount: null,
        acceptedTerms: false,
        orderPrice: {{ order.total }},
        validateCoupon: function () {
            var url = this.getCouponUrl.replace('_code_', this.couponInput.val());
            $.ajax({
                url: url,
                method: 'get',
                complete: function (response) {
                    CouponHandler.resetCouponSelect();
                    CouponHandler.coupon = response.responseJSON;

                    if (!CouponHandler.coupon || CouponHandler.coupon.length <= 0) {
                        toastr.error('Cupom não encontrado!', null, options);
                        CouponHandler.resetSubmitCoupon();
                    } else {
                        CouponHandler.source = "input";
                        CouponHandler.amount = Number(CouponHandler.coupon.amount);
                        CouponHandler.activateSubmitCoupon(CouponHandler.coupon.amount);
                    }
                }
            });

        },
        associateCoupon: function () {
            var url = CouponHandler.associateCouponUrl.replace('_coupon_', CouponHandler.coupon.id);
            $.ajax({
                url: url,
                method: 'get',
                complete: function (response) {
                    CouponHandler.status = response.status;
                    closeSwal();
                }
            });
        },
        generateAndAssociateCoupon: function () {
            $.ajax({
                url: "{{ path('generate_coupon_from_order') }}",
                method: 'get',
                data: {
                    "order": {{ order.id }},
                    "step": CouponHandler.couponSelect.val()
                },
                complete: function (response) {
                    CouponHandler.status = response.status;
                    closeSwal();
                }
            });
        },
        resetCouponSelect: function () {
            this.couponSelect.val(this.couponSelectDefault)
        },
        resetSubmitCoupon: function () {
            this.submitCoupon.attr('disabled', 'disabled');
            this.submitCoupon.html(this.submitCouponDefaultText);
        },
        resetCouponInput: function () {
            this.couponInput.val('');
        },
        activateSubmitCoupon: function (amount) {
            if (this.acceptedTerms) {
                amount = Number(amount);
                this.submitCoupon.removeAttr('disabled');
                this.submitCoupon.html('Valor ' + numeral(amount).format('$0,0.00') + '| <i class="fa fa-check-circle-o"></i> Aplicar');
            } else {
                this.disableSubmitCoupon();
            }
        },
        disableSubmitCoupon: function() {
            this.submitCoupon.attr('disabled', 'disabled');
        },
        init: function () {
            this.submitCoupon.html(this.submitCouponDefaultText);

            $('#acceptedTerms').on('change', function () {
                var checked = $(this).is(':checked');

                CouponHandler.acceptedTerms = checked;

                if (!checked) {
                    CouponHandler.disableSubmitCoupon();
                }
            });
        }
    };
    CouponHandler.init();

    function couponSelectCheck() {
        CouponHandler.resetCouponSelect();
        if (CouponHandler.couponInput.val().length > 0) {
            CouponHandler.validateCoupon();
        } else {
            CouponHandler.resetSubmitCoupon();
        }
    }

    function couponCodeSearchCheck() {
        if (CouponHandler.couponSelect.val() !== '') {
            CouponHandler.amount = CouponHandler.couponSelect.val();
            CouponHandler.activateSubmitCoupon(CouponHandler.couponSelect.val());
            CouponHandler.resetCouponInput();
            CouponHandler.source = "select";
        } else {
            CouponHandler.resetSubmitCoupon();
        }
    }

    $('#coupon_code_search').on('click', function () {
        couponSelectCheck();
    });
    $('#coupon_select').on('change', function () {
        couponCodeSearchCheck();
    });
    $('#submit_coupon').on('click', function () {

        var title = 'Confirma a aplicação do desconto?';

        if (CouponHandler.amount > CouponHandler.orderPrice) {
            title = 'Você está usando um desconto com valor superior ao do orçamento.' +
                ' Os pontos restantes (' + numeral(CouponHandler.amount - CouponHandler.orderPrice).format('$0,0.00') + ') serão perdidos. Deseja continuar?';
        }

        swal({
            title: title,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            sweetAlert({
                title: "Aplicando desconto",
                text: "Aguarde!",
                type: "info",
                showConfirmButton: false
            });

            if (CouponHandler.source === "input") {
                CouponHandler.associateCoupon();
            } else {
                CouponHandler.generateAndAssociateCoupon();
            }
        });
    })

    function closeSwal() {
        var title = "Desconto aplicado";
        var type = "success";

        if (CouponHandler.status !== 200) {
            title = "Falha ao aplicar desconto";
            type = "error";
        }
        swal({
            title: title,
            type: type,
            showConfirmButton: false
        });
        setTimeout(function () {
            getAssociatedCoupon();
            swal.close();
        }, 2000);
    }

    $('#order-total').html('{{  order.total|currency }}');
    {% if order.coupon %}
        $('#coupon-discount').html('<th colspan="6" class="text-right">Cupom de desconto: -{{  order.coupon.amount|currency }}</th>');
    {% endif %}
</script>
