{% extends view('layout') %}

{% block styles %}

    <style>
        table tbody tr {
            display: table-row !important;
        }

        .label.label-status {
            background-color: #f2f2f2;
            border: 1px solid #b2b2b2;
            color: #555;
        }

        .label.status-building i {
            color: #898989;
        }

        .label.status-pending i {
            color: #ff7701;
        }

        .label.status-validated i {
            color: #0a6aa1;
        }

        .label.status-approved i {
            color: #00a157;
        }

        .label.status-rejected i {
            color: #ffcd70;
        }

        .label.status-done i {
            color: #777;
        }

        .validated {
            color: #0a6aa1;
        }
    </style>

{% endblock %}

{% block body %}

    {% set displayProforma = member.isPlatformFinancial or member.isPlatformAfterSales %}
    {% set displayFilePayment = member.isPlatformFinancial %}
    {% set allowAdd = not displayProforma %} {# TODO: Regra temporária #}

    <div class="modal inmodal" id="modal_shipping" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-truck"></i> Dados da Transportadora
                    </h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="bt_save">
                        <i class="fa fa-close"></i> {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

                <div class="col-md-8">
                    <div class="row">

                        {{ form_start(form) }}

                        <div class="form-group col-md-5">
                            {{ form_widget(form.like,{attr:{class:'form-control', placeholder: 'nome, razão social, cnpj, número...'}}) }}
                        </div>

                        <div class="form-group col-md-3">
                            {{ form_widget(form.status,{attr:{class:'form-control'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-md">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>

                        {{ form_end(form) }}

                    </div>
                </div>

                <div class="col-md-4">
                    {% if allowAdd %}
                        <a class="btn btn-success pull-right" href="{{ path('project_generator') }}">
                            <i class="fa fa-plus"></i> Orçamento
                        </a>
                    {% endif %}
                </div>

        </div>

        <div class="row" id="real-content">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">

                        <table class="table table-stripped">
                            <thead>
                            <tr>
                                <th class="text-center col-md-2"> Número</th>
                                <th class="text-center col-md-3"> Integrador</th>
                                <th class="text-center col-md-2"> Sistemas</th>
                                <th class="text-center"> Status</th>
                                <th class="text-center col-md-4"> Arquivos</th>
                                <th class="text-center col-md-1"> &nbsp; </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for order in orders %}

                                <tr>
                                    <td class="text-center">
                                        <h4> {{ order.reference }} </h4>
                                        {% if order.createdAt %}
                                            <small>
                                                {{ order.createdAt|format_date }}
                                            </small>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <h4>{{ order.account ? order.account.firstname : 'Não definido' }}</h4>
                                        <small>
                                            {{ order.cnpj }}
                                        </small>
                                    </td>

                                    <td class="text-center">
                                        <h4>
                                            {% if order.childrens.count %}
                                                {% for children in order.childrens %}
                                                    {{ children.power }} kWp,
                                                {% endfor %}
                                            {% else %}
                                                Sem sistemas
                                            {% endif %}
                                        </h4>
                                        <small> {{ order.total|currency }} </small>
                                    </td>

                                    <td>
                            <span class="label label-status status-{{ order.statusName }}">
                                <i class="fa fa-circle"></i> {{ order.statusName|capitalize|trans }}
                            </span>
                                    </td>

                                    <td class="text-center">
                                        <div class="btn-group btn-group-sm col-md-12 btn-group-justified">
                                            {% if order.hasProforma %}
                                                <a class="btn btn-default {{ order.proforma ? 'validated' }}"
                                                   href="{{ path('order_file',{id:order.id, type:'proforma'}) }}"
                                                   target="_blank"> <i class="fa fa-file-pdf-o"></i>
                                                    <br>
                                                    <small>Proforma</small>
                                                </a>
                                            {% else %}
                                                <i class="btn btn-default fa fa-file-excel-o">
                                                    <br>
                                                    <small>Proforma</small>
                                                </i>
                                            {% endif %}

                                            <a class="btn btn-default {{ order.deliveryAddress ? 'validated' }}"
                                               data-toggle="modal" data-target="#modal_shipping"
                                               data-url="{{ path('order_shipping', {id:order.id}) }}">
                                                <i class="fa fa-truck"></i> <br>
                                                <small>Frete</small>
                                            </a>

                                            {% if order.hasFilePayment %}
                                                <a class="btn btn-default {{ order.FilePayment ? 'validated' }}"
                                                   href="{{ path('order_file',{id:order.id, type:'filePayment'}) }}"
                                                   target="_blank"> <i class="fa fa-file-text"></i> <br>
                                                    <small>Comprovante</small>
                                                </a>
                                            {% else %}
                                                <i class="btn btn-default fa fa-file-excel-o">
                                                    <br>
                                                    <small>Comprovante</small>
                                                </i>
                                            {% endif %}

                                        </div>
                                    </td>
                                    <td>
                                        <a href="{{ path('order_show', {id: order.id}) }}" class="btn btn-default">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <div class="btn-group bt-xs">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        var modalShipping = $('#modal_shipping');
        modalShipping.on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var url = target.data('url');
            $.ajax({
                url: url,
                success: function (response) {
                    modalShipping.find('.modal-body').html(response);
                }
            });
        });

    </script>

{% endblock %}
