<style>
    #form_order_info textarea {
        resize: none;
        height: 125px;
    }
    .input-label, .input-label:focus {
        border-color: transparent;
        width: 100%;
    }
</style>

<script type="text/javascript" src="{{ asset('assets/fullcalendar/lib/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/daterangepicker/daterangepicker.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('assets/daterangepicker/daterangepicker.css') }}" />

<div class="row" id="block_form_info">

    {{ form_start(form,{attr:{action: app.request.uri, id:'form_order_info'}}) }}

    <div class="form-group col-md-6">
        <div class="col-md-3">
            {{ form_label(form.firstname, 'Cliente') }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.firstname, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.cnpj) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.cnpj, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.phone) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.phone, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.email) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.email, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.postcode) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.postcode, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.address) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.address, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-4">
            <strong>Nível de desconto</strong>:
        </div>
        <div class="col-md-8">
            {{ order.account.level|trans }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-3">
            {{ form_label(form.lastname, 'Nome') }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.lastname, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.ie, 'IE') }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.ie, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.contact) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.contact, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.state) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.state, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.city) }}:
        </div>
        <div class="col-md-9">
            {{ form_widget(form.city, {attr:{class:'input-label'}}) }}
        </div>

        <div class="col-md-5">
            <strong>Usuário Sices vinculado</strong>:
        </div>
        <div class="col-md-7">
            {{ order.agent }}
        </div>
    </div>

    <div class="hr-line-dashed col-md-12"></div>

    <div class="form-group col-md-12">
        <div class="col-md-6">
            {{ form_label(form.paymentMethod, 'Condição de Pagamento') }}
            {{ form_widget(form.paymentMethod, {attr:{class:'form-control', readonly: 'readonly'}}) }}
        </div>
    </div>

    <div class="hr-line-dashed col-md-12"></div>

    <div class="form-group col-md-12">

        <div class="col-md-9">
            {{ form_label(form.note, 'Observações a serem inseridas na pró-forma') }}
            {{ form_widget(form.note, {attr:{class:'form-control', readonly: 'readonly'}}) }}
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label for="delivery_at">Disp. para Coleta (data)</label>
                    <input class="form-control" id="delivery_at" type="text" readonly="readonly">
                </div>
                <div class="col-md-12" style="margin-top: 30px;">
                    {{ form_label(form.deliveryDelay, 'Disp. para Coleta (dias após pagamento)') }}
                    {{ form_widget(form.deliveryDelay, {attr:{class:'form-control', readonly: 'readonly'}}) }}
                </div>
                <div class="col-md-12" id="order_deadline_block" style="margin-top: 30px;">
                    {{ form_label(form.deadline, 'Prazo de Entrega (dias)') }}
                    {{ form_widget(form.deadline, {attr:{class:'form-control', readonly: 'readonly'}}) }}
                </div>
            </div>
        </div>

    </div>

    <div class="form-group col-md-12">
        <div class="col-md-9">&nbsp;</div>
        <div class="col-md-3">
            <a id="button_edit" class="btn btn-success btn-block">
                <i class="fa fa-edit"></i> Editar
            </a>
            <button id="button_account" type="submit" data-style="zoom-in"
                    class="btn btn-success btn-block ladda-button hide">
                <i class="fa fa-save"></i> Salvar
            </button>
        </div>
    </div>

    <div class="form-group hide">
        {{ form_rest(form) }}
    </div>

</div>

{{ form_end(form) }}

<script>

    var buttonAccount = $('#button_account');
    var buttonEdit = $('#button_edit');

    $(buttonEdit).on('click', function () {
        InfoManager.clickByPayment = true;
        InfoManager.changeEditable(true);
    });

    var InfoManager = {
        clickByPayment: false,
        accountSelector: $('#order_account'),
        shippingSelector: null,
        deadlineBlock: $('#order_deadline_block'),
        deliveryAt: $('#order_deliveryAt'),
        date_delivery: $('#date_range'),
        getAccount: function () {
            return this.accountSelector.val();
        },
        getShippingType: function(){
            return this.shippingSelector.val();
        },
        setDeliveryAt: function(deliveryAt){
            this.deliveryAt.val(deliveryAt);
        },
        fillAccount: function (data) {
            $.each(data, function (i, value) {
                $('#order_' + i).val(value);
            });
        },
        checkShippingOption: function(){
            if('self' != this.getShippingType()){
                this.deadlineBlock.show();
            }else{
                this.deadlineBlock.hide();
            }
        },
        init: function(){

            var checkShippingTypePresence = window.setInterval(function(){
                InfoManager.shippingSelector = $('#shipping_type');
                if(InfoManager.shippingSelector.length){
                    clearInterval(checkShippingTypePresence);
                    InfoManager.shippingSelector.on('change', function(){
                        InfoManager.checkShippingOption();
                    });
                    InfoManager.checkShippingOption();
                }
            }, 500);
        },
        changeEditable: function(editable) {

            if (editable) {
                $(buttonAccount).removeClass('hide');
                $(buttonEdit).addClass('hide');

                $('#order_note').removeAttr('readonly');
                $('#delivery_at').removeAttr('readonly disabled');
                $('#order_deliveryDelay').removeAttr('readonly disabled');
                $('#order_deadline').removeAttr('readonly disabled');
                $('#order_paymentMethod').removeAttr('readonly disabled');

                GeneratorHandler.enableValidate ++;
                GeneratorHandler.btnValidate.addClass('hide');
            } else {
                $(buttonAccount).addClass('hide');
                $(buttonEdit).removeClass('hide');

                $('#order_note').attr('readonly','readonly');
                $('#delivery_at').attr('readonly','readonly');
                $('#order_deliveryDelay').attr('readonly','readonly');
                $('#order_deadline').attr('readonly','readonly');
                $('#order_paymentMethod').attr('readonly','readonly');

                GeneratorHandler.enableValidate --;
                if (!GeneratorHandler.enableValidate)
                    GeneratorHandler.btnValidate.removeClass('hide');
            }
        }
    };

    InfoManager.init();

    $('#form_order_info').on('submit', function (event) {
        event.preventDefault();

        buttonAccount.ladda();
        buttonAccount.ladda('start');

        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            data: form.serialize(),
            complete: function (xhr) {
                if (200 != xhr.status) {
                    swal('Ooops', 'Falha ao executar a operação.', 'error');
                }

                buttonAccount.ladda('stop');
                if (InfoManager.clickByPayment) {
                    InfoManager.changeEditable(false);
                    InfoManager.clickByPayment = false;
                }

                $('#order_paymentMethod').attr('disabled', 'disabled');
                $('#delivery_at').attr('disabled', 'disabled');
                $('#order_deliveryDelay').attr('disabled', 'disabled');
                $('#order_deadline').attr('disabled','disabled');
            }
        });
    });

    $('#order_postcode').on('change', function () {
        var postcode = $(this).val();
        $.ajax({
            url: '{{ path('utils_postcode') }}',
            method: 'post',
            data: {postcode: postcode},
            complete: function (xhr) {
                if (200 == xhr.status) {
                    var response = xhr.responseJSON;
                    $('#order_state').val(response.uf);
                    $('#order_city').val(response.cidade);
                    $('#order_district').val(response.bairro);
                    $('#order_address').val(response.tipo_logradouro + ' ' + response.logradouro);
                }
            }
        });
    });

    var sourceDeliveryAt = $('#delivery_at');

    sourceDeliveryAt.daterangepicker({
        startDate: '{{ order.deliveryAt ? order.deliveryAt|date('d/m/Y') : 'now'|date_modify("+3 day")|date('d/m/Y') }}',
        singleDatePicker: true,
        minDate: moment(),
        locale: {
            format: 'DD/MM/YYYY',
            daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
            monthNames: [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ]
        }
    }).on('apply.daterangepicker', function(event, picker){
        InfoManager.setDeliveryAt(sourceDeliveryAt.val());
    });

    InfoManager.setDeliveryAt(sourceDeliveryAt.val());
</script>
