<link href="{{ asset('assets/iCheck/custom.css') }}" rel="stylesheet">
<link href="{{ asset('assets/iCheck/skins/all.css') }}" rel="stylesheet">
<div class="row">
    <div class="col-md-12">
        {% for additive in additives %}
            {% set hasAdditive = order.hasAdditive(additive) %}
            <div class="row">
                <div class="col-md-8 text-justify">{{ additive.description }}</div>
                <div class="col-md-2 text-center">
                    <h4><strong> {{ additive.name }} </strong></h4>
                        <input class="i-checks" type="checkbox"
                        data-url="{{ hasAdditive ? path('delete_order_additive', {orderAdditive: hasAdditive.id})
                        : path('create_order_additive', {order:order.id, additive:additive.id})}}" {{ hasAdditive ? 'checked="checked"' }} />
                </div>
                <div class="col-md-2 text-center">
                    <h4><strong> Valor do Seguro </strong></h4>
                    <h2> {{ hasAdditive ? hasAdditive.total|currency : 'R$ 0,00'}} </h2>
                </div>
            </div>
            <hr class="hr-line-dashed">
        {% endfor %}
    </div>
</div>
<script src="{{ asset('assets/iCheck/icheck.js') }}"></script>
<script>

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
    });

    $('.i-checks').on('ifChanged', function(){
        var url = $(this).data('url');
        $(this).attr('disabled', 'disabled');
        $.ajax({
            url: url,
            complete: function () {
                OrderManager.renderAdditives();
            }
        });
    });
</script>
