<link href="{{ asset('assets/iCheck/custom.css') }}" rel="stylesheet">
<link href="{{ asset('assets/iCheck/skins/all.css') }}" rel="stylesheet">

{% for additive in additives %}
    {% set hasAdditive = order.hasAdditive(additive) %}
    {% if additive.enabled or hasAdditive %}
    {% set insuranceEdit = additive.isRequiredByLevel(order.level) and not app.user.isPlatformAdmin and not app.user.isPlatformMaster %}


        <div class="row">
            <div class="col-md-8 text-justify">
                {{ hasAdditive ? hasAdditive.description : additive.description }}
            </div>
            <div class="col-md-2 text-center">
                <h4>
                    <strong>
                        {{ hasAdditive ? hasAdditive.name : additive.name }}
                    </strong>
                </h4>

                <input class="i-checks check-insurance" type="checkbox"
                       data-url="{{ hasAdditive ? path('delete_order_additive', {orderAdditive: hasAdditive.id})
                       : path('create_order_additive', {order:order.id, additive:additive.id})}}" {{ hasAdditive ? 'checked="checked"' }}
                        {{ insuranceEdit ? 'disabled="disabled"'}}/>
            </div>
            <div class="col-md-2 text-center">
                <h4><strong> Valor do Seguro </strong></h4>
                <h2> {{ hasAdditive ? hasAdditive.total|currency : 0|currency }} </h2>
            </div>
        </div>
        <hr class="hr-line-dashed">

    {% endif %}
{% endfor %}
<div class="row">
    <div class="form-group col-md-10">
        <h2>Total dos Seguros</h2>
    </div>

    <div class="form-group col-md-2 text-center">
        <h2> {{ order.insurance|currency }} </h2>
    </div>
</div>

<script src="{{ asset('assets/iCheck/icheck.js') }}"></script>
<script>
    $('.check-insurance').iCheck({
        checkboxClass: 'icheckbox_square-green'
    });

    $('.check-insurance').on('ifChanged', function(){
        var url = $(this).data('url');

        $(this).attr('disabled', 'disabled');

        $.ajax({
            url: url,
            complete: function (xhr) {
                var total = xhr.responseJSON['total'];
                OrderInsurances.loadInsurances();
                OrderManager.renderTotal(total);
                GeneratorHandler.getOrders();
                getAssociatedCoupon();
            }
        });
    });
</script>
