{% set rules = order.shippingRules %}

<table class="table table-bordered">
    <tbody>

    {% if 'self' == rules.type %}

        {% set company = rules.company %}
        {% if company is not null %}
            <tr>
                <th class="text-right"> Razão Social</th>
                <td> {{ company.name }} </td>
                <th class="text-right"> CNPJ</th>
                <td> {{ company.cnpj }} </td>
                <th class="text-right"> Incrição Estadual</th>
                <td> {{ company.ie }} </td>
            </tr>

            <tr>
                <th class="text-right"> Contato</th>
                <td> {{ company.contact }} </td>
                <th class="text-right"> Email</th>
                <td> {{ company.email }} </td>
                <th class="text-right"> Telefone</th>
                <td> {{ company.phone }} </td>
            </tr>

            <tr>
                <th class="text-right"> CEP</th>
                <td> {{ company.postcode }} </td>
                <th class="text-right"> Endereço</th>
                <td> {{ company.address }} </td>
                <th class="text-right"> Cidade-UF</th>
                <td> {{ company.city }}-{{ company.state }} </td>
            </tr>
        {% else %}
            <tr>
                <th class="text-left"> Dados da Transportadora não definidos</th>
            </tr>
        {% endif %}

    {% endif %}

    </tbody>
</table>

<table class="table table-bordered">
    <tr>
        {% if order.deliveryAddress %}
            <h3> <i class="fa fa-map-marker"></i> Endereço de Entrega </h3>
            <th> {{ order.deliveryAddress }} </th>
        {% else %}
            <h3> <i class="fa fa-map-marker"></i> Endereço de Entrega </h3>
            <th> Endereço de entrega não definido </th>
        {% endif %}
    </tr>
</table>
