{% extends view('layout') %}

{% block body %}
    <style>
        .collapse {
            display: none;
        }

        .color-rows {
            color: #676a6c;
        }

        .table-components {
            border: solid 1px #d3d3d3;
        }

        .row-total {
            display: block;
        }

        .spacing {
            margin-top: 8px;
        }

        .spacing-bottom {
            margin-bottom: 8px;
        }

        .minimize {
            background-color: #EEE;
        }

        .btn.btn-status {
            background-color: #f2f2f2;
            border: 1px solid #b2b2b2;
            color: #555;
        }

        .fa-circle.status-initiated {
            color: #a9ff9f;
        }

        .fa-circle.status-building {
            color: #898989;
        }

        .fa-circle.status-pending {
            color: #ff7701;
        }

        .fa-circle.status-validated {
            color: #0a6aa1;
        }

        .fa-circle.status-approved {
            color: #00a157;
        }

        .fa-circle.status-rejected {
            color: #ffcd70;
        }

        .fa-circle.status-done {
            color: #777;
        }

        .fa-circle.status-inserted {
            color: #1aa10f;
        }

        .fa-circle.status-available {
            color: #faa;
        }

        .fa-circle.status-collected {
            color: #43ecec;
        }

        .fa-circle.status-billed {
            color: #aa7a1b;
        }

        .fa-circle.status-delivering {
            color: #941eaa;
        }

        .fa-circle.status-delivered {
            color: #aa1111;
        }

        .btn-green, .btn-green:hover, .btn-green:focus {
            background-color: #dff0d8;
            color: #3c763d;
            border-color: #a7e1a1;
        }

        .btn-orange, .btn-orange:hover, .btn-orange:focus {
            background-color: #fab966;
            color: #222;
            border-color: #FFA54E;
        }
    </style>

    <script type="text/javascript" src="{{ asset('assets/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/fullcalendar/lib/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/daterangepicker/daterangepicker.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/daterangepicker/daterangepicker.css') }}"/>

    {% set orders = order.childrens %}
    {% set isPlatform = app.user.isPlatform %}

    <div class="modal inmodal fade" id="master_cloner_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInLeft">
                <div class="modal-body" id="cloner_master_order"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="master_close" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="download_files" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInLeft">
                <div class="modal-body">
                    <h3 class="text-center">Arquivos NFe</h3>
                    {% if files %}
                        {% for file in files %}
                            {% set _route = path('order_file',{id:order.id, type:'nfe'}) %}
                            <h5>
                                <a href="{{ path('order_file', {id:order.id, type:'nfe', file:file.file}) }}">
                                    {{ file.name }}
                                </a>
                            </h5>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="components_out_of_stock" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInLeft">
                <div>
                    <h4 class="text-center">Infelizmente os itens listados abaixo estão momentaneamente indisponíveis.</h4>
                    <h4 class="text-center">Favor, consulte seu atendente SICES para saber as datas de disponibilidades.</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-md-8">
                {% if expired %}
                    {% if not (order.isDone or order.isApproved or order.isRejected)
                        and (order.isBuilding or (order.isPending and member.isPlatformUser) or (order.isValidated and not member.isPlatformUser)) %}
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="alert alert-info text-center">
                                    <h2>
                                        <i class="fa fa-info-circle"></i>
                                        <strong style="text-transform: uppercase"> Expirado </strong>
                                        <br>
                                        Este orçamento não pode ser mais editado pois foi baseado em uma
                                        tabela de preço vencida. Favor gerar novo orçamento
                                    </h2>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if not member.isPlatformUser and order.validated and not expired %}
                    <div class="alert alert-danger">
                        <i class="fa fa-warning"></i>
                        Ao editar este orçamento será necessário uma revalidação pela equipe da Sices.
                    </div>
                    <div class="alert alert-success">
                        <i class="fa fa-info-circle"></i>
                        Ao aprovar este orçamento você receberá a proforma e seu pedido de compra será processado.
                    </div>
                {% endif %}

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="row wrapper">
                                        <div class="col-md-12 border-bottom">
                                            <div class="btn-group spacing-bottom">

                                                <span class="btn btn-sm btn-status">
                                                    <i class="fa fa-circle status-{{ order.statusName }}"></i> {{ order.statusName|capitalize|trans }}
                                                </span>

                                                {% if order.isInserted and member.isPlatformLogistic %}
                                                    {% if order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_RESERVED') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                           data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') }}">
                                                            <i class="fa fa-archive"></i> Aguardando Material
                                                        </a>

                                                        {% if order.subStatus != constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') %}
                                                            <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                               data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                               data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_PAYMENT') }}">
                                                                <i class="fa fa-archive"></i> Produção Concluída
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_PRODUCTION') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                               data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_AVAILABLE') }}">
                                                            <i class="fa fa-archive"></i> Produção Concluída
                                                        </a>
                                                        {% if order.subStatus != constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') %}
                                                            <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                               data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                               data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') }}">
                                                                <i class="fa fa-archive"></i> Aguardando Material
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if order.previousSubStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_RESERVED') and order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                           data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_PAYMENT') }}">
                                                            <i class="fa fa-archive"></i> Produção Concluída
                                                        </a>
                                                    {% endif %}

                                                    {% if order.previousSubStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_PRODUCTION') and order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_AVAILABLE') }}">
                                                            <i class="fa fa-archive"></i> Produção Concluída
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if order.isAvailable and member.isPlatformLogistic %}
                                                    <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_COLLECTED') }}">
                                                        <i class="fa fa-check"></i> Coletado pelo cliente
                                                    </a>
                                                {% endif %}

                                                {% if order.isDone and member.isPlatformAfterSales %}
                                                    {% if order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_DONE_RESERVED') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                           data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_RESERVED') }}">
                                                            <i class="fa fa-check"></i> Produção de Reserva
                                                        </a>
                                                    {% endif %}
                                                    {% if order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_DONE_CONFIRMED') %}
                                                        <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') }}"
                                                           data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_PRODUCTION') }}">
                                                            <i class="fa fa-check"></i> Em Produção
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if order.isInserted and member.isPlatformAfterSales and order.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_PAYMENT') %}
                                                    <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_AVAILABLE') }}">
                                                        <i class="fa fa-archive"></i> Coleta Disponível
                                                    </a>
                                                {% endif %}

                                                {# Todo: Funcionalidade retirada temporiamente, será re-utilizada em novas regras #}
                                                {#{% if order.isCollected and member.isPlatformAfterSales %}#}
                                                {#<a class="btn btn-sm btn-green" data-id="{{ order.id }}"#}
                                                {#data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_DELIVERED') }}">#}
                                                {#<i class="fa fa-check"></i> Entregue#}
                                                {#</a>#}
                                                {#{% endif %}#}

                                                {% if not member.isPlatformExpanse %}
                                                    {% if order.isBuilding or (order.isRejected and (member.isPlatformMaster or member.isPlatformAdmin)) %}
                                                        <a class="btn btn-sm btn-danger"
                                                           data-delete="{{ path('order_delete', {id:order.id}) }}">
                                                            <i class="fa fa-close"></i> Excluir
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if not member.isPlatformUser and order.isValidated and not expired %}
                                                    <a id="generate_proform" class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') }}">
                                                        <i class="fa fa-thumbs-o-up"></i> Aprovar e gerar pró-forma
                                                    </a>
                                                {% endif %}

                                                {% if not member.isPlatformExpanse %}
                                                    {% if (not member.isPlatformUser and order.isValidated)
                                                        or (member.isPlatformUser and (order.isValidated or order.isPending or order.isApproved))
                                                        or (member.isPlatformMaster and not order.isBuilding and not order.isRejected) %}
                                                        <a class="btn btn-sm btn-orange" data-id="{{ order.id }}"
                                                           data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_REJECTED') }}">
                                                            <i class="fa fa-thumbs-o-down"></i> Cancelar este orçamento
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if member.isPlatformUser and order.isValidated %}
                                                    <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_PENDING') }}">
                                                        <i class="fa fa-arrow-left"></i> Remover Validação
                                                    </a>
                                                {% endif %}

                                                {% if (member.isPlatformFinancial or member.isPlatformFinancing) and order.isApproved %}
                                                    <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_DONE') }}"
                                                       data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_DONE_RESERVED') }}">
                                                        <i class="fa fa-check-square-o"></i> Reservado
                                                    </a>
                                                {% endif %}

                                                {% if member.isPlatformFinancial and order.isApproved %}
                                                    <a class="btn btn-sm btn-green" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_DONE') }}"
                                                       data-substatus="{{ constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_DONE_CONFIRMED') }}">
                                                        <i class="fa fa-check-square-o"></i> Confirmado
                                                    </a>
                                                {% endif %}

                                                {% if (member.isPlatformFinancial or member.isPlatformFinancing) and order.isDone %}
                                                    <a class="btn btn-sm btn-orange" data-id="{{ order.id }}"
                                                       data-status="{{ constant('AppBundle\\Entity\\Order\\Order::STATUS_APPROVED') }}">
                                                        <i class="fa fa-stop"></i> Cancelar Confirmação
                                                    </a>
                                                {% endif %}
                                            </div>

                                            <div class="pull-right btn-group">
                                                {% if app.user.platformMaster or app.user.platformAdmin %}
                                                    <a data-target="#master_cloner_modal"
                                                       data-href="{{ path('show_order_cloner', {id:order.id}) }}"
                                                       data-toggle="modal"
                                                       class="btn btn-sm btn-warning">
                                                        <i class="fa fa-recycle"></i> Clonar Orçamento
                                                    </a>
                                                {% endif %}
                                                {% if not expired %}
                                                    {% if not (order.isDone or order.isApproved or order.isRejected)
                                                        and (order.isBuilding or (order.isPending and member.isPlatformUser) or (order.isValidated and not member.isPlatformUser)) %}
                                                        <a class="btn btn-sm btn-success pull-right"
                                                           href="{{ path('project_generator', {order:order.id}) }}">
                                                            <i class="fa fa-pencil"></i> Editar Orçamento
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-12 {% if order.billingDirect %}border-bottom{% endif %}">
                                            <h2>
                                                Orçamento {{ order.reference }}
                                                {% if order.fileExtract and
                                                    (member.isPlatformAdmin or member.isPlatformMaster or member.isPlatformAfterSales) %}
                                                    <a class="pull-right" target="_blank"
                                                       href="{{ path('order_file',{id:order.id, type:'fileExtract'}) }}">
                                                        <i class="fa fa-download"></i> CSV
                                                    </a>
                                                {% endif %}
                                            </h2>
                                            {#TODO: Está funcionalidade já está ok, esta apenas aguardando outras propriedades#}
                                            {#<h2>
                                                Frase do Orçamento:
                                                {% if member.isPlatformAdmin or member.isPlatformMaster or member.isPlatformCommercial %}
                                                    <div class="btn-group">
                                                        <input class="form-control" id="expire_at" type="text">
                                                    </div>
                                                {% else %}
                                                    {{ order.expireAt|date('d/m/Y') }}
                                                {% endif %}
                                            </h2>#}
                                        </div>
                                        {% if order.billingDirect %}
                                            <div class="col-lg-12 border-bottom">
                                                <ol class="breadcrumb">
                                                    <li>
                                                        <label>Dados de faturamento</label>
                                                    </li>
                                                </ol>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if order.billingDirect %}
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Cliente</label>
                                                {{ order.billingFirstname }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Razão Social</label>
                                                {{ order.billingLastname }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">CNPJ</label>
                                                {{ order.billingCnpj }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Inscrição Estadual</label>
                                                {{ order.billingIe }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Contato</label>
                                                {{ order.billingContact }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Email</label>
                                                {{ order.billingEmail }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Telefone</label>
                                                {{ order.billingPhone }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Cep</label>
                                                {{ order.billingPostcode }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Estado</label>
                                                {{ order.billingState }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Cidade</label>
                                                {{ order.billingCity }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Bairro</label>
                                                {{ order.billingDistrict }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Rua</label>
                                                {{ order.billingStreet }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="row wrapper">
                                <ol class="breadcrumb">
                                    <div class="col-md-10">
                                        <label>Dados Fiscais</label>
                                    </div>
                                    <div class="col-md-2">
                                        {% if files %}
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    data-toggle="modal" data-target="#download_files">
                                                <i class="fa fa-download"></i> Baixar NFe
                                            </button>
                                        {% endif %}
                                    </div>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            {% if member.isPlatformMaster %}
                                <div class="col-md-12">
                                    <label style="padding-right: 4px;">
                                        Nº da Nota fiscal:
                                    </label>
                                    <input id="invoice-number" value="{{ order.invoices|join(',') }}"
                                           type="text">
                                    <label style="padding-right: 4px; padding-left: 8px;">
                                        Data de Faturamento:
                                    </label>
                                    <input id="up_billed_at" type="text">
                                </div>
                            {% endif %}
                            {% if not member.isPlatformMaster %}
                                <div class="col-md-6" style="padding-bottom: 10px;">
                                    <label style="padding-right: 10px;">
                                        Nº da Nota Fiscal:
                                    </label>
                                    {{ order.invoices|join(',') }}
                                </div>
                                <div class="col-md-6" style="padding-bottom: 10px;">
                                    <label style="padding-left: 10px;">
                                        Data de Faturamento:
                                    </label>
                                    {{ order.billedAt ? order.billedAt|date('d/m/Y') : '' }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="row wrapper">
                                        <div class="col-lg-12 border-bottom">
                                            <ol class="breadcrumb">
                                                <div class="col-md-12">
                                                    <label>Dados do integrador</label>
                                                </div>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Cliente</label>
                                            {{ order.firstname }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Nome</label>
                                            {{ order.lastname }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">CNPJ</label>
                                            {{ order.cnpj }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Inscrição Estadual</label>
                                            {{ order.ie }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Contato</label>
                                            {{ order.contact }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Email</label>
                                            {{ order.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Telefone</label>
                                            {{ order.phone }}
                                        </div>
                                        <div class="col-md-2 spacing">
                                            <label class="row-total">Cep</label>
                                            {{ order.postcode }}
                                        </div>
                                        <div class="col-md-2 spacing">
                                            <label class="row-total">Estado</label>
                                            {{ order.state }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Cidade</label>
                                            {{ order.city }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Endereço</label>
                                            {{ order.address }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Usuário Sices vinculado</label>
                                            {{ order.agent }}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            {% set notLevel = 'Sem Nivel' %}
                                            <label class="row-total">Nível de desconto</label>
                                            {{ order.account ? order.account.level|trans : notLevel }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="row wrapper">
                                        <div class="col-lg-12 border-bottom">
                                            <ol class="breadcrumb">
                                                <li>
                                                    <label>Pagamento e Entrega</label>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Condição de pagamento</label>
                                            {% if order.paymentMethod('array') %}
                                                {% for payment in order.paymentMethod('array').quotas %}
                                                    &#{{ loop.index + 96 }}; ) {{ payment.description }} {{ payment.percent }}%
                                                    {% if payment.display_payment_date is defined
                                                        and payment.display_payment_date == 'true' and order.isApproved %}
                                                        - {{ payment.date|date('d/m/Y') }}
                                                    {% endif %}<br>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Disponibilidade para coleta (data)</label>
                                            {% if member.PlatformAfterSales %}
                                                <input class="form-control" id="delivery_at_order" type="text">
                                            {% else %}
                                                {% if order.deliveryAt %}{{ order.deliveryAt.date|date('d/m/Y') }}{% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Disponibilidade para coleta (dias após
                                                pagamento)</label>
                                            {% if order.deliveryDelay %} {{ order.deliveryDelay }} dia(s) após a identificação do pagamento.{% endif %}
                                            <br/>
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Prazo de entrega</label>
                                            {% if order.deadline %}
                                                {{ order.deadline }} DIAS
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Validade da proposta (dias)</label>
                                            {% if order.expireDays %} {{ order.expireDays }} {% endif %}
                                        </div>
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Observações</label>
                                            {{ order.note }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if order.shippingrules and order.shippingrules['type'] == 'self' and order.shippingRules.company is not null %}

                    <div class="ibox border-bottom">
                        <div class="ibox-content">
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="row">
                                        <div class="row wrapper">
                                            <div class="col-lg-12 border-bottom">
                                                <ol class="breadcrumb">
                                                    <li>
                                                        <label>Dados da transportadora</label>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Razão Social</label>
                                                {{ order.shippingrules['company']['name'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">CNPJ</label>
                                                {{ order.shippingrules['company']['cnpj'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Inscrição Estadual</label>
                                                {{ order.shippingrules['company']['ie'] }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Contato</label>
                                                {{ order.shippingrules['company']['contact'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Email</label>
                                                {{ order.shippingrules['company']['email'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Telefone</label>
                                                {{ order.shippingrules['company']['phone'] }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3 spacing">
                                                <label class="row-total">Cep</label>
                                                {{ order.shippingrules['company']['postcode'] }}
                                            </div>
                                            <div class="col-md-1 spacing">
                                                <label class="row-total">Estado</label>
                                                {{ order.shippingrules['company']['state'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Cidade</label>
                                                {{ order.shippingrules['company']['city'] }}
                                            </div>
                                            <div class="col-md-4 spacing">
                                                <label class="row-total">Endereço</label>
                                                {{ order.shippingrules['company']['address'] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="row wrapper">
                                        <div class="col-lg-12 border-bottom">
                                            <ol class="breadcrumb">
                                                <li>
                                                    <label>Endereço de Entrega</label>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">CEP</label>
                                            {{ order.deliveryPostcode }}
                                        </div>
                                        <div class="col-md-2 spacing">
                                            <label class="row-total">Estado</label>
                                            {{ order.deliveryState }}
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <label class="row-total">Cidade</label>
                                            {{ order.deliveryCity }}
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <label class="row-total">Bairro</label>
                                            {{ order.deliveryDistrict }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-4 spacing">
                                            <label class="row-total">Logradouro</label>
                                            {{ order.deliveryStreet }}
                                        </div>
                                        <div class="col-md-2 spacing">
                                            <label class="row-total">Número</label>
                                            {{ order.deliveryNumber }}
                                        </div>
                                        <div class="col-md-6 spacing">
                                            <label class="row-total">Complementos</label>
                                            {{ order.deliveryComplement }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# TODO: Tirar classes hidden quando ocorrer o lançamento do cupom#}
                <div id="coupon_form" class="hidden"></div>

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-3"> Descrição</th>
                                        <th class="col-md-2 text-center"> Data</th>
                                        <th class="col-md-2 text-center"> Qtde Itens</th>
                                        <th class="col-md-3"><span class="pull-right">Valor dos equipamentos</span></th>
                                        <th class="col-md-2"><span class="pull-right">Valor do seguro</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders if not order.budget %}
                                        <tr>
                                            <td colspan="5">
                                                <div>
                                                    <h4>
                                                        <a data-toggle="collapse" href="#{{ order.id }}">
                                                            <span class="col-md-3 color-rows"> {{ order.description }} </span>
                                                            <span class="col-md-2 color-rows text-center"> {{ order.createdAt|date('d/m/Y') }} </span>
                                                            <span class="col-md-2 color-rows text-center"> {{ order.elements.count }}
                                                                Itens</span>
                                                            <span class="col-md-3 color-rows">
                                                                <span class="pull-right">{{ order.subTotal|currency }}</span>
                                                            </span>
                                                            <span class="col-md-2 color-rows">
                                                                <span class="pull-right">{{ order.insurance|currency }}</span>
                                                            </span>
                                                        </a>
                                                    </h4>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="padding: 0;">
                                                <div id="{{ order.id }}" class="collapse">
                                                    <div>
                                                        <table class="table table-striped table-components">
                                                            <thead>
                                                            <tr>
                                                                <td><b>ITEM</b></td>
                                                                <td><b>CÓDIGO</b></td>
                                                                <td><b>PRODUTO</b></td>
                                                                <td class="col-md-1 text-center"><b>QTD</b></td>
                                                                {% if (not order.isPromotional and not order.isFiname) or isPlatform %}
                                                                    <td class="col-md-2 text-center"><b>VALOR UNIT</b>
                                                                    </td>
                                                                    <td class="col-md-2 text-center"><b>VALOR TOTAL</b>
                                                                    </td>
                                                                {% endif %}
                                                                {% if order.parent.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL') and
                                                                    order.parent.status == constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') %}
                                                                    <td class="col-md-2 text-center"><b>AGUARDANDO MATERIAL</b></td>
                                                                {% endif %}
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for element in order.elements %}
                                                                <tr>
                                                                    <td class="text-center"><b>{{ loop.index }}</b></td>
                                                                    <td>{{ element.code }}</td>
                                                                    <td>{{ element.description }}</td>
                                                                    <td class="text-center">{{ element.quantity }}</td>
                                                                    {% if (not order.isPromotional and not order.isFiname) or isPlatform %}
                                                                        <td class="text-center">{{ element.unitPrice|currency }}</td>
                                                                        <td class="text-center">{{ element.total|currency }}</td>
                                                                    {% endif %}
                                                                    {% if order.parent.subStatus == constant('AppBundle\\Entity\\Order\\Order::SUBSTATUS_INSERTED_WAITING_MATERIAL')
                                                                        and order.parent.status == constant('AppBundle\\Entity\\Order\\Order::STATUS_INSERTED') %}

                                                                        {% if member.isPlatformLogistic %}
                                                                            <td class="col-md-2 text-center">
                                                                                {% if element.metadata.waiting_material is defined and element.metadata.waiting_material %}
                                                                                    <input data-metadata="{{ path('element_metadata', {id:element.id}) }}" type="checkbox" checked>
                                                                                {% else %}
                                                                                    <input data-metadata="{{ path('element_metadata', {id:element.id}) }}" type="checkbox">
                                                                                {% endif %}
                                                                            </td>
                                                                        {% else %}
                                                                            <td class="col-md-2 text-center">
                                                                                {% if element.metadata.waiting_material is defined and element.metadata.waiting_material %}
                                                                                    <i class="fa fa-check-circle"></i>
                                                                                {% endif %}
                                                                            </td>
                                                                        {% endif %}

                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        {% if order.hasInsurance %}
                                                            <table class="table table-striped table-components">
                                                                <thead>
                                                                <tr>
                                                                    <th>Seguros</th>
                                                                    <th></th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for additive in order.orderAdditives %}
                                                                    <tr>
                                                                        <td class="col-md-1"> {{ loop.index }} </td>
                                                                        <td class="col-md-9"> {{ additive.name }} </td>
                                                                        <td class="col-md-2"> {{ additive.total|currency }} </td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                                <tfoot>
                                                                <tr>
                                                                    <th></th>
                                                                    <th class="text-right">Valor Total:</th>
                                                                    <th>{{ order.insurance|currency }}</th>
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                        {% endif %}
                                                        <a data-toggle="collapse" href="#{{ order.id }}"
                                                           class="color-rows">
                                                            <div class="col-md-12 text-center minimize">
                                                                <i class="fa fa-chevron-up"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="6" class="col-md-10 text-right">
                                            Frete:
                                            {% if order.shippingrules and order.shippingrules.type == "sices" %}
                                                {{ order.shipping|currency }}
                                            {% elseif order.shippingrules and order.shippingrules.type == "self" %}
                                                Não Incluso
                                            {% else %}
                                                INCLUSO (Exceto para AM, AC, RO, RR, AP e Ilhas da Federação)
                                            {% endif %}
                                        </th>
                                    </tr>
                                    {% if order.total != order.totalExcDiscount and order.discount > 0 %}
                                        <tr>
                                            <th colspan="6" class="text-right">
                                                Total sem desconto: {{ order.totalExcDiscount|currency }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="6" class="text-right">
                                                Desconto comercial: -{{ order.discount|currency }}
                                            </th>
                                        </tr>
                                    {% endif %}

                                    <tr id="coupon-discount"></tr>

                                    <tr>
                                        <th colspan="6" class="text-right" id="order-total"> Total: {{ order.total|currency }} </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox border-bottom">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="row wrapper">
                                        <div class="col-lg-12 border-bottom">
                                            <ol class="breadcrumb">
                                                <li>
                                                    <label>Mensagens</label>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-md-12 spacing">
                                        {% include view('orders/messages/index.html.twig') %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox border-bottom">
                    <div class="ibox-content inspinia-timeline">
                        {% for item in timeline %}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-md-3 date">
                                        <i class="fa fa-circle status-{{ item.attributes.statusLabel }}"></i>
                                        {{ item.createdAt|date('d/m/Y') }}
                                        <br>
                                        <small class="text-navy">{{ item.createdAt|date('H:i') }}</small>
                                    </div>
                                    <div class="col-md-7 content no-top-border">
                                        <p class="m-b-xs"><strong>{{ item.attributes.statusLabel|trans }}</strong></p>

                                        <p>{{ item.message }}</p>

                                        {% if item.attributes.subStatusLabel is defined and item.attributes.subStatusLabel and isPlatform %}
                                            <p>Substatus: {{ item.attributes.subStatusLabel }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}
    {% include view('order.status_handler') %}

    <script>

        var FormCoupon = $('#coupon_form');

        function getAssociatedCoupon() {
            $.ajax({
                url: "{{ path('coupon_create', {id:order.id, isShow: '1'}) }}",
                success: function (response) {
                    FormCoupon.html(response);
                }
            });
        }

        getAssociatedCoupon();

        $('[data-metadata]').on('change', function () {

            var url = $(this).data('metadata');

            var checked = $(this).is(":checked") ? true : "";

            $.ajax({
                url: url,
                method: 'post',
                data: {
                    waiting_material: checked
                },
                complete: function (xhr) {
                    if (200 == xhr.status) {
                        toastr.success('Elemento atualizado com sucesso!', '', {
                            positionClass: 'toast-top-center',
                            progressBar: true,
                            preventDuplicates: true
                        });
                    }
                    else {
                        toastr.error('Falha na atualização do elemento!', '', {
                            positionClass: 'toast-top-center',
                            progressBar: true,
                            preventDuplicates: true
                        });
                    }
                }
            })
        });

        $('[data-delete]').on('click', function () {

            var url = $(this).data('delete');

            swal({
                title: 'Confirma a exclusão?',
                text: 'Todos os dados da mesma serão perdidos.',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: '{{ 'Confirmar'|trans }}',
                cancelButtonText: '{{ 'Cancelar'|trans }}',
                closeOnConfirm: false
            }, function () {

                $.ajax({
                    url: url,
                    method: 'post',
                    data: {_method: 'delete'},
                    complete: function (xhr) {

                        if (200 == xhr.status) {

                            swal({
                                title: "Concluído",
                                text: "Exclusão realizada com sucesso.",
                                type: "success",
                                showConfirmButton: false
                            });

                            window.setTimeout(function () {
                                swal.close();
                                window.location.href = '{{ path( app.user.isPlatform ? 'orders' : 'index_order') }}';
                            }, 1500);

                        } else {
                            var response = xhr.responseJSON;
                            swal('Ooops', response.hasOwnProperty('error') ? response.error : 'Falha ao executar a operação', 'error');
                        }
                    },
                    beforeSend: function () {
                        swal({
                            title: 'Excluindo...',
                            text: 'Aguarde',
                            type: 'info',
                            showConfirmButton: false
                        });
                    }
                });
            });
        });

        $('#invoice-number').on('change', function () {
            $.ajax({
                url: '{{ path('invoice_number', {id:order.id}) }}',
                method: 'post',
                data: {invoice_number: $('#invoice-number').val()}
            });
        });

        var delivery_at_order = $('#delivery_at_order');

        delivery_at_order.daterangepicker({
            startDate: '{{ order.deliveryAt ? order.deliveryAt|date('d/m/Y') : order.createdAt|date('d/m/Y') }}',
            singleDatePicker: true,
            minDate: '{{ order.createdAt|date('d/m/Y') }}',
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ]
            }
        }).on('change', function () {
            var date_at = $(this).val();
            $.ajax({
                url: '{{ path('delivery_at_order', {id:order.id}) }}',
                method: 'post',
                data: {delivery: date_at},
                complete: function (xhr) {
                    $('#delivery_at_order').html(xhr['deliveryAt']);
                }
            });
        });

        {% if not order.deliveryAt %}
            delivery_at_order.val(' ');
        {% else %}
            delivery_at_order.val('{{ order.deliveryAt|date('d/m/Y') }}');
        {% endif %}

        $('#master_cloner_modal').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var url = target.data('href');
            $.ajax({
                url: url,
                data: {source: 'master'},
                complete: function (xhr) {
                    $('#cloner_master_order').html(xhr.responseText);
                }
            });
        });

        var sourceBilledAt = $('#up_billed_at');

        sourceBilledAt.daterangepicker({
            startDate: {{ order.billedAt ? order.billedAt|date('d/m/Y') : ('now')|date('d/m/Y') }},
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY',
                daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
                monthNames: [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ]
            }
        }).on('change', function () {
            var billed_at = $(this).val();
            $.ajax({
                url: '{{ path('billed_at', {id:order.id}) }}',
                method: 'post',
                data: {billed_at: billed_at},
                complete: function (xhr) {
                    $('#up_billed_at').html(xhr['billedAt']);
                }
            });
        });

        {% if not order.billedAt %}
            sourceBilledAt.val(' ');
        {% else %}
            sourceBilledAt.val('{{ order.billedAt|date('d/m/Y') }}');
        {% endif %}

        {#TODO: Está funcionalidade já está ok, esta apenas aguardando outras propriedades#}
        {#var sourceExpireAt = $('#expire_at');#}

        {#sourceExpireAt.daterangepicker({#}
        {#startDate: '{{ order.expireAt ? order.expireAt|date('d/m/Y') : 'now' }}',#}
        {#singleDatePicker: true,#}
        {#minDate: '{{ order.expireAt ? order.expireAt|date('d/m/Y') : 'now' }}',#}
        {#locale: {#}
        {#format: 'DD/MM/YYYY',#}
        {#daysOfWeek: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],#}
        {#monthNames: [#}
        {#"Janeiro",#}
        {#"Fevereiro",#}
        {#"Março",#}
        {#"Abril",#}
        {#"Maio",#}
        {#"Junho",#}
        {#"Julho",#}
        {#"Agosto",#}
        {#"Setembro",#}
        {#"Outubro",#}
        {#"Novembro",#}
        {#"Dezembro"#}
        {#]#}
        {#}#}
        {#}).on('change', function(event, picker){#}
        {#var date_at = $(this).val();#}
        {#$.ajax({#}
        {#url:'{{ path('expire_at_order', {id:order.id}) }}',#}
        {#method: 'post',#}
        {#data: {expire: date_at},#}
        {#complete: function (xhr) {#}
        {#$('#expire_at').html(xhr['expireAt']);#}
        {#}#}
        {#});#}
        {#});#}


        {#{% if not order.expireyAt %}#}
        {#sourceExpireAt.val(' ');#}
        {#{% else %}#}
        {#sourceExpireAt.val('{{ order.expireAt|date('d/m/Y') }}');#}
        {#{% endif %}#}

    </script>

{% endblock %}
