<div class="panel panel-default">
    <div class="panel-heading">
        Tags Disponíveis para Uso
    </div>
    <div class="panel-body">
        {% for tag in tags %}
            <a href="#"
               class="btn order-tag-add"
               data-url="{{ path('add_order_tag', {id: order.id, tag: tag.id}) }}">
                <span class="label label-default" style="background-color: {{ tag.tag_color }}" title="{{ tag.name }}">
                    <font color="{{ tag.text_color }}">
                        {{ tag.initials }}
                    </font>
                </span>
            </a>
            <a href="#"
               class="btn role-tag-remove"
               data-url="{{ path('delete_orders_tag', {id: tag.id}) }}">
            <i class="fa fa-times">
            </i>
            </a>
        {% endfor %}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Tags Aplicadas ao Orçamento
    </div>
    <div class="panel-body">
        {% for tag in orderTags %}
            <a href="#" class="btn">
                <span class="label label-default" style="background-color: {{ tag.tag_color }}" title="{{ tag.name }}">
                    <font color="{{ tag.text_color }}">
                        {{ tag.initials }}
                    </font>
                </span>
            </a>
            <a href="#"
               class="btn order-tag-remove"
               data-url="{{ path('remove_order_tag', {id: order.id, tag: tag.id}) }}">
            <i class="fa fa-times">
            </i>
            </a>
        {% endfor %}
    </div>
</div>

<script>

    function roleTagDeleteConfirm(url) {
        swal({
            title: 'Confirma a exclusão?',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: '{{ 'Confirmar'|trans }}',
            cancelButtonText: '{{ 'Cancelar'|trans }}',
            closeOnConfirm: false
        }, function () {

            $.ajax({
                url: url,
                method: 'delete',
                complete: function (xhr) {
                    getTags();

                    if (200 == xhr.status) {
                        swal({
                            title: "Concluído",
                            text: "Exclusão realizada com sucesso.",
                            type: "success",
                            showConfirmButton: false
                        });

                        window.setTimeout(function () {
                            swal.close();
                        }, 1500);
                    } else {
                        var response = xhr.responseJSON;
                        swal('Ooops', response.hasOwnProperty('error') ? response.error : 'Falha ao executar a operação', 'error');
                    }
                },
                beforeSend: function () {
                    swal({
                        title: 'Excluindo...',
                        text: 'Aguarde',
                        type: 'info',
                        showConfirmButton: true
                    });
                }
            });
        });
    }

    $('.order-tag-add').on('click', function () {
        var url = $(this).data('url');

        $.ajax({
            url: url,
            method: 'post',
            success: function (response) {
                getTags();
            }
        })
    });

    $('.role-tag-remove').on('click', function () {
        var url = $(this).data('url');
        roleTagDeleteConfirm(url);
    });

    $('.order-tag-remove').on('click', function () {
        var url = $(this).data('url');

        $.ajax({
            url: url,
            method: 'delete',
            success: function (response) {
                getTags();
            }
        })
    });

</script>
