<div class="row">
    <form id="form_upgrade" action="{{ path('signature_upgrade') }}" method="post">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th> Plano Atual</th>
                <th> Novo Plano</th>
            </tr>
            <tr>
                <td> {{ plan.name }} </td>
                <td> {{ plan.name }} </td>
            </tr>
            <tr>
                <td> Usuários: {{ users.old }} </td>
                <td> Usuários: {{ users.new }} </td>
            </tr>
            <tr>
                <td> Preço: {{ total.old|currency }} </td>
                <td> Preço: {{ total.new|currency }} </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="alert alert-info text-justify">
                        Como você não utilizou seu plano atual até o final do período, será cobrado um valor proporcional de
                        <strong> {{ invoice|currency }} </strong>
                        após confirmação.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12 btn-group btn-group-justified">
                <a id="cancel_upgrade" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> Cancelar
                </a>
                <a id="btn_upgrade" class="btn btn-primary">
                    <i class="fa fa-check"></i> Confirmar Atualização
                </a>
            </div>
        </div>
    </form>
</div>

<script>
    $('#btn_upgrade').on('click', function(){
        Http.request({
            url:'{{ path('signature_upgrade') }}',
            method: 'post',
            data: {confirm:true, quantity: '{{ quantity }}'},
            callback: function(xhr){

                if(200 == xhr.status){
                    swal({
                        title: 'Sucesso',
                        text: 'Upgrade efetuado com sucesso!',
                        type: 'success',
                        html: true,
                        showConfirmButton: false
                    });
                    window.setTimeout(function () {
                        window.location.href = '{{ path('signature') }}';
                    }, 1500);

                }else{

                    swal({
                        title: 'Verifique o erro',
                        text: xhr.responseJSON.message,
                        type: 'error',
                        html: true
                    });
                }
            },
            onRequest: function(){
                swal({
                    title: 'Aguarde',
                    text: 'Efetuando upgrade',
                    type: 'info',
                    showConfirmButton: false
                });
            }
        })
    });

    $('#cancel_upgrade').on('click', function(){
        $('#modal_upgrade').modal('hide');
    });
</script>