{% set bills = pagination.items %}

<table class="table table-stripped table-hover">
    <thead>
    <tr>
        <th> Período</th>
        <th> Valor</th>
        <th> Status</th>
        <th> Plano</th>
        <th> Número da Fatura</th>
    </tr>
    </thead>
    <tbody>

    {% for bill in bills %}
        <tr>
            <td>
                {% if bill.period %}
                    {{ bill.period.start_at|date('d/m/Y') }} &mdash; {{ bill.period.end_at|date('d/m/Y') }}
                {% endif %}
            </td>
            <td> {{ bill.amount|currency }} </td>
            <td>

                {% set badge_class = 'paid' == bill.status ? 'primary' : ( 'pending' == bill.status ? 'warning' : 'default') %}

                {% if 'pending' != bill.status %}
                    {#<span class="label label-block label-{{ badge_class }}">
                        {{ bill.status|capitalize|trans }}
                    </span>#}

                    {% if 'canceled' == bill.status %}
                        <a class="btn btn-block btn-{{ badge_class }} btn-xs" href="#">
                            <i class="fa fa-x"></i> {{ bill.status|capitalize|trans }}
                        </a>
                    {% else %}
                        <a class="btn btn-block btn-{{ badge_class }} btn-xs" target="_blank" href="{{ bill.url }}">
                            <i class="fa fa-eye"></i> {{ bill.status|capitalize|trans }} | Visualizar
                        </a>
                    {% endif %}
                {% else %}
                    {#<a class="btn btn-block btn-warning btn-xs" data-url="{{ bill.url }}" data-id="{{ bill.id }}" data-action="charge" data-toggle="modal" data-target="#modal_check">
                        Pendente | Efetuar pagamento
                    </a>#}
                    <a class="btn btn-block btn-warning btn-xs" target="_blank" href="{{ bill.url }}">
                        <i class="fa fa-eye"></i> Pendente | Pagar
                    </a>
                {% endif %}

            </td>
            <td>
                {% if bill.subscription %}
                    {{ bill.subscription.plan.name }}
                {% endif %}
            </td>
            <td> {{ bill.id }} </td>
        </tr>
    {% endfor %}

    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" align="center">
            <div class="btn-group">
                {{ knp_pagination_render(pagination) }}
            </div>
        </td>
    </tr>
    </tfoot>
</table>

<script>
    $(function () {
        var pagination = $('.pagination');
        pagination.find('a').on('click', function (event) {
            event.preventDefault();
            var url = $(this).attr('href');
            Signature.payments(url);
        });
    });
</script>