{% extends view('layout') %}

{% block body %}

    <div class="modal inmodal fade" id="modal_payment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="prices_content">

                    <div class="row">

                        <div class="card-wrapper">
                        </div>

                        <form method="post" action="{{ path('signature_create') }}" id="form_signature"
                              style="margin-top: 1rem;">

                            <div class="form-control hide">
                                <input type="hidden" name="plan" required="required"  placeholder="Plan">
                            </div>
                            <div class="form-group col-md-6">
                                <input placeholder="Digite o número do cartão" required="required" type="text" name="number"
                                       class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Digite o nome igual no cartão" required="required" name="name"
                                       class="form-control"/>
                            </div>
                            <div class="form-group col-md-3">
                                <input placeholder="MM/YY" type="text" name="expiry" required="required" class="form-control"/>
                            </div>
                            <div class="form-group col-md-4">
                                <input placeholder="CVC" type="text" name="cvc" required="required" class="form-control"/>
                            </div>
                            <div class="form-group col-md-5">
                                <button id="send_payment" type="submit" class="btn btn-success btn-block ladda-button" data-style="zoom-in">
                                    <i class="fa fa-check"></i> Assinar
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div id="payment_alert" class="alert alert-danger hide">
                            Errors
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">
                        {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="real-content">

        {% for plan in plans %}

            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation" style="/*background-image: url()*/">
                            <span class="badge badge-info" style="margin-bottom:-155px;"> Tag aqui </span>
                        </div>
                        <div class="product-desc">

                            <a data-url="#"
                               data-toggle="modal"
                               data-target="#modal_details"
                               class="product-name">
                                {{ plan.name }}
                                <br/>
                                <small title="">
                                    {{ plan.description }}
                                </small>
                            </a>

                            {% for key, item in plan.plan_items if 0 == key %}
                                <div class="small m-t-xs">
                                    Valor: {{ item.product.pricing_schema.short_format }}
                                </div>
                            {% endfor %}

                            <div class="hr-line-dashed"></div>

                            <div class="row">
                                <div class="btn-group btn-group-justified">
                                    <a data-plan="{{ plan.id }}" data-toggle="modal" data-target="#modal_payment"
                                       class="btn btn-lg btn-success">
                                        <i class="fa fa-check"></i> Assinar
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}

    <script>
        $(function () {

            var handle_ajax = true;
            var payment_alert = $('#payment_alert');
            function show_alert(message, type) {
                var rm_class = 'alert-success';
                var add_class = 'alert-danger';
                if(201 == type) {
                    x_class = add_class;
                    add_class = rm_class;
                    rm_class = x_class;
                }

                rm_class += ' hide';
                payment_alert.removeClass(rm_class).addClass(add_class).html(message);
            }

                var form_payment = $('#form_signature');
                var send_payment = $('#send_payment');

                send_payment.ladda();

                form_payment.card({
                    container: '.card-wrapper'
                });

            if(handle_ajax) {
                form_payment.on('submit', function (event) {
                    event.preventDefault();
                    var form = $(this);
                    payment_alert.addClass('hide');
                    send_payment.ladda('start');
                    $.ajax({
                        url: form.attr('action'),
                        method: form.attr('method'),
                        data: form.serialize(),
                        complete: function (xhr) {
                            send_payment.ladda('stop');
                            show_alert(xhr.responseJSON.message, xhr.status);
                            if (xhr.responseJSON.hasOwnProperty('data')) {
                                console.log(xhr.responseJSON.data);
                            }
                        }
                    });
                });
            }

            $('[data-plan]').on('click', function () {
                $('[name="plan"]').val($(this).data('plan'));
            });

        });
    </script>
{% endblock %}