{% extends view('layout') %}

{% block styles %}

    <style>
        table tbody tr {
            display: table-row !important;
        }
        .label.label-status{
            background-color: #f2f2f2;
            border: 1px solid #b2b2b2;
            color: #555;
        }
        .label.status-building i{  color: #898989;  }
        .label.status-pending i{  color: #ff7701;  }
        .label.status-validated i{  color: #0a6aa1;  }
        .label.status-approved i{  color: #00a157;  }
        .label.status-rejected i{  color: #ffcd70;  }
        .label.status-done i{  color: #777;  }

        .validated {  color: #0a6aa1;  }
    </style>

{% endblock %}

{% block body %}

    <div class="modal inmodal" id="e_modal_details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated bounceInLeft">
                <div class="modal-header">
                    <h4 class="modal-title" id="id_title">
                    </h4>
                </div>
                <div class="modal-body" id="edit_freight">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="bt_save">
                        {{ 'Save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="modal_upload" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-file-text"></i> Enviar Comprovante de Pagamento
                    </h4>
                </div>
                <div class="modal-body">
                    {% include view('helper.spinner') %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-close"></i> {{ 'Close'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

                <div class="col-md-8">
                    <div class="row">

                        {{ form_start(form) }}

                        <div class="form-group col-md-3">
                            {{ form_widget(form.status,{attr:{class:'form-control'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-md">
                            <i class="fa fa-search"></i> Pesquisar
                        </button>

                        {{ form_end(form) }}

                    </div>
                </div>

                <div class="col-md-4">
                    <a class="btn btn-success pull-right" href="{{ path('project_generator') }}">
                        <i class="fa fa-plus"></i> Orçamento
                    </a>
                </div>


            <div class="col-md-12">
                <div class="ibox float-e-margins flow-h">
                    <div class="ibox-title flow-lg">
                        <h5>
                            <i class="fa fa-files-o"> </i> Meus Pedidos
                        </h5>

                        <span class="pull-right small text-muted">
                            <h3>{{ orders.totalItemCount }} Orde(s) encontrada(s)</h3>
                        </span>
                    </div>

                    <div class="ibox-content flow-lg">
                        <table class="table table-stripped">
                            <thead>
                                <tr>
                                    <td class="col-md-2 text-center">Número</td>
                                    <td class="text-center">Sistemas</td>
                                    <td class="text-center">Status</td>
                                    <td class="text-center">Arquivos</td>
                                    <td class="col-md-2">&nbsp;</td>
                                </tr>
                            </thead>

                            <tbody>
                            {% for item in orders %}
                            {% set order = item %}
                                <tr>
                                    <td class="text-center col-md-2">
                                        <h4>{{ item.reference }}</h4>
                                        <small>{{ item.createdAt|format_date }}</small>
                                    </td>
                                    <td class="text-center ">
                                        <h4>
                                            {% if order.childrens.count %}
                                                {% for children in order.childrens %}
                                                    {{ children.power }}, kWp
                                                {% endfor %}
                                            {% else %}
                                                Sem sistemas
                                            {% endif %}
                                        </h4>
                                        <small> {{ order.total|currency }} </small>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-status status-{{ order.statusName }}">
                                            <i class="fa fa-circle"></i> {{ order.statusName|capitalize|trans }}
                                        </span>
                                    </td>
                                    <td class="text-center col-md-4">
                                        <div class="btn-group btn-group-sm col-md-12 btn-group-justified">
                                            {% if order.hasProforma %}
                                                <a class="btn btn-default {{ order.proforma ? 'validated' }}" href="{{ path('order_file',{id:order.id, type:'proforma'}) }}"
                                                   target="_blank"> <i class="fa fa-file-pdf-o"></i>
                                                    <br><small>Proforma</small>
                                                </a>
                                            {% else %}
                                                <i class="btn btn-default fa fa-file-pdf-o">
                                                    <br><small>Proforma</small>
                                                </i>
                                            {% endif %}

                                            {% set shippingRules = order.shippingRules %}

                                            {% if attribute(shippingRules, 'type') is defined and 'self' == shippingRules.type %}

                                                <a class="btn btn-default {{ order.deliveryAddress ? 'validated' }}" data-url="{{ path('generator_company_shipping',{id: item.id}) }}"
                                                   data-toggle="modal"
                                                   data-target="#modal_details"
                                                   data-title="transportadora">
                                                    <i class="fa fa-truck"></i>
                                                    <br><small>Transportadora</small>
                                                </a>

                                            {% else %}

                                                <a class="btn btn-default {{ order.deliveryAddress ? 'validated' }}" data-toggle="modal" data-target="#modal_details"
                                                   data-url="{{ path('order_shipping_info', {id:order.id}) }}"
                                                   data-title="sices">
                                                    <i class="fa fa-truck"></i> <br><small>Frete Sices</small>
                                                </a>

                                            {% endif %}

                                            <a class="btn btn-default {{ order.FilePayment ? 'validated' }}" data-target="#modal_upload" data-toggle="modal"
                                               data-href="{{ path('order_upload',{id:item.id}) }}">
                                                <i class="fa fa-file-text"></i>
                                                <br><small>Comprovante</small>
                                            </a>

                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-default" href="{{ path('order_show', {id:item.id}) }}">
                                            <i class="fa fa-eye"></i> {{ 'View'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row text-center">
        <div class="btn-group bt-xs">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
    <style>
        table tbody tr {
            display: table-row !important;
        }

        table thead tr td {
            font-weight: bold;
        }

        #company-save {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}

    {% include view('helper.plugins_js') %}

    <script>
        var titleModal = $('#id_title');
        var edit_freight = $('#edit_freight');

        $('[data-target="#modal_details"]').on('click', function () {
            var url = $(this).data('url');

            var shipping = $(this).data('title');
            var title = (shipping == "sices") ? ' Frete Sices' : ' Dados da Transportadora';
            titleModal.html('<i class="fa fa-truck"> </i>'+ title);

            if (url) {
                $('#e_modal_details').modal('show');
                $.ajax({
                    url: url,
                    method: 'get',
                    success: function (response) {
                        edit_freight.html(response);
                        $('.address').removeClass('hide');
                    }
                });
            } else {
                edit_freight.html('<h1> Erro ao Editar </h1>');
            }
        });

        $('#bt_save').click(function () {
            $('#company-save').trigger('click');
            $('#address-save').trigger('click')
            $('#e_modal_details').modal('hide');
        });

        var modalUpload = $('#modal_upload');
        var modalUploadBody = modalUpload.find('.modal-body');

        modalUpload.on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var url = target.data('href');
            $.ajax({
                url: url,
                success: function (response) {
                    modalUploadBody.html(response);
                }
            });
        });

    </script>
{% endblock %}
