{% extends 'AppBundle:Settings:Nasa/common.html.twig' %}

{% block content %}

    <div class="">

        <div class="">
            <div style="width: 25%; float:left;">
                &nbsp;
            </div>
            <div style="width: 75%; float:left;">
                <div class="progress-bar progress-bar-primary" style="width:0">
                    <span class="sr-only"></span>
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="nasa_catalog">
            <div class="nasa_column_header">
                <button id="nasa_edit" style="width: 100%;" class="btn btn-sm btn-success">
                    <i class="fa fa-pencil"></i> {{ 'Edit'|trans }}
                </button>
            </div>
            <div class="nasa_months">
                <div class="nasa_column_header">
                    &nbsp;
                </div>
                {% for month in months %}
                    <div class="nasa_item_line">
                        {{ month }}
                    </div>
                {% endfor %}
            </div>
            <div class="nasa_climatic">
                {% for key, info in information %}
                    <div class="nasa_climatic_item">

                        <div class="nasa_column_header">
                            {{ attribute(labels, key) }} <br>
                            {{ attribute(units, key) }}
                        </div>

                        {% for item in info %}
                            <div class="nasa_item_line">
                                {{ item|decimal }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#nasa_edit').on('click', function () {
                $.ajax({
                    url: '{{ path('nasa_update') }}',
                    data: {latitude:NasaCatalog.getLatitude(), longitude:NasaCatalog.getLongitude()},
                    complete: function (xhr) {
                        $('#nasa_container').html(xhr.responseText);
                    }
                });
            });
        });
    </script>

{% endblock %}