<style>
    #proposal_message_body{
        resize: none;
        min-height: 15rem;
    }
</style>

<div class="row">
    <div class="col-md-12">

    {{ form_start(form,{attr:{id:'email_proposal', action:path('email_proposal',{token:project.token})}}) }}

    <div class="form-group">
        {{ form_label(form.to, 'Para') }}
        {{ form_widget(form.to,{attr:{class:'form-control', placeholder:'Para'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.subject, 'Assunto') }}
        {{ form_widget(form.subject,{attr:{class:'form-control', placeholder:'Assunto'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.body, 'Mensagem') }}
        {{ form_widget(form.body,{attr:{class:'form-control', placeholder:'Mensagem'}}) }}
    </div>

    <div class="form-group">
        {{ form_widget(form.sendCopy) }}
        {{ form_label(form.sendCopy, 'Enviar uma cópia para mim') }}
    </div>

    <div class="form-group">
        <div class="alert" style="display: none;">
        </div>
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-success btn-md ladda-button" data-style="zoom-in">
        <i class="fa fa-send"></i> Enviar
    </button>
    </div>

    {{ form_end(form) }}

</div>
</div>

<script>
    $(function(){
       var form_proposal = $('#email_proposal');
       var btn_proposal = form_proposal.find('[type="submit"]');
       var alert_proposal = form_proposal.find('.alert');

       btn_proposal.ladda();
       form_proposal.on('submit', function(event){
           event.preventDefault();
           alert_proposal.slideUp();
           btn_proposal.ladda('start');
           $.ajax({
               url: $(this).attr('action'),
               method: $(this).attr('method'),
               data: $(this).serialize(),
               complete: function(xhr){
                   var response = xhr.responseJSON;
                   if(200 == xhr.status){
                       alert_proposal.removeClass('alert-danger').addClass('alert-success').html('Email enviado com sucesso!').slideDown();
                       window.setTimeout(function(){
                           $('#email_modal').modal('hide');
                           window.location.reload();
                       }, 1500);
                   }else {
                       alert_proposal.removeClass('alert-success').addClass('alert-danger').html(response.error).slideDown();
                   }
                   btn_proposal.ladda('stop');
               }
           });
       });

    });
</script>