{% extends view('layout') %}

{% block styles %}
    <style>
        .label.label-status {
            background-color: #f2f2f2;
            border: 1px solid #b2b2b2;
            color: #555;
        }

        .label.status-0 i {
            color: #898989;
        }

        .label.status-1 i {
            color: #ff7701;
        }

        .label.status-2 i {
            color: #00a157;
        }

        .label.status-3 i {
            color: #ed4646;
        }

        .label.status-4 i {
            color: #ff9119;
        }

        .label.status-5 i {
            color: #ed4646;
        }

        .label.status-6 i {
            color: #1aa10f;
        }

        .label.status-7 i {
            color: #ed0a20;
        }

        .label.status-8 i {
            color: #43ecec;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="row">

            <div class="ibox">
                <div class="ibox-title">
                  <div class="row">
                      <form id="form-filter">
                          <div class="col-md-2">
                              {% include view('cart.cart_pool_status_filter') %}
                          </div>
                      </form>
                  </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="col-md-2"> Código </th>
                            {% if member.isPlatformUser %}
                                <th class="col-md-2"> Conta </th>
                            {% endif %}
                            <th class="col-md-2"> Data de criação </th>
                            <th class="col-md-2"> Valor </th>
                            <th class="col-md-2 text-center"> Status </th>
                            <th class="col-md-2 text-center">
                                <i class="fa fa-search-plus"></i>
                                &nbsp Mais Detalhes
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in pagination.items %}
                            <tr>
                                <td> {{ item.code }} </td>
                                {% if member.isPlatformUser %}
                                    <td> {{ item.account.firstname }} </td>
                                {% endif %}
                                <td> {{ item.createdAt|date('d/m/Y') }} </td>
                                <td> {{ item.amount|currency }}</td>
                                <td class="text-center">
                                    <span class="label label-status status-{{ item.status }}">
                                        <i class="fa fa-circle"></i> {{ item.statusName|upper }}:
                                        {% if item.updatedAt %}
                                            {{ item.updatedAt|date('d/m/Y') }}
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <a href="{{ path('cart_pool_detail', { id: item.id }) }}" class="btn btn-default">
                                        <i class="fa fa-eye"></i>
                                        {{ 'View'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="row">
                        {% set path = app.user.isPlatform ? path('kits_index') : path('index_kit') %}
                        <a href="{{ path }}" class="btn btn-white" type="button">
                            <i class="fa fa-arrow-left"></i>
                            Voltar
                        </a>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="btn-group bt-xs">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        var form_filtration = $("#form-filter");

        if(form_filtration.length) {
            StatusFilter(form_filtration);
        }
    </script>
{% endblock %}
