{% extends view('layout') %}

{% block body %}
    <style>
        .cart-product-imitation {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        .pool-total {
            padding-top: 10px;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h4>Pedido: {{ cartPool.code }}</h4>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Nome</strong></div>
                                        {{ cartPool.checkout.firstName }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Sobrenome</strong></div>
                                        {{ cartPool.checkout.lastName }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>{{ cartPool.checkout.documentType }}</strong></div>
                                        {{ cartPool.checkout.documentNumber }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Email</strong></div>
                                        {{ cartPool.checkout.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Telefone</strong></div>
                                        {{ cartPool.checkout.phone }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Rua</strong></div>
                                        {{ cartPool.checkout.street }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Número</strong></div>
                                        {{ cartPool.checkout.number }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Complemento</strong></div>
                                        {{ cartPool.checkout.complement }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Bairro</strong></div>
                                        {{ cartPool.checkout.neighborhood }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Cidade</strong></div>
                                        {{ cartPool.checkout.city }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Estado</strong></div>
                                        {{ cartPool.checkout.state }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>CEP</strong></div>
                                        {{ cartPool.checkout.zipcode }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Data/hora de criação</strong></div>
                                        {{ cartPool.createdAt|date("d/m/Y H:m:i") }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% if cartPool.checkout.differentDelivery and shipping %}
                    <div class="ibox">
                        <div class="ibox-title">
                            <h4>Dados de entrega</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                    <tr>
                                        <td class="col-md-3">
                                            <div><strong>Nome</strong></div>
                                            {{ shipping.name }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Email</strong></div>
                                            {{ shipping.email }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Telefone</strong></div>
                                            {{ shipping.phone_number }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>CEP</strong></div>
                                            {{ shipping.address.postal_code }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">
                                            <div><strong>Rua</strong></div>
                                            {{ shipping.address.street }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Número</strong></div>
                                            {{ shipping.address.number }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Complemento</strong></div>
                                            {{ shipping.address.complement }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Bairro</strong></div>
                                            {{ shipping.address.district }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-3">
                                            <div><strong>Cidade</strong></div>
                                            {{ shipping.address.city }}
                                        </td>

                                        <td class="col-md-3">
                                            <div><strong>Estado</strong></div>
                                            {{ shipping.address.state }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>{{ cartPool.items|length }}</strong>) item(s)</span>
                        <h4>Item(s)</h4>
                    </div>
                    <div class="ibox-content">
                        {% for kit in kits %}
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                    <tr>
                                        <td class="col-md-1">
                                            <div class="cart-product-imitation" style="background-image: url({{ kit.item.image|componentFilePath }})">
                                            </div>
                                        </td>
                                        <td class="desc col-md-6">
                                            <h3>
                                                <span class="text-navy">
                                                    {{ kit.item.name }}
                                                </span>
                                            </h3>
                                            <p class="small">
                                                {{ kit.item.description }}
                                            </p>
                                        </td>

                                        <td class="col-md-2">
                                            <div class="text-center">
                                                Valor
                                                <h4>R${{ kit.item.value|number_format(2, ',', '.') }}</h4>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="text-center">
                                                Quantidade
                                                <h4>
                                                    {{ kit.item.quantity }}
                                                </h4>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div class="text-center">
                                                Total
                                                <h4>
                                                    {{ kit.total|currency }}
                                                </h4>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ibox-footer">
                        Resumo
                        <span class="pull-right">
                          <strong>Total:</strong> {{ total|currency }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include view('helper.request') %}
    {% include view('helper.plugins_js') %}
{% endblock %}
