{% extends view('layout') %}

{% block body %}
    <div class="row">
        <div class="ibox-title">
            <h3>Checkout</h3>
        </div>
        <div class="ibox-content">
            {{ form_start(form, {attr:{id:'checkout_form'}}) }}

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.firstName, 'Nome') }}
                        {{ form_widget(form.firstName, {attr:{class:'form-control', placeholder:'Nome'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.lastName, 'Sobrenome') }}
                        {{ form_widget(form.lastName, {attr:{class:'form-control', placeholder:'Sobrenome'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Tipo de doc.</label>
                    <select id="checkout_document_type" class="form-control">
                        <option value="0" selected>CNPJ</option>
                        <option value="1">CPF</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label id="document_label">CNPJ</label>
                        {{ form_widget(form.document, {attr:{class:'form-control', placeholder:'CNPJ'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, {attr:{class:'form-control', placeholder:'Email'}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.phone, 'Telefone') }}
                        {{ form_widget(form.phone, {attr:{class:'form-control telephone', placeholder:'Telefone'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form_label(form.postcode, 'CEP') }}
                        {{ form_widget(form.postcode, {attr:{class:'form-control', placeholder:'CEP'}}) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.state, 'Estado') }}
                        {{ form_widget(form.state, {attr:{class:'form-control', placeholder:'Estado'}}) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.city, 'Cidade') }}
                        {{ form_widget(form.city, {attr:{class:'form-control', placeholder:'Cidade'}}) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.neighborhood, 'Bairro') }}
                        {{ form_widget(form.neighborhood, {attr:{class:'form-control', placeholder:'Bairro'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.street, 'Logradouro') }}
                        {{ form_widget(form.street, {attr:{class:'form-control', placeholder:'Logradouro'}}) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form_label(form.number, 'Número') }}
                        {{ form_widget(form.number, {attr:{class:'form-control', placeholder:'Número'}}) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_label(form.complement, 'Complemento') }}
                        {{ form_widget(form.complement, {attr:{class:'form-control', placeholder:'Complemento'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        {{ form_widget(form.differentDelivery, {attr:{class:'i-checks'}}) }}
                        {{ form_label(form.differentDelivery, 'Informar um endereço de entrega diferente') }}
                    </div>
                </div>
            </div>

            <div id="different_delivery" class="hidden">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.shippingName, 'Nome') }}
                            {{ form_widget(form.shippingName, {attr:{class:'form-control', placeholder:'Nome'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.shippingEmail, 'Email') }}
                            {{ form_widget(form.shippingEmail, {attr:{class:'form-control', placeholder:'Email'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.shippingPhone, 'Telefone') }}
                            {{ form_widget(form.shippingPhone, {attr:{class:'form-control telephone', placeholder:'Telefone'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.shippingPostcode, 'CEP') }}
                            {{ form_widget(form.shippingPostcode, {attr:{class:'form-control', placeholder:'CEP'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.shippingState, 'Estado') }}
                            {{ form_widget(form.shippingState, {attr:{class:'form-control', placeholder:'Estado'}}) }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            {{ form_label(form.shippingCity, 'Cidade') }}
                            {{ form_widget(form.shippingCity, {attr:{class:'form-control', placeholder:'Cidade'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.shippingNeighborhood, 'Bairro') }}
                            {{ form_widget(form.shippingNeighborhood, {attr:{class:'form-control', placeholder:'Bairro'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.shippingStreet, 'Logradouro') }}
                            {{ form_widget(form.shippingStreet, {attr:{class:'form-control', placeholder:'Logradouro'}}) }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.shippingNumber, 'Número') }}
                            {{ form_widget(form.shippingNumber, {attr:{class:'form-control', placeholder:'Número'}}) }}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            {{ form_label(form.shippingComplement, 'Complemento') }}
                            {{ form_widget(form.shippingComplement, {attr:{class:'form-control', placeholder:'Complemento'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}

            <div class="row">
                <a href="{{ path('cart_show') }}" class="btn btn-white" type="button">
                    <i class="fa fa-arrow-left"></i>
                    Cancelar
                </a>
                <a href="#" class="btn btn-primary pull-right" type="button">
                    <i class="fa fa-arrow-right"></i>
                    Avançar
                </a>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    {% include view('helper.request') %}
    {% include view('helper.plugins_js') %}

    <script>

        function showDifferentDelivery() {
            $('#different_delivery').removeClass('hidden');
        }

        function hideDifferentDelivery() {
            $('#different_delivery').addClass('hidden');
        }

        $('#checkout_differentDelivery').on('change', function () {
            if ($(this).is(':checked')) {
                showDifferentDelivery();
            } else {
                hideDifferentDelivery();
            }
        });

        $('#checkout_postcode').change(function () {
            $.ajax({
                url: '{{ path('utils_postcode') }}',
                method: 'post',
                data: {postcode: $('#checkout_postcode').val()},
                complete: function (xhr) {
                    if (xhr.status == 200 && xhr.responseJSON.status == 200) {
                        $('#checkout_state').val(xhr.responseJSON.state);
                        $('#checkout_city').val(xhr.responseJSON.city);
                        $('#checkout_neighbourhood').val(xhr.responseJSON.neighborhood);
                        $('#checkout_street').val(xhr.responseJSON.street);
                        $('#checkout_number').focus();
                    }
                }
            });
        });

        $('#checkout_shippingPostcode').change(function () {
            console.log('teste');
            $.ajax({
                url: '{{ path('utils_postcode') }}',
                method: 'post',
                data: {postcode: $('#checkout_shippingPostcode').val()},
                complete: function (xhr) {
                    if (xhr.status == 200 && xhr.responseJSON.status == 200) {
                        $('#checkout_shippingState').val(xhr.responseJSON.state);
                        $('#checkout_shippingCity').val(xhr.responseJSON.city);
                        $('#checkout_shippingNeighborhood').val(xhr.responseJSON.neighborhood);
                        $('#checkout_shippingStreet').val(xhr.responseJSON.street);
                        $('#checkout_shippingNumber').focus();
                    }
                }
            });
        });

        var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('.telephone').mask(SPMaskBehavior, spOptions);

        $('#checkout_document_type').on('change', function () {
            if ($(this).val() == '0') {
                $('#checkout_document').mask("99.999.999/9999-99");
                $('#document_label').html('CNPJ');
                $('#checkout_document').attr('placeholder', 'CNPJ');
            } else {
                $('#checkout_document').mask("999.999.999-99");
                $('#document_label').html('CPF');
                $('#checkout_document').attr('placeholder', 'CPF');
            }

            $('#checkout_document').val('');
        });
        $("#checkout_postcode").mask("00000-000");
        $("#checkout_shippingPostcode").mask("00000-000");
    </script>
{% endblock %}
