{% extends view('layout') %}

{% block body %}
    <style>
        .cart-product-imitation {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Dados do comprador</h5>
                        <a href="{{ path('cart_checkout') }}" class="pull-right">
                            Editar informações
                        </a>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">

                                <tbody>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Nome</strong></div>
                                        {{ data.firstName }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Sobrenome</strong></div>
                                        {{ data.lastName }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>{{ data.documentType }}</strong></div>
                                        {{ numbers.document }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Email</strong></div>
                                        {{ data.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Telefone</strong></div>
                                        {{ numbers.phone }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Rua</strong></div>
                                        {{ data.street }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Número</strong></div>
                                        {{ data.number }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Complemento</strong></div>
                                        {{ data.complement }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-3">
                                        <div><strong>Bairro</strong></div>
                                        {{ data.neighborhood }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Cidade</strong></div>
                                        {{ data.city }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>Estado</strong></div>
                                        {{ data.state }}
                                    </td>

                                    <td class="col-md-3">
                                        <div><strong>CEP</strong></div>
                                        {{ data.zipcode }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>{{ kits|length }}</strong>) item(s)</span>
                        <h5>Revise seu(s) item(s)</h5>
                    </div>
                    <div class="ibox-content">
                        {% for kit in kits %}
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                    <tr>
                                        <td class="col-md-1">
                                            <div class="cart-product-imitation" style="background-image: url({{ kit.kit.image|componentFilePath }})">
                                            </div>
                                        </td>
                                        <td class="desc col-md-6">
                                            <h3>
                                                <span class="text-navy">
                                                    {{ kit.kit.code }}
                                                </span>
                                            </h3>
                                            <p class="small">
                                                {{ kit.kit.description }}
                                            </p>
                                        </td>

                                        <td class="col-md-2">
                                            <div class="text-center">
                                                Valor
                                                <h4>R${{ kit.kit.price|number_format(2, ',', '.') }}</h4>
                                            </div>
                                        </td>
                                        <td class="col-md-1">
                                            <div class="text-center">
                                                Quantidade
                                                <h4>
                                                    {{ kit.quantity }}
                                                </h4>
                                            </div>
                                        </td>
                                        <td class="col-md-2">
                                            <div class="text-center">
                                                Total
                                                <h4>
                                                    R${{ kit.total|number_format(2, ',', '.') }}
                                                </h4>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ibox-content">
                        <a href="{{ path('cart_show') }}" class="btn btn-white">
                            <i class="fa fa-arrow-left"></i> Voltar ao carrinho
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Pagamento</h5>
                    </div>
                    <div class="ibox-content">
                            <span>
                                Total
                            </span>
                        <h2 class="font-bold">
                            {{ data.amount|currency }}
                        </h2>

                        <hr>
                        <span class="text-muted small">
                                Realizar pagamento
                            </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm pay-button-checkout">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
<script>

    var Confirmation = {
        idCartPool: '{{ cartPoolId }}',
        createGetnetIframe: function () {

            var getnetIfrm = document.createElement('script');

            getnetIfrm.setAttribute('id', 'getnet');
            getnetIfrm.setAttribute('data-getnet-sellerid', '4609a349-e4b8-4edf-a332-5a45c9fe7d19');
            getnetIfrm.setAttribute('data-getnet-token', '{{ data.token }}');
            getnetIfrm.setAttribute('data-getnet-amount', '{{ data.amount }}');
            //getnetIfrm.setAttribute('data-getnet-instructions', 'Teste');
            getnetIfrm.setAttribute('data-getnet-customerid', '{{ data.customerId }}');
            getnetIfrm.setAttribute('data-getnet-orderid', Confirmation.idCartPool);
            getnetIfrm.setAttribute('data-getnet-button-class', 'pay-button-checkout');
            getnetIfrm.setAttribute('data-getnet-installments', '4');
            getnetIfrm.setAttribute('data-getnet-customer-first-name', '{{ data.firstName }}');
            getnetIfrm.setAttribute('data-getnet-customer-last-name', '{{ data.lastName }}');
            getnetIfrm.setAttribute('data-getnet-customer-document-type', '{{ data.documentType }}');
            getnetIfrm.setAttribute('data-getnet-customer-document-number', '{{ data.documentNumber }}');
            getnetIfrm.setAttribute('data-getnet-customer-email', '{{ data.email }}');
            getnetIfrm.setAttribute('data-getnet-customer-phone-number', '{{ data.phone }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-street', '{{ data.street }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-street-number', '{{ data.number }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-complementary', '{{ data.complement }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-neighborhood', '{{ data.neighborhood }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-city', '{{ data.city }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-state', '{{ data.state }}');
            getnetIfrm.setAttribute('data-getnet-customer-address-zipcode', '{{ data.zipcode }}');
            getnetIfrm.setAttribute('data-getnet-customer-country', '{{ data.country }}');
            getnetIfrm.setAttribute('data-getnet-items', '{{ data.items|raw }}');
            getnetIfrm.setAttribute('data-getnet-url-callback', '');

            getnetIfrm.src = 'https://checkout-homologacao.getnet.com.br/loader.js?' + Confirmation.idCartPool;
            document.querySelector('body').appendChild(getnetIfrm);

            getnetIfrm.onload = function() {
                Confirmation.getnetListener();
            };
        },
        finishCartPool: function (type) {

            $.ajax({
                url: "{{ path('cart_pool_finish', {id: cartPoolId}) }}",
                method: "post",
                complete: function (response) {
                    if (response.status === 200) {
                        window.location = '{{ path("payment_feedback") }}';
                    }
                }
            });
        },
        getnetListener: function () {
            getnet.subscribe('success', function() {
                Confirmation.finishCartPool('success');
            });

            getnet.subscribe('pending', function() {
                Confirmation.finishCartPool('pending');
            });

            getnet.subscribe('error', function(status, response) {
                console.log(status);
                console.log(response);
            });
        },
        init: function () {

            this.createGetnetIframe();
        }
    };

    Confirmation.init();
</script>
{% endblock %}
