{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ register is defined and register.isInit ? 'Criar uma conta' : 'Concluir registro' }}
{% endblock %}

{% block fos_user_content %}


    <!-- Pré-Registro Dados -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-lg-12 ibox-content">
                <div class="ibox float-e-margins">
                   <!-- <form method="get" class="form-horizontal">-->
                    {{ form_start(form) }}

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">CNPJ </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.document,{attr:{class:'form-control'}}) }}
                                    <!--<input type="text" class="form-control" placeholder="CNPJ:">-->
                                </div>


                                <label class="col-sm-2 control-label">Inscrição Estadual </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.inscription,{attr:{class:'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Razão Social </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.lastname,{attr:{class:'form-control'}}) }}
                                </div>

                                <label class="col-sm-2 control-label">Nome-Fantasia </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.firstname,{attr:{class:'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Contato </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.contact,{attr:{class:'form-control'}}) }}
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Email </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.email,{attr:{class:'form-control'}}) }}
                                </div>

                                <label class="col-sm-2 control-label">Telefone </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.phone,{attr:{class:'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-1 control-label">CEP</label>
                                <div class="col-sm-3">
                                    {{ form_widget(form.postcode,{attr:{class:'form-control'}}) }}
                                </div>

                                <label class="col-sm-1 control-label">Estado </label>
                                <div class="col-sm-3">
                                    {{ form_widget(form.state,{attr:{class:'form-control'}}) }}
                                </div>
                                <label class="col-sm-1 control-label">Cidade </label>
                                <div class="col-sm-3">
                                    {{ form_widget(form.city,{attr:{class:'form-control'}}) }}
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Bairro </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.district,{attr:{class:'form-control'}}) }}
                                </div>

                                <label class="col-sm-2 control-label">Logradouro: </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.street,{attr:{class:'form-control'}}) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 ibox-content">
                            <div class="col-sm-12">
                                <label class="col-sm-2 control-label">Número </label>
                                <div class="col-sm-4">
                                    {{ form_widget(form.number,{attr:{class:'form-control'}}) }}
                                </div>

                            </div>
                        </div>  <!-- cep, estado, cidade,  bairro,lagradouro,  numero -->

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.middle-box').removeClass('middle-box');
        });
    </script>
{% endblock %}