{% extends view('layout') %}

{% block body  %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="ibox-content">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-5">
                        {{ form_label(form.name, 'Nome') }}
                        {{ form_widget(form.name , {'attr' : { 'class' : 'form-control', 'placeholder' : 'Digite o nome do fabricante'}} ) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_label(form.context, 'Tipo de Fábrica') }}
                        {{ form_widget(form.context, {'attr' : { 'class' : 'form-control' }} ) }}
                    </div>
                    <div class="col-md-2 text-center">
                        <div>
                            {{ form_label(form.enabled, 'Ativo') }}
                        </div>
                        {{ form_widget(form.enabled ) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="pull-left" style="padding-top: 15px">
                            <input type="submit" class="btn btn-primary" value="Salvar">
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
