{% extends view('layout') %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox flow-h">
                    <div class="ibox-content flow-lg">
                        <div class="row">
                            {% set makers = pagination.items %}

                            <div class="col-md-12 ibox">
                                <div class="col-md-3">
                                    <select id="filter-family" class="form-control selected" title="Família">
                                        <option value=""> Família &raquo; Todas </option>
                                        {% for key, family in families %}
                                            <option {{ current_family == key ? 'selected="selected"' }} value="{{ key }}"> {{ family|trans }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {{ knp_pagination_filter(pagination, {'m.name':''}) }}
                            </div>

                            <div class="ibox-content">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>{{'Name'|trans}}</th>
                                                <th class="col-md-2">Tipo de Fabricante</th>
                                                <th class="col-md-2">Status</th>
                                                <th class="col-md-2">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for maker in makers %}
                                            <tr>
                                                <td>{{maker.name}}</td>
                                                <td>
                                                    {{maker.context|trans}}
                                                </td>
                                                <td>
                                                    {% if(maker.enabled == 1) %}
                                                        {{'Enabled'|trans}}
                                                    {% else %}
                                                        {{'Disabled'|trans}}
                                                    {% endif %}

                                                </td>
                                                <td>
                                                    <a href="{{path('maker_update',{'id':maker.id})}}" class="btn btn-sm btn-success">
                                                        <i class="fa fa-edit"></i> {{'Edit'|trans}}
                                                    </a>
                                                    <a href="{{path('maker_delete',{'id':maker.id})}}" class="btn btn-sm btn-danger">
                                                        <i class="fa fa-remove"></i> {{'Delete'|trans}}
                                                    </a>
                                                </td>
                                            <tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    {{ knp_pagination_render(pagination) }}
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        var form_filtration = $('#form_filtration');
        var filter_family = $('#filter-family');
        var current_family = '{{ current_family }}';
        if(form_filtration.length){
            form_filtration.append($('<input type="hidden" name="family"/>').val(current_family));
            filter_family.on('change', function(){
                $('input[name="family"]').val($(this).val());
                form_filtration.trigger('submit');
            });
        }
    </script>


{% endblock %}
