{% include view('helper.plugins_js') %}

<script>
    $(function () {

        var handle_ajax = true;
        var number_users = $('#number_users');
        var number_target = $('#signature_product_items_1_quantity');
        var change_users = $('[data-user]');
        var price = {{ prices.main }};
        var next_price = {{ prices.extra }};
        var min_users = {{ account.activeMembers.count }};
        var is_update = {{ update ? 'true' : 'false' }};

        var Progress = {
            redirect: function () {
                window.setTimeout(function () {
                    window.location.href = '{{ path('signature') }}';
                }, 1500);
            },
            processing: function () {
                swal({
                    title: 'Aguarde',
                    message: 'Processando',
                    type: 'info',
                    showConfirmButton: false
                });
            },
            success: function (message) {
                swal({
                    title: 'Sucesso',
                    text: message,
                    type: 'success',
                    html: true,
                    showConfirmButton: false
                });
            },
            error: function (message) {
                swal({
                    title: 'Verifique o erro',
                    text: message,
                    type: 'error',
                    html: true
                });
            }
        };

        var Customer = {
            is_signature: !is_update,
            form: $('#form_customer'),
            save: function () {
                Http.request({
                    url: Customer.form.attr('action'),
                    method: Customer.form.attr('method'),
                    data: Customer.form.serialize(),
                    callback: function (xhr) {
                        if (Http.accepted == xhr.status) {
                            if (Customer.is_signature) {
                                Signature.save();
                            } else {
                                Progress.success('Dados cadastrais atualizados com sucesso!');
                                Progress.redirect();
                            }
                        } else {
                            Progress.error(xhr.responseJSON.message);
                        }
                    },
                    onRequest: function () {
                        Progress.processing();
                    }
                });
            },
            init: function () {
                if (Customer.is_signature) {
                    Customer.form.find('[type="submit"]').hide();
                }
                Customer.form.on('submit', function (event) {
                    event.preventDefault();

                    if (is_update) {
                        Customer.save();
                    } else {

                        text = '<div class="row">' +
                            '<div class="col-md-6 col-md-offset-3 text-left">' +
                            '<strong>Plano: </strong> ' + $('#plan_header_name').html() + ' <br>' +
                            '<strong>Usuários: </strong>' + number_users.val() + '<br>' +
                            '<strong>Valor: </strong> R$ ' + $('#plan_amount').html() + '/mês <br>' +
                            '</div>' +
                            '</div>';

                        swal({
                            title: 'Configuração do Plano',
                            text: text,
                            html: true,
                            showCancelButton: true,
                            closeOnConfirm: false,
                            cancelButtonText: 'Cancelar',
                            confirmButtonColor: '#1ab394',
                            confirmButtonText: 'Confirmar Assinatura'
                        }, function () {
                            Customer.save();
                        });
                    }
                });
            }
        };

        Customer.init();

        var Signature = {
            form: $('#form_signature'),
            save: function () {
                Http.request({
                    url: Signature.form.attr('action'),
                    data: Signature.form.serialize(),
                    callback: function (xhr) {
                        var response = xhr.responseJSON;
                        if (Http.success == xhr.status) {
                            Progress.success(response.message + '<br> Redirecionando...');
                            Progress.redirect();
                        } else {
                            if('upgrade' == response.message) {
                                swal.close();
                                $('#modal_plan').modal('hide');
                                $('#modal_upgrade').modal('show');
                                $('#modal_upgrade').find('.modal-body').html(response.content);
                            }else{
                                Progress.error(response.message);
                            }
                        }
                    },
                    onRequest: function () {
                        Progress.processing();
                    }
                });
            },
            init: function(){
                Signature.form.on('submit', function(event){
                    event.preventDefault();
                    if(is_update){

                        if(number_users.val() < {{ account.maxMembers }} ){

                            swal({
                                title: 'Atenção',
                                text: 'Ao fazer isso você irá reduzir o número de usuários ativos da sua conta. Recomendamos fazer esta ação no último dia de seu período',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Confirmar ação',
                                cancelButtonText: 'Cancelar ação',
                                closeOnConfirm: false
                            }, function(){

                                Signature.save();
                            });

                        }else{

                            Signature.save();
                        }
                    }else {
                        Customer.form.find('[type="submit"]').trigger('click');
                    }
                });
            }
        };

        function check_amount() {
            var quantity = parseInt(number_target.val());
            var amount = (quantity * next_price) + price;
            $('#plan_amount').html(numeral(amount).format('0,0.00'));
            $('#per_amount').html(numeral(amount / (quantity + 1)).format('0,0.00'));
        }

        check_amount();

        function check_users() {
            var val = parseInt(number_users.val());
            if (val > 0) {
                number_target.val(val - 1);
            } else {
                number_target.val(0);
            }
            check_amount();

            if (val == 1) {
                change_blocks('info');
            } else {
                change_blocks('amount');
            }

        }

        check_users();

        number_users.on('change', function () {
            check_users();
        });

        function change_blocks(type) {
            var amount_block = $('#amount_block'),
                info_block = $('#info_block');
            if ('info' == type) {
                amount_block.hide();
                info_block.show();
            } else {
                info_block.hide();
                amount_block.show();
            }
        }

        change_users.on('click', function () {
            var val = parseInt($(this).data('user'));
            var next = parseInt(number_users.val()) + val;

            if (next >= min_users) {
                if (next > 10) {
                    swal({
                        title: 'Deseja mais usuários?',
                        text: 'Entre em contato conosco <br> atendimento@inovadorsolar.com',
                        type: 'info',
                        html: true
                    });
                } else {
                    number_users.val(next);
                    check_users();
                }
            } else {
                swal({
                    title: 'Número mínimo atingido',
                    text: 'O número solicitado não deve ser inferior ao número de usuários ativos na conta',
                    type: 'info',
                    html: true
                });
            }
        });

        Signature.form.card({
            container: '.card-wrapper',
            formSelectors: {
                numberInput: 'input#signature_payment_profile_card_number',
                expiryInput: 'input#signature_payment_profile_card_expiration',
                cvcInput: 'input#signature_payment_profile_card_cvv',
                nameInput: 'input#signature_payment_profile_holder_name'
            }
        });

        //$('#signature_payment_profile_card_number').focus();

        Signature.init();

        /*if (handle_ajax) {
            Signature.form.on('submit', function (event) {
                event.preventDefault();

                text = '<div class="row">' +
                    '<div class="col-md-6 col-md-offset-3 text-left">' +
                    '<strong>Plano: </strong> Nome do Plano <br>' +
                    '<strong>Usuários: </strong>' + number_users.val() + '<br>' +
                    '<strong>Valor: </strong> R$ ' + $('#plan_amount').html() + '/mês <br>' +
                    '</div>' +
                    '</div>';

                if (is_update) {
                    Signature.save();
                } else {
                    swal({
                        title: 'Configuração do Plano',
                        text: text,
                        html: true,
                        showCancelButton: true,
                        closeOnConfirm: false
                    }, function () {
                        Customer.save();
                    });
                }
            });
        }*/

        function get_address_info(postcode, options) {
            $.ajax({
                url: '{{ path('brazil_postcode') }}',
                method: 'post',
                data: {postcode: postcode},
                complete: function (xhr) {
                    options.callback(xhr);
                }
            });
        }

        if (Customer.form.length) {
            $('[data-address="postcode"]').on('change', function () {
                get_address_info($(this).val(), {
                    callback: function (xhr) {
                        var response = xhr.responseJSON;
                        if (response.hasOwnProperty('resultado') && 1 == response.resultado) {
                            $('[data-address="state"]').val(response.uf);
                            $('[data-address="city"]').val(response.cidade);
                            $('[data-address="district"]').val(response.bairro);
                            $('[data-address="street"]').val(response.tipo_logradouro + ' ' + response.logradouro);
                            $('[data-address="number"]').focus();
                        }
                    }
                });
            });

            var customer_type = $('.btn-type');
            var customer_document = $('#signature_customer_registry_code');
            var document_label = $('label[for="signature_customer_registry_code"]');
            var name_label = $('label[for="signature_customer_name"]');

            function change_document_mask(input) {
                var apply = input.val();
                customer_document.mask(apply).attr('placeholder', apply);
                document_label.html(apply.indexOf('/') > 0 ? 'CNPJ' : 'CPF');
                name_label.html(apply.indexOf('/') > 0 ? 'Nome da Empresa' : 'Nome');
            }

            customer_type.on('click', function () {
                change_document_mask($(this).find('input'));
                customer_type.removeClass('btn-primary').addClass('btn-default');
                $(this).removeClass('btn-default').addClass('btn-primary');
            });

            if (!customer_document.val() || customer_document.val().length < 12) {
                customer_type.first().trigger('click');

            } else {
                customer_type.last().trigger('click');
            }
        }
    });
</script>