{#
{% extends view('layout') %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Membros da Equipe <small>Preencha os campos corretamente.</small></h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Definir Líder</h3>

                            <select name="leader" class="form-control" id="leader-select">
                                {% for member in team.members %}
                                    <option value="{{member.id}}" {% if(member.teamLeader) == 1 %} selected {% endif %}   >{{member.firstname}}</option>
                                {% endfor %}
                            </select>
                            <br> &nbsp;
                        </div>
                    </div>
                    <div class="row team-on" >
                        <div class="col-lg-12">
                            <h3>Minha Equipe</h3>
                        </div>
                        {% for member in team.members %}
                            <div class="col-lg-4" id="userid-{{member.id}}">
                                <div class="contact-box">
                                    <div class="col-sm-4">
                                        <div class="text-center">

                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>{{member.firstname}}</strong></h3>
                                        <div class="form-group">
                                            <label><input type="checkbox"  value="{{member.id}}"s checked="checked" > Mover usuário</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                    <div class="row team-off">
                        <hr>
                        <div class="col-lg-12">
                            <h3>Adicionar a Equipe</h3>
                        </div>
                        {% for member in offmembers if not member.isOwner %}
                            <div class="col-lg-4" id="userid-{{member.id}}" >
                                <div class="contact-box">
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            {{ picture(member, 'mini', {'class':'img-circle menu-picture-user'}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h3><strong>{{ member.firstname }}</strong></h3>
                                        <div class="form-group">
                                            <label><input type="checkbox" value="{{member.id}}"> Mover usuário</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-lg-12">
                            <div class="pull-right">
                                <a class="btn btn-primary" href="{{path('team_index')}}">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock%}
    #}
