<div class="ibox float-e-margins flow-md">
    <div class="ibox-title">
        <span class="label label-success pull-right">
            <i class="{{ icon('sale_stages') }}"></i>
        </span>
        <h5> Status dos orçamentos </h5>
    </div>

    {% for data in collection %}

    <div class="ibox-content">
        <div class="row">
            <div class="col-xs-3">
                <small class="stats-label"> Status dos orçamentos </small>
                <h4> {{ data.status }} </h4>
            </div>

            <div class="col-xs-3">
                <small class="stats-label"> Qtde de orçamentos </small>
                <h4> {{ data.count }} </h4>
            </div>
            <div class="col-xs-3">
                <small class="stats-label"> Valor dos orçamentos </small>
                <h4> {{ data.amount|currency }} </h4>
            </div>
            <div class="col-xs-3">
                <small class="stats-label"> Potência dos orçamentos </small>
                <h4> {{ data.power|decimal }} kWp </h4>
            </div>
        </div>
    </div>

    {% endfor %}

</div>
